openapi: 3.2.0
info:
  title: Mock Person Addresses API
  version: 1.0.0
  contact:
    name: DoIT Enterprise Integration API Team
    email: api@doit.wisc.edu
    url: https://go.wisc.edu/k701y6
  description: A mock implementation of the Person API.
servers:
- url: https://mock.api.wisc.edu
security:
- OAuth2ClientCredentials: []
tags:
- name: Addresses
paths:
  /people/{id}/addresses:
    get:
      description: 'Get a person''s addresses, split into separate resource objects depending on the type and source of address. Home addresses will only show up if requested and granted during the request process.


        The following combinations of addressType and source are available:


        Types for source: CSIS


        permanentHome


        Types for source: SIS


        currentHome


        permanentHome


        Types for source: Summer Research Opportunities Program


        currentHome


        permanentHome


        Types for source: UW Hospital and Clinics


        office


        permanentHome


        Types for source: UW Medical Foundation


        office


        permanentHome


        Types for source: UW-Madison Special Populations


        office


        permanentHome


        Types for source: Workday


        office


        permanentHome'
      summary: Get addresses
      operationId: get_person_addresses
      tags:
      - Addresses
      parameters:
      - name: id
        description: 'ID of a person. This parameter should not be manually built/concatenated, but instead be used by following the fully-formed links returned in an API response. To get a person by an ID, use query parameters to search by a specific identifier. Example: /people?filter[identifiers.name]=netId&filter[identifiers.value]=bbadger'
        in: path
        example: e2118c5a-aae2-4475-a661-bb0592effefa
        required: true
        schema:
          type: string
          description: An ephemeral identifier used only in the Person API to adhere to the [JSON:API specification](https://jsonapi.org/format/#document-resource-object-identification). This ID may change if a person is split into two people or two people are merged into one person. This ID is used for paginating results or following other links returned in the API response. This ID should not be stored in a consuming system. Concatenating parts of the URL to form a link is discouraged. Instead, use the fully-formed links returned in an API response.
      - name: fields
        in: query
        description: Specify the list of fields you would like to return for each resource type.  For example, `fields[people]=firstName,lastName` will just return the names for people.  If you are including related resources with 'includes' you can also specify fields on those resources as well.  For example, `includes=jobs&fields[people]=jobs&fields[jobs]=title` will just return titles for jobs.  See [Sparse Fieldsets](https://jsonapi.org/format/#fetching-sparse-fieldsets) for more details.
        required: false
        style: deepObject
        explode: true
        schema:
          type: object
          additionalProperties: false
          properties:
            type:
              type: string
              example: people
      - name: advancedFilter
        in: query
        description: Filter results of query using the [Advanced Filter](https://kb.wisc.edu/uw-apis/158404#advanced-filters).
        required: false
        style: deepObject
        explode: true
        schema:
          type: object
          additionalProperties: false
          properties:
            attribute:
              type: string
              example: and(equals(firstName, "John"), equals(lastName, "Doe"))
      - name: filter[line1]
        in: query
        required: false
        description: Filter results using the [filter query parameter family](https://jsonapi.org/recommendations/#filtering). Refer to the [Person API Documentation](https://kb.wisc.edu/uw-apis/158404) for more information. Filter `addresses` resources by `line1`.
        schema:
          type:
          - string
          - 'null'
      - name: filter[line2]
        in: query
        required: false
        description: Filter results using the [filter query parameter family](https://jsonapi.org/recommendations/#filtering). Refer to the [Person API Documentation](https://kb.wisc.edu/uw-apis/158404) for more information. Filter `addresses` resources by `line2`.
        schema:
          type:
          - string
          - 'null'
      - name: filter[line3]
        in: query
        required: false
        description: Filter results using the [filter query parameter family](https://jsonapi.org/recommendations/#filtering). Refer to the [Person API Documentation](https://kb.wisc.edu/uw-apis/158404) for more information. Filter `addresses` resources by `line3`.
        schema:
          type:
          - string
          - 'null'
      - name: filter[line4]
        in: query
        required: false
        description: Filter results using the [filter query parameter family](https://jsonapi.org/recommendations/#filtering). Refer to the [Person API Documentation](https://kb.wisc.edu/uw-apis/158404) for more information. Filter `addresses` resources by `line4`.
        schema:
          type:
          - string
          - 'null'
      - name: filter[city]
        in: query
        required: false
        description: Filter results using the [filter query parameter family](https://jsonapi.org/recommendations/#filtering). Refer to the [Person API Documentation](https://kb.wisc.edu/uw-apis/158404) for more information. Filter `addresses` resources by `city`.
        schema:
          type:
          - string
          - 'null'
      - name: filter[state]
        in: query
        required: false
        description: Filter results using the [filter query parameter family](https://jsonapi.org/recommendations/#filtering). Refer to the [Person API Documentation](https://kb.wisc.edu/uw-apis/158404) for more information. Filter `addresses` resources by `state`.
        schema:
          type:
          - string
          - 'null'
      - name: filter[county]
        in: query
        required: false
        description: Filter results using the [filter query parameter family](https://jsonapi.org/recommendations/#filtering). Refer to the [Person API Documentation](https://kb.wisc.edu/uw-apis/158404) for more information. Filter `addresses` resources by `county`.
        schema:
          type:
          - string
          - 'null'
      - name: filter[country]
        in: query
        required: false
        description: Filter results using the [filter query parameter family](https://jsonapi.org/recommendations/#filtering). Refer to the [Person API Documentation](https://kb.wisc.edu/uw-apis/158404) for more information. Filter `addresses` resources by `country`.
        schema:
          type:
          - string
          - 'null'
      - name: filter[postalCode]
        in: query
        required: false
        description: Filter results using the [filter query parameter family](https://jsonapi.org/recommendations/#filtering). Refer to the [Person API Documentation](https://kb.wisc.edu/uw-apis/158404) for more information. Filter `addresses` resources by `postalCode`.
        schema:
          type:
          - string
          - 'null'
      - name: filter[source]
        in: query
        required: false
        description: Filter results using the [filter query parameter family](https://jsonapi.org/recommendations/#filtering). Refer to the [Person API Documentation](https://kb.wisc.edu/uw-apis/158404) for more information. Filter `addresses` resources by `source`.
        schema:
          type:
          - string
          - 'null'
      - name: filter[addressType]
        in: query
        required: false
        description: Filter results using the [filter query parameter family](https://jsonapi.org/recommendations/#filtering). Refer to the [Person API Documentation](https://kb.wisc.edu/uw-apis/158404) for more information. Filter `addresses` resources by `addressType`.
        schema:
          type:
          - string
          - 'null'
      - name: filter[institution]
        in: query
        required: false
        description: Filter results using the [filter query parameter family](https://jsonapi.org/recommendations/#filtering). Refer to the [Person API Documentation](https://kb.wisc.edu/uw-apis/158404) for more information. Filter `addresses` resources by `institution`.
        schema:
          type:
          - string
          - 'null'
      responses:
        '200':
          description: A collection of addresses.
          content:
            application/vnd.api+json:
              schema:
                type: object
                required:
                - data
                - links
                properties:
                  data:
                    description: A collection of addresses
                    type: array
                    items:
                      description: Details about an address associated with a person.
                      type: object
                      required:
                      - type
                      - id
                      - attributes
                      - relationships
                      properties:
                        type:
                          type: string
                          example: addresses
                        id:
                          type: string
                          description: Ephemeral ID used to adhere to the JSON:API specification. This ID should not be stored.
                        attributes:
                          type: object
                          required:
                          - line1
                          - line2
                          - line3
                          - line4
                          - city
                          - state
                          - county
                          - country
                          - postalCode
                          - source
                          - addressType
                          - institution
                          properties:
                            line1:
                              description: Line 1 of the address.
                              type: string
                              example: 123 Main Street
                              minLength: 1
                            line2:
                              description: Line 2 of the address.
                              type:
                              - string
                              - 'null'
                              example: Apartment 1
                            line3:
                              description: Line 3 of the address.
                              type:
                              - string
                              - 'null'
                            line4:
                              description: Line 4 of the address.
                              type:
                              - string
                              - 'null'
                            city:
                              description: The city associated with the address.
                              type: string
                              example: Madison
                              minLength: 1
                            state:
                              description: The state associated with the address.
                              type:
                              - string
                              - 'null'
                              example: WI
                            county:
                              description: The county associated with the address.
                              type:
                              - string
                              - 'null'
                              example: Dane
                            country:
                              description: The country associated with the address.
                              type:
                              - string
                              - 'null'
                              example: US
                            postalCode:
                              description: The postal/zip code associated with the address.
                              type:
                              - string
                              - 'null'
                              example: '53715'
                            source:
                              description: The source of the address.
                              type: string
                              enum:
                              - CSIS
                              - SIS
                              - Summer Research Opportunities Program
                              - UW-Madison Special Authorization
                              - UW Hospital and Clinics
                              - UW Medical Foundation
                              - Workday
                              example: Workday
                            addressType:
                              description: The type of address.
                              type: string
                              enum:
                              - currentHome
                              - permanentHome
                              - office
                              example: office
                            institution:
                              description: The institution associated with the resource.
                              type: string
                              example: UW-Madison
                              enum:
                              - Shared
                              - UW-Eau Claire
                              - UW-Green Bay
                              - UW-La Crosse
                              - UW-Madison
                              - UW-Milwaukee
                              - UW Oshkosh
                              - UW-Parkside
                              - UW-Platteville
                              - UW-River Falls
                              - UW-Stevens Point
                              - UW-Stout
                              - UW-Superior
                              - UW-Whitewater
                              - UW-Extension
                              - UW System
                        relationships:
                          type: object
                          required:
                          - person
                          properties:
                            person:
                              description: A generic relationship object
                              type: object
                              properties:
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      example: https://api.wisc.edu/link/to/related/object
                                data:
                                  type:
                                  - object
                                  - 'null'
                                  properties:
                                    type:
                                      type: string
                                      example: sampleType
                                    id:
                                      type: string
                                      example: sampleId
                  links:
                    description: The link to access a resource itself
                    type: object
                    properties:
                      self:
                        type: string
                        example: https://api.wisc.edu/link/to/self
              examples:
                example-addresses:
                  value:
                    data:
                    - attributes:
                        line1: 700 Regent Street
                        line2: Unit 200
                        line3: null
                        line4: null
                        city: Madison
                        state: WI
                        county: Dane
                        country: US
                        postalCode: '53715'
                        source: Workday
                        addressType: office
                        institution: UW-Madison
                      id: 01737027-bf91-49ce-a38f-09f5ecc2eae2
                      relationships:
                        person:
                          data:
                            id: e2118c5a-aae2-4475-a661-bb0592effefa
                            type: people
                          links:
                            related: https://api.wisc.edu/people/e2118c5a-aae2-4475-a661-bb0592effefa
                      type: addresses
                    links:
                      self: https://api.wisc.edu/people/e2118c5a-aae2-4475-a661-bb0592effefa/addresses
        '400':
          description: A bad request.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                application/vnd.api+json:
                  value:
                    errors:
                    - id: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                      links: {}
                      meta: {}
                      source: {}
                      status: 400
                      title: Bad Request
                      detail: Invalid properties in query parameters - resource type 'people' has no attribute 'invalid'.
        '401':
          description: Incorrect or expired OAuth token.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                unauthorized-response:
                  value:
                    errors:
                    - status: 401
                      title: Unauthorized
                      detail: Invalid OAuth authentication - InvalidAccessToken
        '403':
          description: The API call is authenticated but the client isn't allowed to perform the requested operation. This can occur when trying to update a resource when granted read-only access.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                name-update-example:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
                      detail: Client is not allowed to create, update, or delete a person's name.
                no-access-example:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
                      detail: Requested method is forbidden for endpoint - GET - /people
                disabled-temporarily-example:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
                      detail: Webhook Create/Update/Delete operations are disabled temporarily. Try again later.
        '404':
          description: Unable to find the specified record
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                not-found-example:
                  value:
                    errors:
                    - status: 404
                      title: Not Found
                      detail: Requested resource not found.
        '406':
          description: Servers respond with a 406 Not Acceptable status code if a request’s Accept header contains the JSON:API media type and all instances of that media type are modified with media type parameters.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                not-acceptable-example:
                  value:
                    errors:
                    - status: 406
                      title: Not Acceptable
                      detail: Request's Accept header contained the JSON:API media type and all instances of that media type were modified with media type parameters.
        '429':
          description: The API quota has been exceeded.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                not-found-example:
                  value:
                    errors:
                    - status: 429
                      title: Too Many Requests
                      detail: The quota has been exceeded.
        '500':
          description: An unexpected error.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                not-found-example:
                  value:
                    errors:
                    - status: 500
                      title: Internal Server Error
                      detail: Something went wrong in the server-side.
components:
  securitySchemes:
    OAuth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.wisc.edu/oauth/token
          scopes: {}
externalDocs:
  description: Read more about JSON:API here
  url: https://jsonapi.org/
