openapi: 3.2.0
info:
  title: Mock Person Webhooks API
  version: 1.0.0
  contact:
    name: DoIT Enterprise Integration API Team
    email: api@doit.wisc.edu
    url: https://go.wisc.edu/k701y6
  description: A mock implementation of the Person API.
servers:
- url: https://mock.api.wisc.edu
security:
- OAuth2ClientCredentials: []
tags:
- name: Webhooks
paths:
  /people/webhooks:
    get:
      description: Get a collection of webhooks. Refer to the Webhooks Documentation for more information, including detailed descriptions of the metrics.
      summary: Get webhooks
      operationId: get_webhooks
      tags:
      - Webhooks
      responses:
        '200':
          description: A collection of webhooks.
          content:
            application/vnd.api+json:
              schema:
                type: object
                required:
                - data
                - links
                properties:
                  data:
                    description: A collection of webhooks.
                    type: array
                    items:
                      description: A webhook represents the configuration for an application to subscribe to events from the Person API. Webhook events are HTTP requests that will be sent to a server when data changes about a person. Refer to the [Webhooks Documentation](https://kb.wisc.edu/uw-apis/158498) for more information, including detailed descriptions of the metrics.
                      type: object
                      required:
                      - type
                      - id
                      - attributes
                      - links
                      - relationships
                      properties:
                        type:
                          type: string
                          example: webhooks
                        id:
                          type: string
                          description: An identifier used to identify non-person resources, such as Certificates and Webhooks. This ID is used for following other links returned in the API response. Concatenating parts of the URL to form a link is discouraged. Instead, use the fully-formed links returned in an API response.
                        attributes:
                          type: object
                          required:
                          - url
                          - expired
                          properties:
                            url:
                              type: string
                              format: url
                              example: https://department.wisc.edu/person-api-webhook
                              description: URL that accepts Person API webhook events. This URL must use HTTPS.
                            token:
                              type: string
                              readOnly: true
                              description: A secret token sent with each webhook event. A server must verify this token when receiving a webhook from the Person API to ensure it is authenticate. This token is only returned when creating a webhook and cannot be set by the client. It cannot be retrieved again in future requests.
                            expired:
                              type: boolean
                              readOnly: false
                              description: Indicates whether the webhook subscription has expired. This value can be set to false to un-expire a webhook but can not be set to true to expire it.
                            relationships:
                              type: array
                              readOnly: false
                              description: The relationships to insert into the `included` section of webhook events.
                              default:
                              - identifiers
                              items:
                                type: string
                                enum:
                                - identifiers
                                - pastIdentifiers
                            advancedFilter:
                              type:
                              - string
                              - 'null'
                              example: jobs(equals(current, true))
                              description: Advanced filter to apply to webhook events. When set, only events matching this filter will be delivered. This field is mutually exclusive with webhook filters (webhookFilters). For more information see [Advanced Filter](https://kb.wisc.edu/uw-apis/158404#advanced-filters).
                            ackedInPastWeek:
                              type: number
                              readOnly: true
                              description: 'Metric: The total number of message acknowledgements within the last 7 days.'
                              example: 5000
                            deadlineExceededInPastWeek:
                              type: number
                              readOnly: true
                              description: 'Metric: The total number of messages which were not acknowledged before timing out within the last 7 days.'
                              example: 35
                            oldestUnackedMessageAge:
                              type: number
                              readOnly: true
                              description: 'Metric: The age (in seconds) of the oldest unacknowledged message currently in your subscription.'
                              example: 6500
                            4xxResponsesInPastWeek:
                              type: number
                              readOnly: true
                              description: 'Metric: The total number of HTTP 4xx responses to delivery attempts within the last 7 days.'
                              example: 20
                            5xxResponsesInPastWeek:
                              type: number
                              readOnly: true
                              description: 'Metric: The total number of HTTP 5xx responses to delivery attempts within the last 7 days.'
                              example: 10
                        links:
                          description: The link to access a resource itself
                          type: object
                          properties:
                            self:
                              type: string
                              example: https://api.wisc.edu/link/to/self
                        relationships:
                          type: object
                          required:
                          - replay
                          - webhookFilters
                          - webhookRelationshipFilters
                          properties:
                            replay:
                              description: A generic relationship object
                              type: object
                              properties:
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      example: https://api.wisc.edu/link/to/related/object
                                data:
                                  type:
                                  - object
                                  - 'null'
                                  properties:
                                    type:
                                      type: string
                                      example: sampleType
                                    id:
                                      type: string
                                      example: sampleId
                            webhookFilters:
                              description: A generic relationship object
                              type: object
                              properties:
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      example: https://api.wisc.edu/link/to/related/object
                                data:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        example: sampleType
                                      id:
                                        type: string
                                        example: sampleId
                            webhookRelationshipFilters:
                              description: A generic relationship object
                              type: object
                              properties:
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      example: https://api.wisc.edu/link/to/related/object
                                data:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        example: sampleType
                                      id:
                                        type: string
                                        example: sampleId
                  links:
                    description: The link to access a resource itself
                    type: object
                    properties:
                      self:
                        type: string
                        example: https://api.wisc.edu/link/to/self
              examples:
                example-webhooks:
                  value:
                    data:
                    - attributes:
                        url: https://department.wisc.edu/person-api-webhook
                        expired: false
                        relationships:
                        - identifiers
                        - pastIdentifiers
                        ackedInPastWeek: 3000
                        deadlineExceededInPastWeek: 40
                        oldestUnackedMessageAge: 4500
                        4xxResponsesInPastWeek: 20
                        5xxResponsesInPastWeek: 10
                      id: 2b1b6b19-7ab1-47f5-a9ce-ae0c754411f4
                      links:
                        self: https://api.wisc.edu/people/webhooks/2b1b6b19-7ab1-47f5-a9ce-ae0c754411f4
                      type: webhooks
                      relationships:
                        replay:
                          links:
                            related: https://api.wisc.edu/people/webhooks/2b1b6b19-7ab1-47f5-a9ce-ae0c754411f4/replay
                        webhookFilters:
                          data: []
                          links:
                            related: https://api.wisc.edu/people/webhooks/2b1b6b19-7ab1-47f5-a9ce-ae0c754411f4/filters
                        webhookRelationshipFilters:
                          data: []
                          links:
                            related: https://api.wisc.edu/people/webhooks/2b1b6b19-7ab1-47f5-a9ce-ae0c754411f4/relationshipFilters
                    links:
                      self: https://api.wisc.edu/people/webhooks
        '401':
          description: Incorrect or expired OAuth token.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                unauthorized-response:
                  value:
                    errors:
                    - status: 401
                      title: Unauthorized
                      detail: Invalid OAuth authentication - InvalidAccessToken
        '403':
          description: The API call is authenticated but the client isn't allowed to perform the requested operation. This can occur when trying to update a resource when granted read-only access.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                name-update-example:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
                      detail: Client is not allowed to create, update, or delete a person's name.
                no-access-example:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
                      detail: Requested method is forbidden for endpoint - GET - /people
                disabled-temporarily-example:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
                      detail: Webhook Create/Update/Delete operations are disabled temporarily. Try again later.
        '406':
          description: Servers respond with a 406 Not Acceptable status code if a request’s Accept header contains the JSON:API media type and all instances of that media type are modified with media type parameters.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                not-acceptable-example:
                  value:
                    errors:
                    - status: 406
                      title: Not Acceptable
                      detail: Request's Accept header contained the JSON:API media type and all instances of that media type were modified with media type parameters.
        '429':
          description: The API quota has been exceeded.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                not-found-example:
                  value:
                    errors:
                    - status: 429
                      title: Too Many Requests
                      detail: The quota has been exceeded.
        '500':
          description: An unexpected error.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                not-found-example:
                  value:
                    errors:
                    - status: 500
                      title: Internal Server Error
                      detail: Something went wrong in the server-side.
    post:
      description: Create a webhook. A maximum of 5 webhooks per Developer Portal application are allowed. Refer to the Webhooks Documentation for more information.
      summary: Create a webhook
      operationId: create_webhook
      tags:
      - Webhooks
      requestBody:
        description: A webhook request body.
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  allOf:
                  - description: The data object for webhook create and update request bodies.
                    type: object
                    required:
                    - type
                    properties:
                      type:
                        type: string
                        example: webhooks
                        enum:
                        - webhooks
                      attributes:
                        type: object
                        required:
                        - url
                        properties:
                          url:
                            type: string
                            format: uri
                            minLength: 1
                            example: https://department.wisc.edu/person-api-webhook
                            description: URL that accepts Person API webhook events. This URL must use HTTPS.
                          expired:
                            type: boolean
                            example: false
                            description: Indicates whether the webhook subscription has expired. This value can be set to false to un-expire a webhook but can not be set to true to expire it.
                          relationships:
                            type: array
                            description: The relationships to insert into the `included` section of webhook events.
                            default:
                            - identifiers
                            items:
                              type: string
                              enum:
                              - identifiers
                              - pastIdentifiers
                          advancedFilter:
                            type:
                            - string
                            - 'null'
                            example: jobs(equals(current, true))
                            description: Advanced filter to apply to webhook events. When set, only events matching this filter will be delivered. This field is mutually exclusive with webhook filters (webhookFilters). For more information see [Advanced Filter](https://kb.wisc.edu/uw-apis/158404#advanced-filters).
                  - required:
                    - attributes
      responses:
        '201':
          description: A single just created webhook.
          content:
            application/vnd.api+json:
              schema:
                type: object
                required:
                - data
                - links
                properties:
                  data:
                    description: A webhook represents the configuration for an application to subscribe to events from the Person API. Webhook events are HTTP requests that will be sent to a server when data changes about a person. Refer to the [Webhooks Documentation](https://kb.wisc.edu/uw-apis/158498) for more information, including detailed descriptions of the metrics.
                    type: object
                    required:
                    - type
                    - id
                    - attributes
                    - links
                    - relationships
                    properties:
                      type:
                        type: string
                        example: webhooks
                      id:
                        type: string
                        description: An identifier used to identify non-person resources, such as Certificates and Webhooks. This ID is used for following other links returned in the API response. Concatenating parts of the URL to form a link is discouraged. Instead, use the fully-formed links returned in an API response.
                      attributes:
                        type: object
                        required:
                        - url
                        - expired
                        properties:
                          url:
                            type: string
                            format: url
                            example: https://department.wisc.edu/person-api-webhook
                            description: URL that accepts Person API webhook events. This URL must use HTTPS.
                          token:
                            type: string
                            readOnly: true
                            description: A secret token sent with each webhook event. A server must verify this token when receiving a webhook from the Person API to ensure it is authenticate. This token is only returned when creating a webhook and cannot be set by the client. It cannot be retrieved again in future requests.
                          expired:
                            type: boolean
                            readOnly: false
                            description: Indicates whether the webhook subscription has expired. This value can be set to false to un-expire a webhook but can not be set to true to expire it.
                          relationships:
                            type: array
                            readOnly: false
                            description: The relationships to insert into the `included` section of webhook events.
                            default:
                            - identifiers
                            items:
                              type: string
                              enum:
                              - identifiers
                              - pastIdentifiers
                          advancedFilter:
                            type:
                            - string
                            - 'null'
                            example: jobs(equals(current, true))
                            description: Advanced filter to apply to webhook events. When set, only events matching this filter will be delivered. This field is mutually exclusive with webhook filters (webhookFilters). For more information see [Advanced Filter](https://kb.wisc.edu/uw-apis/158404#advanced-filters).
                          ackedInPastWeek:
                            type: number
                            readOnly: true
                            description: 'Metric: The total number of message acknowledgements within the last 7 days.'
                            example: 5000
                          deadlineExceededInPastWeek:
                            type: number
                            readOnly: true
                            description: 'Metric: The total number of messages which were not acknowledged before timing out within the last 7 days.'
                            example: 35
                          oldestUnackedMessageAge:
                            type: number
                            readOnly: true
                            description: 'Metric: The age (in seconds) of the oldest unacknowledged message currently in your subscription.'
                            example: 6500
                          4xxResponsesInPastWeek:
                            type: number
                            readOnly: true
                            description: 'Metric: The total number of HTTP 4xx responses to delivery attempts within the last 7 days.'
                            example: 20
                          5xxResponsesInPastWeek:
                            type: number
                            readOnly: true
                            description: 'Metric: The total number of HTTP 5xx responses to delivery attempts within the last 7 days.'
                            example: 10
                      links:
                        description: The link to access a resource itself
                        type: object
                        properties:
                          self:
                            type: string
                            example: https://api.wisc.edu/link/to/self
                      relationships:
                        type: object
                        required:
                        - replay
                        - webhookFilters
                        - webhookRelationshipFilters
                        properties:
                          replay:
                            description: A generic relationship object
                            type: object
                            properties:
                              links:
                                type: object
                                properties:
                                  related:
                                    type: string
                                    example: https://api.wisc.edu/link/to/related/object
                              data:
                                type:
                                - object
                                - 'null'
                                properties:
                                  type:
                                    type: string
                                    example: sampleType
                                  id:
                                    type: string
                                    example: sampleId
                          webhookFilters:
                            description: A generic relationship object
                            type: object
                            properties:
                              links:
                                type: object
                                properties:
                                  related:
                                    type: string
                                    example: https://api.wisc.edu/link/to/related/object
                              data:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      example: sampleType
                                    id:
                                      type: string
                                      example: sampleId
                          webhookRelationshipFilters:
                            description: A generic relationship object
                            type: object
                            properties:
                              links:
                                type: object
                                properties:
                                  related:
                                    type: string
                                    example: https://api.wisc.edu/link/to/related/object
                              data:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      example: sampleType
                                    id:
                                      type: string
                                      example: sampleId
                  links:
                    description: The link to access a resource itself
                    type: object
                    properties:
                      self:
                        type: string
                        example: https://api.wisc.edu/link/to/self
              examples:
                example-webhook:
                  value:
                    data:
                      attributes:
                        url: https://department.wisc.edu/person-api-webhook
                        token: 16f6f440-7317-41f2-9239-6207519b3ad0
                        expired: false
                        relationships:
                        - identifiers
                        - pastIdentifiers
                        ackedInPastWeek: 0
                        deadlineExceededInPastWeek: 0
                        oldestUnackedMessageAge: 0
                        4xxResponsesInPastWeek: 0
                        5xxResponsesInPastWeek: 0
                      id: 2b1b6b19-7ab1-47f5-a9ce-ae0c754411f4
                      links:
                        self: https://api.wisc.edu/people/webhooks/2b1b6b19-7ab1-47f5-a9ce-ae0c754411f4
                      type: webhooks
                      relationships:
                        replay:
                          links:
                            related: https://api.wisc.edu/people/webhooks/2b1b6b19-7ab1-47f5-a9ce-ae0c754411f4/replay
                        webhookFilters:
                          data: []
                          links:
                            related: https://api.wisc.edu/people/webhooks/2b1b6b19-7ab1-47f5-a9ce-ae0c754411f4/filters
                        webhookRelationshipFilters:
                          data: []
                          links:
                            related: https://api.wisc.edu/people/webhooks/2b1b6b19-7ab1-47f5-a9ce-ae0c754411f4/relationshipFilters
                    links:
                      self: https://api.wisc.edu/people/webhooks/2b1b6b19-7ab1-47f5-a9ce-ae0c754411f4
          links:
            GetWebhookById:
              operationId: get_webhook
              parameters:
                webhookId: $response.body#/data/id
            UpdateWebhookById:
              operationId: update_webhook
              parameters:
                webhookId: $response.body#/data/id
            DeleteWebhookById:
              operationId: delete_webhook
              parameters:
                webhookId: $response.body#/data/id
            GetFiltersForWebhook:
              operationId: get_all_filters_for_webhook
              parameters:
                webhookId: $response.body#/data/id
            CreateFilterForWebhook:
              operationId: create_filter_for_webhook
              parameters:
                webhookId: $response.body#/data/id
            GetRelationshipFiltersForWebhook:
              operationId: get_all_relationship_filters_for_webhook
              parameters:
                webhookId: $response.body#/data/id
            CreateRelationshipFilterForWebhook:
              operationId: create_relationship_filter_for_webhook
              parameters:
                webhookId: $response.body#/data/id
        '400':
          description: A bad request.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                application/vnd.api+json:
                  value:
                    errors:
                    - id: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                      links: {}
                      meta: {}
                      source: {}
                      status: 400
                      title: Bad Request
                      detail: Invalid properties in query parameters - resource type 'people' has no attribute 'invalid'.
        '401':
          description: Incorrect or expired OAuth token.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                unauthorized-response:
                  value:
                    errors:
                    - status: 401
                      title: Unauthorized
                      detail: Invalid OAuth authentication - InvalidAccessToken
        '403':
          description: The API call is authenticated but the client isn't allowed to perform the requested operation. This can occur when trying to update a resource when granted read-only access.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                name-update-example:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
                      detail: Client is not allowed to create, update, or delete a person's name.
                no-access-example:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
                      detail: Requested method is forbidden for endpoint - GET - /people
                disabled-temporarily-example:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
                      detail: Webhook Create/Update/Delete operations are disabled temporarily. Try again later.
        '406':
          description: Servers respond with a 406 Not Acceptable status code if a request’s Accept header contains the JSON:API media type and all instances of that media type are modified with media type parameters.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                not-acceptable-example:
                  value:
                    errors:
                    - status: 406
                      title: Not Acceptable
                      detail: Request's Accept header contained the JSON:API media type and all instances of that media type were modified with media type parameters.
        '415':
          description: 'Request includes a body but not the valid JSON API Content-Type header: application/vnd.api+json'
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                unsupported-media-type-example:
                  value:
                    errors:
                    - status: 415
                      title: Unsupported Media Type
                      detail: Requests with a body must include the Content-Type header with a value of application/vnd.api+json
        '429':
          description: The API quota has been exceeded.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                not-found-example:
                  value:
                    errors:
                    - status: 429
                      title: Too Many Requests
                      detail: The quota has been exceeded.
        '500':
          description: An unexpected error.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                not-found-example:
                  value:
                    errors:
                    - status: 500
                      title: Internal Server Error
                      detail: Something went wrong in the server-side.
  /people/webhooks/{webhookId}:
    get:
      description: Get a single webhook. Refer to the Webhooks Documentation for more information, including detailed descriptions of the metrics.
      summary: Get a webhook
      operationId: get_webhook
      tags:
      - Webhooks
      parameters:
      - name: webhookId
        description: ID of a webhook. This parameter should not be manually built/concatenated, but instead be used by following the fully-formed links returned in an API response.
        in: path
        example: b463e0f7-c882-4b08-a9c7-e0a2fd90d04b
        required: true
        schema:
          type: string
          description: An identifier used to identify non-person resources, such as Certificates and Webhooks. This ID is used for following other links returned in the API response. Concatenating parts of the URL to form a link is discouraged. Instead, use the fully-formed links returned in an API response.
      responses:
        '200':
          description: A single webhook.
          content:
            application/vnd.api+json:
              schema:
                type: object
                required:
                - data
                - links
                properties:
                  data:
                    description: A webhook represents the configuration for an application to subscribe to events from the Person API. Webhook events are HTTP requests that will be sent to a server when data changes about a person. Refer to the [Webhooks Documentation](https://kb.wisc.edu/uw-apis/158498) for more information, including detailed descriptions of the metrics.
                    type: object
                    required:
                    - type
                    - id
                    - attributes
                    - links
                    - relationships
                    properties:
                      type:
                        type: string
                        example: webhooks
                      id:
                        type: string
                        description: An identifier used to identify non-person resources, such as Certificates and Webhooks. This ID is used for following other links returned in the API response. Concatenating parts of the URL to form a link is discouraged. Instead, use the fully-formed links returned in an API response.
                      attributes:
                        type: object
                        required:
                        - url
                        - expired
                        properties:
                          url:
                            type: string
                            format: url
                            example: https://department.wisc.edu/person-api-webhook
                            description: URL that accepts Person API webhook events. This URL must use HTTPS.
                          token:
                            type: string
                            readOnly: true
                            description: A secret token sent with each webhook event. A server must verify this token when receiving a webhook from the Person API to ensure it is authenticate. This token is only returned when creating a webhook and cannot be set by the client. It cannot be retrieved again in future requests.
                          expired:
                            type: boolean
                            readOnly: false
                            description: Indicates whether the webhook subscription has expired. This value can be set to false to un-expire a webhook but can not be set to true to expire it.
                          relationships:
                            type: array
                            readOnly: false
                            description: The relationships to insert into the `included` section of webhook events.
                            default:
                            - identifiers
                            items:
                              type: string
                              enum:
                              - identifiers
                              - pastIdentifiers
                          advancedFilter:
                            type:
                            - string
                            - 'null'
                            example: jobs(equals(current, true))
                            description: Advanced filter to apply to webhook events. When set, only events matching this filter will be delivered. This field is mutually exclusive with webhook filters (webhookFilters). For more information see [Advanced Filter](https://kb.wisc.edu/uw-apis/158404#advanced-filters).
                          ackedInPastWeek:
                            type: number
                            readOnly: true
                            description: 'Metric: The total number of message acknowledgements within the last 7 days.'
                            example: 5000
                          deadlineExceededInPastWeek:
                            type: number
                            readOnly: true
                            description: 'Metric: The total number of messages which were not acknowledged before timing out within the last 7 days.'
                            example: 35
                          oldestUnackedMessageAge:
                            type: number
                            readOnly: true
                            description: 'Metric: The age (in seconds) of the oldest unacknowledged message currently in your subscription.'
                            example: 6500
                          4xxResponsesInPastWeek:
                            type: number
                            readOnly: true
                            description: 'Metric: The total number of HTTP 4xx responses to delivery attempts within the last 7 days.'
                            example: 20
                          5xxResponsesInPastWeek:
                            type: number
                            readOnly: true
                            description: 'Metric: The total number of HTTP 5xx responses to delivery attempts within the last 7 days.'
                            example: 10
                      links:
                        description: The link to access a resource itself
                        type: object
                        properties:
                          self:
                            type: string
                            example: https://api.wisc.edu/link/to/self
                      relationships:
                        type: object
                        required:
                        - replay
                        - webhookFilters
                        - webhookRelationshipFilters
                        properties:
                          replay:
                            description: A generic relationship object
                            type: object
                            properties:
                              links:
                                type: object
                                properties:
                                  related:
                                    type: string
                                    example: https://api.wisc.edu/link/to/related/object
                              data:
                                type:
                                - object
                                - 'null'
                                properties:
                                  type:
                                    type: string
                                    example: sampleType
                                  id:
                                    type: string
                                    example: sampleId
                          webhookFilters:
                            description: A generic relationship object
                            type: object
                            properties:
                              links:
                                type: object
                                properties:
                                  related:
                                    type: string
                                    example: https://api.wisc.edu/link/to/related/object
                              data:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      example: sampleType
                                    id:
                                      type: string
                                      example: sampleId
                          webhookRelationshipFilters:
                            description: A generic relationship object
                            type: object
                            properties:
                              links:
                                type: object
                                properties:
                                  related:
                                    type: string
                                    example: https://api.wisc.edu/link/to/related/object
                              data:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      example: sampleType
                                    id:
                                      type: string
                                      example: sampleId
                  links:
                    description: The link to access a resource itself
                    type: object
                    properties:
                      self:
                        type: string
                        example: https://api.wisc.edu/link/to/self
              examples:
                example-webhook:
                  value:
                    data:
                      attributes:
                        url: https://department.wisc.edu/person-api-webhook
                        expired: false
                        relationships:
                        - identifiers
                        - pastIdentifiers
                        ackedInPastWeek: 5000
                        deadlineExceededInPastWeek: 30
                        oldestUnackedMessageAge: 6500
                        4xxResponsesInPastWeek: 15
                        5xxResponsesInPastWeek: 20
                      id: 2b1b6b19-7ab1-47f5-a9ce-ae0c754411f4
                      links:
                        self: https://api.wisc.edu/people/webhooks/2b1b6b19-7ab1-47f5-a9ce-ae0c754411f4
                      type: webhooks
                      relationships:
                        replay:
                          links:
                            related: https://api.wisc.edu/people/webhooks/2b1b6b19-7ab1-47f5-a9ce-ae0c754411f4/replay
                        webhookFilters:
                          data: []
                          links:
                            related: https://api.wisc.edu/people/webhooks/2b1b6b19-7ab1-47f5-a9ce-ae0c754411f4/filters
                        webhookRelationshipFilters:
                          data: []
                          links:
                            related: https://api.wisc.edu/people/webhooks/2b1b6b19-7ab1-47f5-a9ce-ae0c754411f4/relationshipFilters
                    links:
                      self: https://api.wisc.edu/people/webhooks/2b1b6b19-7ab1-47f5-a9ce-ae0c754411f4
        '401':
          description: Incorrect or expired OAuth token.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                unauthorized-response:
                  value:
                    errors:
                    - status: 401
                      title: Unauthorized
                      detail: Invalid OAuth authentication - InvalidAccessToken
        '403':
          description: The API call is authenticated but the client isn't allowed to perform the requested operation. This can occur when trying to update a resource when granted read-only access.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                name-update-example:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
                      detail: Client is not allowed to create, update, or delete a person's name.
                no-access-example:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
                      detail: Requested method is forbidden for endpoint - GET - /people
                disabled-temporarily-example:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
                      detail: Webhook Create/Update/Delete operations are disabled temporarily. Try again later.
        '404':
          description: Unable to find the specified record
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                not-found-example:
                  value:
                    errors:
                    - status: 404
                      title: Not Found
                      detail: Requested resource not found.
        '406':
          description: Servers respond with a 406 Not Acceptable status code if a request’s Accept header contains the JSON:API media type and all instances of that media type are modified with media type parameters.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                not-acceptable-example:
                  value:
                    errors:
                    - status: 406
                      title: Not Acceptable
                      detail: Request's Accept header contained the JSON:API media type and all instances of that media type were modified with media type parameters.
        '429':
          description: The API quota has been exceeded.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                not-found-example:
                  value:
                    errors:
                    - status: 429
                      title: Too Many Requests
                      detail: The quota has been exceeded.
        '500':
          description: An unexpected error.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                not-found-example:
                  value:
                    errors:
                    - status: 500
                      title: Internal Server Error
                      detail: Something went wrong in the server-side.
    patch:
      description: Update a webhook. Refer to the Webhooks Documentation for more information.
      summary: Update a webhook
      operationId: update_webhook
      tags:
      - Webhooks
      parameters:
      - name: webhookId
        description: ID of a webhook. This parameter should not be manually built/concatenated, but instead be used by following the fully-formed links returned in an API response.
        in: path
        example: b463e0f7-c882-4b08-a9c7-e0a2fd90d04b
        required: true
        schema:
          type: string
          description: An identifier used to identify non-person resources, such as Certificates and Webhooks. This ID is used for following other links returned in the API response. Concatenating parts of the URL to form a link is discouraged. Instead, use the fully-formed links returned in an API response.
      requestBody:
        description: A webhook request body.
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  allOf:
                  - description: The data object for webhook create and update request bodies.
                    type: object
                    required:
                    - type
                    properties:
                      type:
                        type: string
                        example: webhooks
                        enum:
                        - webhooks
                      attributes:
                        type: object
                        required:
                        - url
                        properties:
                          url:
                            type: string
                            format: uri
                            minLength: 1
                            example: https://department.wisc.edu/person-api-webhook
                            description: URL that accepts Person API webhook events. This URL must use HTTPS.
                          expired:
                            type: boolean
                            example: false
                            description: Indicates whether the webhook subscription has expired. This value can be set to false to un-expire a webhook but can not be set to true to expire it.
                          relationships:
                            type: array
                            description: The relationships to insert into the `included` section of webhook events.
                            default:
                            - identifiers
                            items:
                              type: string
                              enum:
                              - identifiers
                              - pastIdentifiers
                          advancedFilter:
                            type:
                            - string
                            - 'null'
                            example: jobs(equals(current, true))
                            description: Advanced filter to apply to webhook events. When set, only events matching this filter will be delivered. This field is mutually exclusive with webhook filters (webhookFilters). For more information see [Advanced Filter](https://kb.wisc.edu/uw-apis/158404#advanced-filters).
                  - required:
                    - id
                    properties:
                      id:
                        type: string
                        description: An identifier used to identify non-person resources, such as Certificates and Webhooks. This ID is used for following other links returned in the API response. Concatenating parts of the URL to form a link is discouraged. Instead, use the fully-formed links returned in an API response.
      responses:
        '200':
          description: A single webhook.
          content:
            application/vnd.api+json:
              schema:
                type: object
                required:
                - data
                - links
                properties:
                  data:
                    description: A webhook represents the configuration for an application to subscribe to events from the Person API. Webhook events are HTTP requests that will be sent to a server when data changes about a person. Refer to the [Webhooks Documentation](https://kb.wisc.edu/uw-apis/158498) for more information, including detailed descriptions of the metrics.
                    type: object
                    required:
                    - type
                    - id
                    - attributes
                    - links
                    - relationships
                    properties:
                      type:
                        type: string
                        example: webhooks
                      id:
                        type: string
                        description: An identifier used to identify non-person resources, such as Certificates and Webhooks. This ID is used for following other links returned in the API response. Concatenating parts of the URL to form a link is discouraged. Instead, use the fully-formed links returned in an API response.
                      attributes:
                        type: object
                        required:
                        - url
                        - expired
                        properties:
                          url:
                            type: string
                            format: url
                            example: https://department.wisc.edu/person-api-webhook
                            description: URL that accepts Person API webhook events. This URL must use HTTPS.
                          token:
                            type: string
                            readOnly: true
                            description: A secret token sent with each webhook event. A server must verify this token when receiving a webhook from the Person API to ensure it is authenticate. This token is only returned when creating a webhook and cannot be set by the client. It cannot be retrieved again in future requests.
                          expired:
                            type: boolean
                            readOnly: false
                            description: Indicates whether the webhook subscription has expired. This value can be set to false to un-expire a webhook but can not be set to true to expire it.
                          relationships:
                            type: array
                            readOnly: false
                            description: The relationships to insert into the `included` section of webhook events.
                            default:
                            - identifiers
                            items:
                              type: string
                              enum:
                              - identifiers
                              - pastIdentifiers
                          advancedFilter:
                            type:
                            - string
                            - 'null'
                            example: jobs(equals(current, true))
                            description: Advanced filter to apply to webhook events. When set, only events matching this filter will be delivered. This field is mutually exclusive with webhook filters (webhookFilters). For more information see [Advanced Filter](https://kb.wisc.edu/uw-apis/158404#advanced-filters).
                          ackedInPastWeek:
                            type: number
                            readOnly: true
                            description: 'Metric: The total number of message acknowledgements within the last 7 days.'
                            example: 5000
                          deadlineExceededInPastWeek:
                            type: number
                            readOnly: true
                            description: 'Metric: The total number of messages which were not acknowledged before timing out within the last 7 days.'
                            example: 35
                          oldestUnackedMessageAge:
                            type: number
                            readOnly: true
                            description: 'Metric: The age (in seconds) of the oldest unacknowledged message currently in your subscription.'
                            example: 6500
                          4xxResponsesInPastWeek:
                            type: number
                            readOnly: true
                            description: 'Metric: The total number of HTTP 4xx responses to delivery attempts within the last 7 days.'
                            example: 20
                          5xxResponsesInPastWeek:
                            type: number
                            readOnly: true
                            description: 'Metric: The total number of HTTP 5xx responses to delivery attempts within the last 7 days.'
                            example: 10
                      links:
                        description: The link to access a resource itself
                        type: object
                        properties:
                          self:
                            type: string
                            example: https://api.wisc.edu/link/to/self
                      relationships:
                        type: object
                        required:
                        - replay
                        - webhookFilters
                        - webhookRelationshipFilters
                        properties:
                          replay:
                            description: A generic relationship object
                            type: object
                            properties:
                              links:
                                type: object
                                properties:
                                  related:
                                    type: string
                                    example: https://api.wisc.edu/link/to/related/object
                              data:
                                type:
                                - object
                                - 'null'
                                properties:
                                  type:
                                    type: string
                                    example: sampleType
                                  id:
                                    type: string
                                    example: sampleId
                          webhookFilters:
                            description: A generic relationship object
                            type: object
                            properties:
                              links:
                                type: object
                                properties:
                                  related:
                                    type: string
                                    example: https://api.wisc.edu/link/to/related/object
                              data:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      example: sampleType
                                    id:
                                      type: string
                                      example: sampleId
                          webhookRelationshipFilters:
                            description: A generic relationship object
                            type: object
                            properties:
                              links:
                                type: object
                                properties:
                                  related:
                                    type: string
                                    example: https://api.wisc.edu/link/to/related/object
                              data:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      example: sampleType
                                    id:
                                      type: string
                                      example: sampleId
                  links:
                    description: The link to access a resource itself
                    type: object
                    properties:
                      self:
                        type: string
                        example: https://api.wisc.edu/link/to/self
              examples:
                example-webhook:
                  value:
                    data:
                      attributes:
                        url: https://department.wisc.edu/person-api-webhook
                        expired: false
                        relationships:
                        - identifiers
                        - pastIdentifiers
                        ackedInPastWeek: 5000
                        deadlineExceededInPastWeek: 30
                        oldestUnackedMessageAge: 6500
                        4xxResponsesInPastWeek: 15
                        5xxResponsesInPastWeek: 20
                      id: 2b1b6b19-7ab1-47f5-a9ce-ae0c754411f4
                      links:
                        self: https://api.wisc.edu/people/webhooks/2b1b6b19-7ab1-47f5-a9ce-ae0c754411f4
                      type: webhooks
                      relationships:
                        replay:
                          links:
                            related: https://api.wisc.edu/people/webhooks/2b1b6b19-7ab1-47f5-a9ce-ae0c754411f4/replay
                        webhookFilters:
                          data: []
                          links:
                            related: https://api.wisc.edu/people/webhooks/2b1b6b19-7ab1-47f5-a9ce-ae0c754411f4/filters
                        webhookRelationshipFilters:
                          data: []
                          links:
                            related: https://api.wisc.edu/people/webhooks/2b1b6b19-7ab1-47f5-a9ce-ae0c754411f4/relationshipFilters
                    links:
                      self: https://api.wisc.edu/people/webhooks/2b1b6b19-7ab1-47f5-a9ce-ae0c754411f4
        '400':
          description: A bad request.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                application/vnd.api+json:
                  value:
                    errors:
                    - id: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                      links: {}
                      meta: {}
                      source: {}
                      status: 400
                      title: Bad Request
                      detail: Invalid properties in query parameters - resource type 'people' has no attribute 'invalid'.
        '401':
          description: Incorrect or expired OAuth token.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                unauthorized-response:
                  value:
                    errors:
                    - status: 401
                      title: Unauthorized
                      detail: Invalid OAuth authentication - InvalidAccessToken
        '403':
          description: The API call is authenticated but the client isn't allowed to perform the requested operation. This can occur when trying to update a resource when granted read-only access.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                name-update-example:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
                      detail: Client is not allowed to create, update, or delete a person's name.
                no-access-example:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
                      detail: Requested method is forbidden for endpoint - GET - /people
                disabled-temporarily-example:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
                      detail: Webhook Create/Update/Delete operations are disabled temporarily. Try again later.
        '404':
          description: Unable to find the specified record
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                not-found-example:
                  value:
                    errors:
                    - status: 404
                      title: Not Found
                      detail: Requested resource not found.
        '406':
          description: Servers respond with a 406 Not Acceptable status code if a request’s Accept header contains the JSON:API media type and all instances of that media type are modified with media type parameters.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                not-acceptable-example:
                  value:
                    errors:
                    - status: 406
                      title: Not Acceptable
                      detail: Request's Accept header contained the JSON:API media type and all instances of that media type were modified with media type parameters.
        '415':
          description: 'Request includes a body but not the valid JSON API Content-Type header: application/vnd.api+json'
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                unsupported-media-type-example:
                  value:
                    errors:
                    - status: 415
                      title: Unsupported Media Type
                      detail: Requests with a body must include the Content-Type header with a value of application/vnd.api+json
        '429':
          description: The API quota has been exceeded.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                not-found-example:
                  value:
                    errors:
                    - status: 429
                      title: Too Many Requests
                      detail: The quota has been exceeded.
        '500':
          description: An unexpected error.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                not-found-example:
                  value:
                    errors:
                    - status: 500
                      title: Internal Server Error
                      detail: Something went wrong in the server-side.
    delete:
      description: Delete a webhook. Refer to the Webhooks Documentation for more information.
      summary: Delete a webhook
      operationId: delete_webhook
      tags:
      - Webhooks
      parameters:
      - name: webhookId
        description: ID of a webhook. This parameter should not be manually built/concatenated, but instead be used by following the fully-formed links returned in an API response.
        in: path
        example: b463e0f7-c882-4b08-a9c7-e0a2fd90d04b
        required: true
        schema:
          type: string
          description: An identifier used to identify non-person resources, such as Certificates and Webhooks. This ID is used for following other links returned in the API response. Concatenating parts of the URL to form a link is discouraged. Instead, use the fully-formed links returned in an API response.
      responses:
        '204':
          description: Webhook deleted. Empty response.
        '401':
          description: Incorrect or expired OAuth token.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
[...]
