openapi: 3.2.0
info:
  contact:
    email: finance-apis@doit.wisc.edu
    name: DoIT Enterprise Business Systems (EBS) Integrated Business Solutions (IBS) API Team
  description: 'An API for accessing and validating UW financial data.

    ## Getting Started

    For information on how to create an application on the portal and request access to the API, please visit the [Getting Started page](https://financeapis.wisc.edu/getting-started/) on our website.

    ## Endpoints, Filtering, Inclusions, and Sourcing

    Information on how to use the filter query parameter and include related resources, individual endpoints, and how we source our data can be found on the [Documentation page](https://financeapis.wisc.edu/documentation/) of our website.

    ## Help/Support

    If you need assistance in using the Finance API, have questions about the data, need to report a bug, or would like to suggest features/improvements, please fill out the form on the [Contact Us page](https://financeapis.wisc.edu/contact-us/) of our website or email us at [finance-apis@doit.wisc.edu](mailto:finance-apis@doit.wisc.edu).'
  title: Finance Worktags API
  version: 2026-02-18
servers:
- description: Production
  url: https://api.wisc.edu/finance
security:
- OAuth2ClientCredentials: []
tags:
- name: Worktags
paths:
  /activities:
    get:
      description: Retrieves a paginated listing of all activities.
      parameters:
      - description: The datetime that the record was last changed in the Finance API's database.
        in: query
        name: filter[lastModified]
        required: false
        schema:
          format: datetime
          type: string
      - description: Page offset of records included in the response
        in: query
        name: page[number]
        required: false
        schema:
          minimum: 1
          type: integer
      - description: Number of records included in the response
        in: query
        name: page[size]
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/vnd.api+json:
              example:
                data:
                - attributes:
                    active: true
                    company: UWRVF
                    name: AC000001 UWRVF | BIOL 341 and 342 - Anatomy and Physiology I and II
                  id: AC000001
                  links:
                    self: https://api.wisc.edu/finance/activities/AC000001
                  meta:
                    lastModified: 2026-06-15 13:11:13
                  type: activities
                links:
                  first: https://api.wisc.edu/finance/activities?page[number]=1
                  last: https://api.wisc.edu/finance/activities?page[number]=99
                  next: https://api.wisc.edu/finance/activities/page[number]=2
                  prev: https://api.wisc.edu/finance/activities?page[number]=1
                  self: https://api.wisc.edu/finance/activities
                meta:
                  pageNumber: 1
                  pageSize: 100
                  totalCount: 1234
                  totalPages: 13
              schema:
                oneOf:
                - properties:
                    data:
                      description: A collection of activities.
                      items:
                        description: A single activity record.
                        properties:
                          attributes:
                            properties:
                              active:
                                description: Whether the activity is currently active or not.
                                example: true
                                type:
                                - boolean
                                - 'null'
                              company:
                                description: Company this activity belongs to.
                                example: UWRVF
                                type: string
                              name:
                                description: Name of the activity.
                                example: AC000001 UWRVF | BIOL 341 and 342 - Anatomy and Physiology I and II
                                type: string
                            type: object
                          id:
                            description: The unique identifier for an activity record.
                            example: AC000001
                            type: string
                          links:
                            description: Links related to this record
                            properties:
                              self:
                                example: https://api.wisc.edu/finance/activities/AC000001
                                type: string
                            type: object
                          meta:
                            properties:
                              lastModified:
                                description: Date/time of the last time this worktag was updated in the product database in ISO format.
                                example: 2026-06-15 13:11:13
                                type:
                                - string
                                - 'null'
                            type: object
                          type:
                            example: activities
                            type: string
                        type: object
                      type: array
                    links:
                      properties:
                        first:
                          description: A link to the first page of results
                          example: https://api.wisc.edu/finance/activities?page[number]=1
                          type: string
                        last:
                          description: A link to the last page of results
                          example: https://api.wisc.edu/finance/activities?page[number]=99
                          type: string
                        next:
                          description: A link to the next page of results, if there is one
                          example: https://api.wisc.edu/finance/activities/page[number]=2
                          type:
                          - string
                          - 'null'
                        prev:
                          description: A link to the previous page of results, if there is one
                          example: https://api.wisc.edu/finance/activities?page[number]=1
                          type:
                          - string
                          - 'null'
                        self:
                          description: The link that generated this response
                          example: https://api.wisc.edu/finance/activities
                          type: string
                      type: object
                    meta:
                      properties:
                        pageNumber:
                          description: Page number requested.
                          example: 1
                          format: int64
                          type: integer
                        pageSize:
                          description: Number of items on each page.
                          example: 100
                          format: int64
                          type: integer
                        totalCount:
                          description: Total number of items across all pages.
                          example: 1234
                          format: int64
                          type: integer
                        totalPages:
                          description: Total number of pages given pageSize.
                          example: 13
                          format: int64
                          type: integer
                      type: object
                  type: object
                - properties:
                    attributes:
                      properties:
                        url:
                          description: Presigned URL to download the data from S3. The URL is valid for 15 minutes.
                          example: https://example.com/link
                          type: string
                      type: object
                    id:
                      description: The unique identifier for an presigned link.
                      example: 670ac856-91ef-47ee-8f1d-b79d4f656a10
                      type: string
                    type:
                      enum:
                      - bulkDelivery
                      example: bulkDelivery
                      type: string
                  type: object
          description: An API response with a collection of activities, pagination, and metadata
        '400':
          content:
            application/vnd.api+json:
              examples:
                invalid-filter-parameters-not-filterable:
                  description: 'Error raised when filtering on valid attributes that cannot be filtered on, such as attributes that are containers for nested objects.

                    '
                  value:
                    errors:
                    - detail: Attribute 'lines' cannot be filtered on for internalServiceDeliveries.
                      status: 400
                      title: Bad Request
                invalid-filter-parameters-not-found:
                  description: Error raised when filtering on non-existent attributes.
                  value:
                    errors:
                    - detail: Attribute 'foo' does not exist on internalServiceProviders.
                      status: 400
                      title: Bad Request
                invalid-pagination-parameters-bad-value:
                  description: 'Error raised when providing pagination parameters outside the allowed range or in an invalid datatype/format.

                    '
                  value:
                    errors:
                    - detail: 'Invalid pagination parameter: ''size'' must be a positive integer between 1 and 1000 (got: '''').'
                      status: 400
                      title: Bad Request
                invalid-pagination-parameters-not-found:
                  description: Error raised when providing non-existent pagination parameters.
                  value:
                    errors:
                    - detail: 'Invalid pagination parameter: ''num'' does not exist.'
                      status: 400
                      title: Bad Request
                invalid-query-parameters:
                  description: 'Error raised when using invalid query parameters, such as malformed filter parameters on valid attributes.

                    '
                  value:
                    errors:
                    - detail: 'Invalid parameter: ''filter[id''.'
                      status: 400
                      title: Bad Request
                unsupported-parameters:
                  description: Error raised when attempting to use query parameters that an endpoint does not support.
                  value:
                    errors:
                    - detail: 'The following query parameters are not supported/recongized for this endpoint: include, page.'
                      status: 400
                      title: Bad Request
              schema:
                properties:
                  errors:
                    items:
                      description: An error
                      properties:
                        detail:
                          type: string
                        status:
                          type: number
                        title:
                          type: string
                    type: array
                type: object
          description: A bad request.
        '401':
          content:
            application/vnd.api+json:
              example:
                errors:
                - detail: Invalid or expired OAuth token.
                  status: 401
                  title: Unauthorized
              schema:
                properties:
                  errors:
                    items:
                      description: An error
                      properties:
                        detail:
                          type: string
                        status:
                          type: number
                        title:
                          type: string
                    type: array
                type: object
          description: Invalid or expired OAuth token.
        '403':
          content:
            application/vnd.api+json:
              examples:
                invalid-company-access:
                  description: Error raised when your application has misconfigured company access.
                  value:
                    errors:
                    - detail: Your application has no allowed companies set. Contact the Finance API team (finance-apis@doit.wisc.edu) to resolve this.
                      status: 403
                      title: Forbidden
                no-company-access:
                  description: Error raised when attempting to query data belonging to companies you not have access to.
                  value:
                    errors:
                    - detail: You don't have access to company 'XYZ'.
                      status: 403
                      title: Forbidden
                no-permission:
                  description: Error raised when your application does not have permission to use an endpoint.
                  value:
                    errors:
                    - detail: You don't have access to this endpoint.
                      status: 403
                      title: Forbidden
              schema:
                properties:
                  errors:
                    items:
                      description: An error
                      properties:
                        detail:
                          type: string
                        status:
                          type: number
                        title:
                          type: string
                    type: array
                type: object
          description: You requested information for which you don't have the proper authorization.
        '404':
          content:
            application/vnd.api+json:
              example:
                errors:
                - detail: Requested record could not be found.
                  status: 404
                  title: Not Found
              schema:
                properties:
                  errors:
                    items:
                      description: An error
                      properties:
                        detail:
                          type: string
                        status:
                          type: number
                        title:
                          type: string
                    type: array
                type: object
          description: Requested record could not be found.
        '415':
          content:
            application/vnd.api+json:
              example:
                errors:
                - detail: Expected media type 'application/vnd.api+json'.
                  status: 415
                  title: Unsupported Media Type
              schema:
                properties:
                  errors:
                    items:
                      description: An error
                      properties:
                        detail:
                          type: string
                        status:
                          type: number
                        title:
                          type: string
                    type: array
                type: object
          description: Invalid media type in contentType header.
        '429':
          content:
            application/vnd.api+json:
              example:
                errors:
                - detail: Quota exceeded.
                  status: 429
                  title: Too Many Requests
              schema:
                properties:
                  errors:
                    items:
                      description: An error
                      properties:
                        detail:
                          type: string
                        status:
                          type: number
                        title:
                          type: string
                    type: array
                type: object
          description: Quota exceeded.
        '503':
          content:
            application/vnd.api+json:
              example:
                errors:
                - detail: Dependent service unavailable.
                  status: 503
                  title: Service Unavailable
              schema:
                properties:
                  errors:
                    items:
                      description: An error
                      properties:
                        detail:
                          type: string
                        status:
                          type: number
                        title:
                          type: string
                    type: array
                type: object
          description: Finance API is unavailable.
      tags:
      - Worktags
  /activities/{id}:
    get:
      description: Retrieves a single activity by its ID.
      parameters:
      - description: An activity ID passed in as a URL parameter.
        in: path
        name: id
        required: true
        schema:
          description: The unique identifier for an activity record.
          example: AC000001
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              example:
                data:
                  attributes:
                    active: true
                    company: UWRVF
                    name: AC000001 UWRVF | BIOL 341 and 342 - Anatomy and Physiology I and II
                  id: AC000001
                  links:
                    self: https://api.wisc.edu/finance/activities/AC000001
                  meta:
                    lastModified: 2026-06-15 13:11:13
                  type: activities
                links:
                  self: https://api.wisc.edu/finance/activities/AC000001
              schema:
                properties:
                  data:
                    description: A single activity record.
                    properties:
                      attributes:
                        properties:
                          active:
                            description: Whether the activity is currently active or not.
                            example: true
                            type:
                            - boolean
                            - 'null'
                          company:
                            description: Company this activity belongs to.
                            example: UWRVF
                            type: string
                          name:
                            description: Name of the activity.
                            example: AC000001 UWRVF | BIOL 341 and 342 - Anatomy and Physiology I and II
                            type: string
                        type: object
                      id:
                        description: The unique identifier for an activity record.
                        example: AC000001
                        type: string
                      links:
                        description: Links related to this record
                        properties:
                          self:
                            example: https://api.wisc.edu/finance/activities/AC000001
                            type: string
                        type: object
                      meta:
                        properties:
                          lastModified:
                            description: Date/time of the last time this worktag was updated in the product database in ISO format.
                            example: 2026-06-15 13:11:13
                            type:
                            - string
                            - 'null'
                        type: object
                      type:
                        example: activities
                        type: string
                    type: object
                  links:
                    description: Links related to this record
                    properties:
                      self:
                        example: https://api.wisc.edu/finance/activities/AC000001
                        type: string
                    type: object
                type: object
          description: An API response with a collection of activities, pagination, and metadata
        '400':
          content:
            application/vnd.api+json:
              examples:
                invalid-filter-parameters-not-filterable:
                  description: 'Error raised when filtering on valid attributes that cannot be filtered on, such as attributes that are containers for nested objects.

                    '
                  value:
                    errors:
                    - detail: Attribute 'lines' cannot be filtered on for internalServiceDeliveries.
                      status: 400
                      title: Bad Request
                invalid-filter-parameters-not-found:
                  description: Error raised when filtering on non-existent attributes.
                  value:
                    errors:
                    - detail: Attribute 'foo' does not exist on internalServiceProviders.
                      status: 400
                      title: Bad Request
                invalid-pagination-parameters-bad-value:
                  description: 'Error raised when providing pagination parameters outside the allowed range or in an invalid datatype/format.

                    '
                  value:
                    errors:
                    - detail: 'Invalid pagination parameter: ''size'' must be a positive integer between 1 and 1000 (got: '''').'
                      status: 400
                      title: Bad Request
                invalid-pagination-parameters-not-found:
                  description: Error raised when providing non-existent pagination parameters.
                  value:
                    errors:
                    - detail: 'Invalid pagination parameter: ''num'' does not exist.'
                      status: 400
                      title: Bad Request
                invalid-query-parameters:
                  description: 'Error raised when using invalid query parameters, such as malformed filter parameters on valid attributes.

                    '
                  value:
                    errors:
                    - detail: 'Invalid parameter: ''filter[id''.'
                      status: 400
                      title: Bad Request
                unsupported-parameters:
                  description: Error raised when attempting to use query parameters that an endpoint does not support.
                  value:
                    errors:
                    - detail: 'The following query parameters are not supported/recongized for this endpoint: include, page.'
                      status: 400
                      title: Bad Request
              schema:
                properties:
                  errors:
                    items:
                      description: An error
                      properties:
                        detail:
                          type: string
                        status:
                          type: number
                        title:
                          type: string
                    type: array
                type: object
          description: A bad request.
        '401':
          content:
            application/vnd.api+json:
              example:
                errors:
                - detail: Invalid or expired OAuth token.
                  status: 401
                  title: Unauthorized
              schema:
                properties:
                  errors:
                    items:
                      description: An error
                      properties:
                        detail:
                          type: string
                        status:
                          type: number
                        title:
                          type: string
                    type: array
                type: object
          description: Invalid or expired OAuth token.
        '403':
          content:
            application/vnd.api+json:
              examples:
                invalid-company-access:
                  description: Error raised when your application has misconfigured company access.
                  value:
                    errors:
                    - detail: Your application has no allowed companies set. Contact the Finance API team (finance-apis@doit.wisc.edu) to resolve this.
                      status: 403
                      title: Forbidden
                no-company-access:
                  description: Error raised when attempting to query data belonging to companies you not have access to.
                  value:
                    errors:
                    - detail: You don't have access to company 'XYZ'.
                      status: 403
                      title: Forbidden
                no-permission:
                  description: Error raised when your application does not have permission to use an endpoint.
                  value:
                    errors:
                    - detail: You don't have access to this endpoint.
                      status: 403
                      title: Forbidden
              schema:
                properties:
                  errors:
                    items:
                      description: An error
                      properties:
                        detail:
                          type: string
                        status:
                          type: number
                        title:
                          type: string
                    type: array
                type: object
          description: You requested information for which you don't have the proper authorization.
        '404':
          content:
            application/vnd.api+json:
              example:
                errors:
                - detail: Requested record could not be found.
                  status: 404
                  title: Not Found
              schema:
                properties:
                  errors:
                    items:
                      description: An error
                      properties:
                        detail:
                          type: string
                        status:
                          type: number
                        title:
                          type: string
                    type: array
                type: object
          description: Requested record could not be found.
        '415':
          content:
            application/vnd.api+json:
              example:
                errors:
                - detail: Expected media type 'application/vnd.api+json'.
                  status: 415
                  title: Unsupported Media Type
              schema:
                properties:
                  errors:
                    items:
                      description: An error
                      properties:
                        detail:
                          type: string
                        status:
                          type: number
                        title:
                          type: string
                    type: array
                type: object
          description: Invalid media type in contentType header.
        '429':
          content:
            application/vnd.api+json:
              example:
                errors:
                - detail: Quota exceeded.
                  status: 429
                  title: Too Many Requests
              schema:
                properties:
                  errors:
                    items:
                      description: An error
                      properties:
                        detail:
                          type: string
                        status:
                          type: number
                        title:
                          type: string
                    type: array
                type: object
          description: Quota exceeded.
        '503':
          content:
            application/vnd.api+json:
              example:
                errors:
                - detail: Dependent service unavailable.
                  status: 503
                  title: Service Unavailable
              schema:
                properties:
                  errors:
                    items:
                      description: An error
                      properties:
                        detail:
                          type: string
                        status:
                          type: number
                        title:
                          type: string
                    type: array
                type: object
          description: Finance API is unavailable.
      tags:
      - Worktags
  /awardLines:
    get:
      description: Retrieves a paginated listing of all award lines from the accounting system
      parameters:
      - description: The datetime that the record was last changed in the Finance API's database.
        in: query
        name: filter[lastModified]
        required: false
        schema:
          format: datetime
          type: string
      - description: Page offset of records included in the response
        in: query
        name: page[number]
        required: false
        schema:
          minimum: 1
          type: integer
      - description: Number of records included in the response
        in: query
        name: page[size]
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - in: query
        name: filter[awardId]
        required: false
        schema:
          type: string
      - in: query
        name: filter[name]
        required: false
        schema:
          type: string
      - in: query
        name: filter[grantId]
        required: false
        schema:
          type: string
      - in: query
        name: filter[fromDate]
        required: false
        schema:
          format: date
          type: string
      - in: query
        name: filter[toDate]
        required: false
        schema:
          format: date
          type: string
      - in: query
        name: filter[costCenterId]
        required: false
        schema:
          type: string
      - in: query
        name: filter[revenueCategoryId]
        schema:
          type: string
      - in: query
        name: filter[fundId]
        schema:
          type: string
      - in: query
        name: filter[functionId]
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              example:
                data:
                - attributes:
                    allocationProfileId: UWMSN_Federal
                    allocationProfileName: UWMSN - Federal
                    awardId: AWARD_CONTRACT-6-9854
                    basisType: Modified Total Direct Costs
                    billingScheduleId: BILLING_SCHEDULE-6-11038
                    costCenterId: CC002851
                    costRateTypeId: UWMSN_MTDC_On_Campus_Research
                    costRateTypeName: On Campus Research
                    currentAmount: 155500
                    facilitiesAdminRate: 0.555
                    fromDate: 2024-04-01
                    functionId: FN0400
                    fundId: FD0144
                    grantId: GRTEST00002
                    lifecycleStatus: Open
                    name: AWD-900001 RC00037 - Federal Grants & Contracts (Sponsored Research) (Line 1)
                    rateAgreementId: UWMSN_MTDC_Federal_Rate_Agreement
                    rateAgreementName: UWMSN - MTDC - Federal Rate Agreement (04/01/2022)
                    revenueCategoryId: RC00037
                    salaryCap: National Institute of Health Salary Cap
                    spendRestriction: Subawards Only
                    status: Active
                    toDate: 2029-03-31
                    type: Cost Reimbursable
                  id: AWD-005399_GR000040574
                  links:
                    self: https://api.wisc.edu/finance/awardLines/AWD-005399_GR000040574
                  meta:
                    lastModified: 2026-06-15 13:11:13
                  type: awardLines
                links:
                  first: https://api.wisc.edu/finance/awardLines?page[first]=1
                  last: https://api.wisc.edu/finance/awardLines?page[last]=99
                  next: https://api.wisc.edu/finance/awardLines?page[next]=2
                  prev: https://api.wisc.edu/finance/awardLines?page[prev]=1
                  self: https://api.wisc.edu/finance/awardLines
                meta:
                  pageNumber: 1
                  pageSize: 100
                  totalCount: 1234
                  totalPages: 13
              schema:
                oneOf:
                - properties:
                    data:
                      description: A collection of award lines.
                      items:
                        description: A single award line record.
                        properties:
                          attributes:
                            properties:
                              allocationProfileId:
                                description: Allocation Profile Name of the Award Line
                                example: UWMSN_Federal
                                type: string
                              allocationProfileName:
                                description: Allocation Profile ID of the Award Line
                                example: UWMSN - Federal
                                type: string
                              awardId:
                                description: ID of the Award Line
                                example: AWARD_CONTRACT-6-9854
                                type: string
                              basisType:
                                description: Basis Type of the Award Line
                                example: Modified Total Direct Costs
                                type: string
                              billingScheduleId:
                                description: Billing Schedule ID of the Award Line
                                example: BILLING_SCHEDULE-6-11038
                                type: string
                              costCenterId:
                                description: Cost Center ID of the Award Line
                                example: CC002851
                                type: string
                              costRateTypeId:
                                description: Cost Rate Type ID of the Award Line
                                example: UWMSN_MTDC_On_Campus_Research
                                type: string
                              costRateTypeName:
                                description: Cost Rate Type Name of the Award Line
                                example: On Campus Research
                                type: string
                              currentAmount:
                                description: Current Amount of the Award Line
                                example: 155500
                                format: double
                                type: number
                              facilitiesAdminRate:
                                description: Facilities Admin Rate of the Award Line
                                example: 0.555
                                type: number
                              fromDate:
                                description: From Date of the Award Line
                                example: 2024-04-01
                                type: string
                              functionId:
                                description: Function ID of the Award Line
                                example: FN0400
                                type: string
                              fundId:
                                description: Fund ID of the Award Line
                                example: FD0144
                                type: string
                              grantId:
                                description: Grant ID of the Award Line
                                example: GRTEST00002
                                type: string
                              lifecycleStatus:
                                description: Life cycle status of the Award Line
                                example: Open
                                type: string
                              name:
                                description: Name of the Award Line
                                example: AWD-900001 RC00037 - Federal Grants & Contracts (Sponsored Research) (Line 1)
                                type: string
                              rateAgreementId:
                                description: Rate Agreement ID of the Award Line
                                example: UWMSN_MTDC_Federal_Rate_Agreement
                                type: string
                              rateAgreementName:
                                description: Rate Agreement Name of the Award Line
                                example: UWMSN - MTDC - Federal Rate Agreement (04/01/2022)
                                type: string
                              revenueCategoryId:
                                description: Revenue Category ID of the Award Line
                                example: RC00037
                                type: string
                              salaryCap:
                                description: Salary Cap of the Award Line
                                example: National Institute of Health Salary Cap
                                type: string
                              spendRestriction:
                                description: Spend Restriction of the Award Line
                                example: Subawards Only
                                type: string
                              status:
                                description: Status of the Award Line
                                example: Active
                                type: string
                              toDate:
                                description: To Date of the Award Line
                                example: 2029-03-31
                                type: string
                              type:
                                description: Award Line type
                                example: Cost Reimbursable
                                type: string
                            type: object
                          id:
                            description: The unique identifier for an award line record.
                            example: AWD-005399_GR000040574
                            type: string
                          links:
                            description: Links related to this record
                            properties:
                              self:
                                description: The link to just this record
                                example: https://api.wisc.edu/finance/awardLines/AWD-005399_GR000040574
                                type: string
                            type: object
                          meta:
                            properties:
                              lastModified:
                                description: Date/time of the last time this worktag was updated in the product database in ISO format.
                                example: 2026-06-15 13:11:13
                                type:
                                - string
                                - 'null'
                            type: object
                          type:
                            enum:
                            - awardLines
                            example: awardLines
                            type: string
                        type: object
                      type: array
                    links:
                      properties:
                        first:
                          description: A link to the first page of results
                          example: https://api.wisc.edu/finance/awardLines?page[first]=1
                          type: string
                        last:
                          description: A link to the last page of results
                          example: https://api.wisc.edu/finance/awardLines?page[last]=99
                          type: string
                        next:
                          description: A link to the next page of results, if there is one
                          example: https://api.wisc.edu/finance/awardLines?page[next]=2
                          type:
                          - string
                          - 'null'
                        prev:
                          description: A link to the previous page of results, if there is one
                          example: https://api.wisc.edu/finance/awardLines?page[prev]=1
                          type:
                          - string
                          - 'null'
                        self:
                          description: The link that generated this response
                          example: https://api.wisc.edu/finance/awardLines
                          type: string
                      type: object
                    meta:
                      properties:
                        pageNumber:
                          description: Page number requested.
                          example: 1
                          format: int64
                          type: integer
                        pageSize:
                          description: Number of items on each page.
                          example: 100
                          format: int64
                          type: integer
                        totalCount:
                          description: Total number of items across all pages.
                          example: 1234
                          format: int64
                          type: integer
                        totalPages:
                          description: Total number of pages given pageSize.
                          example: 13
                          format: int64
                          type: integer
                      type: object
                  type: object
                - properties:
                    attributes:
                      properties:
                        url:
                          description: Presigned URL to download the data from S3. The URL is valid for 15 minutes.
                          example: https://example.com/link
                          type: string
                      type: object
                    id:
                      description: The unique identifier for an presigned link.
                      example: 670ac856-91ef-47ee-8f1d-b79d4f656a10
                      type: string
                    type:
                      enum:
                      - bulkDelivery
                      example: bulkDelivery
                      type: string
                  type: object
          description: Successful response. Returns the default response by default, or bulkResponse if delivery=bulk query parameter is specified.
        '400':
          content:
            application/vnd.api+json:
              examples:
                invalid-filter-parameters-not-filterable:
                  description: 'Error raised when filtering on valid attributes that cannot be filtered on, such as attributes that are containers for nested objects.

                    '
                  value:
                    errors:
                    - detail: Attribute 'lines' cannot be filtered on for internalServiceDeliveries.
                      status: 400
                      title: Bad Request
                invalid-filter-parameters-not-found:
                  description: Error raised when filtering on non-existent attributes.
                  value:
                    errors:
                    - detail: Attribute 'foo' does not exist on internalServiceProviders.
                      status: 400
                      title: Bad Request
                invalid-pagination-parameters-bad-value:
                  description: 'Error raised when providing pagination parameters outside the allowed range or in an invalid datatype/format.

                    '
                  value:
                    errors:
                    - detail: 'Invalid pagination parameter: ''size'' must be a positive integer between 1 and 1000 (got: '''').'
                      status: 400
                      title: Bad Request
                invalid-pagination-parameters-not-found:
                  description: Error raised when providing non-existent pagination parameters.
                  value:
                    errors:
                    - detail: 'Invalid pagination parameter: ''num'' does not exist.'
                      status: 400
                      title: Bad Request
                invalid-query-parameters:
                  description: 'Error raised when using invalid query parameters, such as malformed filter parameters on valid attributes.

                    '
                  value:
                    errors:
                    - detail: 'Invalid parameter: ''filter[id''.'
                      status: 400
                      title: Bad Request
                unsupported-parameters:
                  description: Error raised when attempting to use query parameters that an endpoint does not support.
                  value:
                    errors:
                    - detail: 'The following query parameters are not supported/recongized for this endpoint: include, page.'
                      status: 400
                      title: Bad Request
              schema:
                properties:
                  errors:
                    items:
                      description: An error
                      properties:
                        detail:
                          type: string
                        status:
                          type: number
                        title:
                          type: string
                    type: array
                type: object
          description: A bad request.
        '401':
          content:
            application/vnd.api+json:
              example:
                errors:
                - detail: Invalid or expired OAuth token.
                  status: 401
                  title: Unauthorized
              schema:
                properties:
                  errors:
                    items:
                      description: An error
                      properties:
                        detail:
                          type: string
                        status:
                          type: number
                        title:
                          type: string
                    type: array
                type: object
          description: Invalid or expired OAuth token.
        '403':
          content:
            application/vnd.api+json:
              examples:
                invalid-company-access:
                  description: Error raised when your application has misconfigured company access.
                  value:
                    errors:
                    - detail: Your application has no allowed companies set. Contact the Finance API team (finance-apis@doit.wisc.edu) to resolve this.
                      status: 403
                      title: Forbidden
                no-company-access:
                  description: Error raised when attempting to query data belonging to companies you not have access to.
                  value:
                    errors:
                    - detail: You don't have access to company 'XYZ'.
                      status: 403
                      title: Forbidden
                no-permission:
                  description: Error raised when your application does not have permission to use an endpoint.
                  value:
                    errors:
                    - detail: You don't have access to this endpoint.
                      status: 403
                      title: Forbidden
              schema:
                properties:
                  errors:
                    items:
                      description: An error
                      properties:
                        detail:
                          type: string
                        status:
                          type: number
                        title:
                          type: string
                    type: array
                type: object
          description: You requested information for which you don't have the proper authorization.
        '404':
          content:
            application/vnd.api+json:
              example:
                errors:
                - detail: Requested record could not be found.
                  status: 404
                  title: Not Found
              schema:
                properties:
                  errors:
                    items:
                      description: An error
                      properties:
                        detail:
                          type: string
                        status:
                          type: number
                        title:
                          type: string
                    type: array
                type: object
          description: Requested record could not be found.
        '415':
          content:
            application/vnd.api+json:
              example:
                errors:
                - detail: Expected media type 'application/vnd.api+json'.
                  status: 415
                  title: Unsupported Media Type
              schema:
                properties:
                  errors:
                    items:
                      description: An error
                      properties:
                        detail:
                          type: string
                        status:
                          type: number
                        title:
                          type: string
                    type: array
                type: object
          description: Invalid media type in contentType header.
        '429':
          content:
            application/vnd.api+json:
              example:
                errors:
                - detail: Quota exceeded.
                  status: 429
                  title: Too Many Requests
              schema:
                properties:
                  errors:
                    items:
                      description: An error
                      properties:
                        detail:
                          type: string
                        status:
                          type: number
                        title:
                          type: string
                    type: array
                type: object
          description: Quota exceeded.
        '503':
          content:
            application/vnd.api+json:
              example:
                errors:
                - detail: Dependent service unavailable.
                  status: 503
                  title: Service Unavailable
              schema:
                properties:
                  errors:
                    items:
                      description: An error
                      properties:
                        detail:
                          type: string
                        status:
                          type: number
                        title:
                          type: string
                    type: array
                type: object
          description: Finance API is unavailable.
      tags:
      - Worktags
  /awardLines/{id}:
    get:
      description: Retrieves a single award line by its ID.
      parameters:
      - description: An award line ID passed in as a URL parameter.
        in: path
        name: id
        required: true
        schema:
          description: The unique identifier for an award line record.
          example: AWD-005399_GR000040574
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              example:
                data:
                  attributes:
                    allocationProfileId: UWMSN_Federal
                    allocationProfileName: UWMSN - Federal
                    awardId: AWARD_CONTRACT-6-9854
                    basisType: Modified Total Direct Costs
                    billingScheduleId: BILLING_SCHEDULE-6-11038
                    costCenterId: CC002851
                    costRateTypeId: UWMSN_MTDC_On_Campus_Research
                    costRateTypeName: On Campus Research
                    currentAmount: 155500
                    facilitiesAdminRate: 0.555
                    fromDate: 2024-04-01
                    functionId: FN0400
                    fundId: FD0144
                    grantId: GRTEST00002
                    lifecycleStatus: Open
                    name: AWD-900001 RC00037 - Federal Grants & Contracts (Sponsored Research) (Line 1)
                    rateAgreementId: UWMSN_MTDC_Federal_Rate_Agreement
                    rateAgreementName: UWMSN - MTDC - Federal Rate Agreement (04/01/2022)
                    revenueCategoryId: RC00037
                    salaryCap: National Institute of Health Salary Cap
                    spendRestriction: Subawards Only
                    status: Active
                    toDate: 2029-03-31
                    type: Cost Reimbursable
                  id: AWD-005399_GR000040574
                  links:
                    self: https://api.wisc.edu/finance/awardLines/AWD-005399_GR000040574
                  meta:
                    lastModified: 2026-06-15 13:11:13
                  type: awardLines
                links:
                  self: https://api.wisc.edu/finance/awardLines/AWD-005399_GR000040574
              schema:
                properties:
                  data:
                    description: A single award line record.
                    properties:
                      attributes:
                        properties:
                          allocationProfileId:
                            description: Allocation Profile Name of the Award Line
                            example: UWMSN_Federal
                            type: string
                          allocationProfileName:
                            description: Allocation Profile ID of the Award Line
                            example: UWMSN - Federal
                            type: string
                          awardId:
                            description: ID of the Award Line
                            example: AWARD_CONTRACT-6-9854
                            type: string
                          basisType:
                            description: Basis Type of the Award Line
                            example: Modified Total Direct Costs
                            type: string
                          billingScheduleId:
                            description: Billing Schedule ID of the Award Line
                            example: BILLING_SCHEDULE-6-11038
                            type: string
                          costCenterId:
                            description: Cost Center ID of the Award Line
                            example: CC002851
                            type: string
                          costRateTypeId:
                            description: Cost Rate Type ID of the Award Line
                            example: UWMSN_MTDC_On_Campus_Research
                            type: string
                          costRateTypeName:
                            description: Cost Rate Type Name of the Award Line
                            example: On Campus Research
                            type: string
                          currentAmount:
                            description: Current Amount of the Award Line
                            example: 155500
                            format: double
                            type: number
                          facilitiesAdminRate:
                            description: Facilities Admin Rate of the Award Line
                            example: 0.555
                            type: number
                          fromDate:
                            description: From Date of the Award Line
                            example: 2024-04-01
                            type: string
                          functionId:
                            description: Function ID of the Award Line
                            example: FN0400
                            type: string
                          fundId:
                            description: Fund ID of the Award Line
                            example: FD0144
                            type: string
                          grantId:
                            description: Grant ID of the Award Line
                            example: GRTEST00002
                            type: string
                          lifecycleStatus:
                            description: Life cycle status of the Award Line
                            example: Open
                            type: string
                          name:
                            description: Name of the Award Line
                            example: AWD-900001 RC00037 - Federal Grants & Contracts (Sponsored Research) (Line 1)
                            type: string
                          rateAgreementId:
                            description: Rate Agreement ID of the Award Line
                            example: UWMSN_MTDC_Federal_Rate_Agreement
                            type: string
                          rateAgreementName:
                            description: Rate Agreement Name of the Award Line
                            example: UWMSN - MTDC - Federal Rate Agreement (04/01/2022)
                            type: string
                          revenueCategoryId:
                            description: Revenue Category ID of the Award Line
                            example: RC00037
                            type: string
                          salaryCap:
                            description: Salary Cap of the Award Line
                            example: National Institute of Health Salary Cap
                            type: string
                          spendRestriction:
                            description: Spend Restriction of the Award Line
                            example: Subawards Only
                            type: string
                          status:
                            description: Status of the Award Line
                            example: Active
                            type: string
                          toDate:
                            description: To Date of the Award Line
                            example: 2029-03-31
                            type: string
                          type:
                            description: Award Line type
                            example: Cost Reimbursable
                            type: string
                        type: object
                      id:
                        description: The unique identifier for an award line record.
                        example: AWD-005399_GR000040574
                        type: string
                      links:
                        description: Links related to this record
                        properties:
                          self:
                            description: The link to just this record
                            example: https://api.wisc.edu/finance/awardLines/AWD-005399_GR000040574
                            type: string
                        type: object
                      meta:
                        properties:
                          lastModified:
                            description: Date/time of the last time this worktag was updated in the product database in ISO format.
                            example: 2026-06-15 13:11:13
                            type:
                            - string
                            - 'null'
                        type: object
                      type:
                        enum:
                        - awardLines
                        example: awardLines
                        type: string
                    type: object
                  links:
                    description: Links related to this record
                    properties:
                      self:
                        description: The link to just this record
                        example: https://api.wisc.edu/finance/awardLines/AWD-005399_GR000040574
                        type: string
                    type: object
                type: object
          description: Successful response.
        '400':
          content:
            application/vnd.api+json:
              examples:
                invalid-filter-parameters-not-filterable:
                  description: 'Error raised when filtering on valid attributes that cannot be filtered on, such as attributes that are containers for nested objects.

                    '
                  value:
                    errors:
                    - detail: Attribute 'lines' cannot be filtered on for internalServiceDeliveries.
                      status: 400
                      title: Bad Request
                invalid-filter-parameters-not-found:
                  description: Error raised when filtering on non-existent attributes.
                  value:
                    errors:
                    - detail: Attribute 'foo' does not exist on internalServiceProviders.
                      status: 400
                      title: Bad Request
                invalid-pagination-parameters-bad-value:
                  description: 'Error raised when providing pagination parameters outside the allowed range or in an invalid datatype/format.

                    '
                  value:
                    errors:
                    - detail: 'Invalid pagination parameter: ''size'' must be a positive integer between 1 and 1000 (got: '''').'
                      status: 400
                      title: Bad Request
                invalid-pagination-parameters-not-found:
                  description: Error raised when providing non-existent pagination parameters.
                  value:
                    errors:
                    - detail: 'Invalid pagination parameter: ''num'' does not exist.'
                      status: 400
                      title: Bad Request
                invalid-query-parameters:
                  description: 'Error raised when using invalid query parameters, such as malformed filter parameters on valid attributes.

                    '
                  value:
                    errors:
                    - detail: 'Invalid parameter: ''filter[id''.'
                      status: 400
                      title: Bad Request
                unsupported-parameters:
                  description: Error raised when attempting to use query parameters that an endpoint does not support.
                  value:
                    errors:
                    - detail: 'The following query parameters are not supported/recongized for this endpoint: include, page.'
                      status: 400
                      title: Bad Request
              schema:
                properties:
                  errors:
                    items:
                      description: An error
                      properties:
                        detail:
                          type: string
                        status:
                          type: number
                        title:
                          type: string
                    type: array
                type: object
          description: A bad request.
        '401':
          content:
            application/vnd.api+json:
              example:
                errors:
                - detail: Invalid or expired OAuth token.
                  status: 401
                  title: Unauthorized
              schema:
                properties:
                  errors:
                    items:
                      description: An error
                      properties:
                        detail:
                          type: string
                        status:
                          type: number
                        title:
                          type: string
                    type: array
                type: object
          description: Invalid or expired OAuth token.
        '403':
          content:
            application/vnd.api+json:
              examples:
                invalid-company-access:
                  description: Error raised when your application has misconfigured company access.
                  value:
                    errors:
                    - detail: Your application has no allowed companies set. Contact the Finance API team (finance-apis@doit.wisc.edu) to resolve this.
                      status: 403
                      title: Forbidden
                no-company-access:
                  description: Error raised when attempting to query data belonging to companies you not have access to.
                  value:
                    errors:
                    - detail: You don't have access to company 'XYZ'.
                      status: 403
                      title: Forbidden
                no-permission:
                  description: Error raised when your application does not have permission to use an endpoint.
                  value:
                    errors:
                    - detail: You don't have access to this endpoint.
                      status: 403
                      title: Forbidden
              schema:
                properties:
                  errors:
                    items:
                      description: An error
                      properties:
                        detail:
                          type: string
                        status:
                          type: number
                        title:
                          type: string
                    type: array
                type: object
          description: You requested information for which you don't have the proper authorization.
        '404':
          content:
            application/vnd.api+json:
              example:
                errors:
                - detail: Requested record could not be found.
                  status: 404
                  title: Not Found
              schema:
                properties:
                  errors:
                    items:
                      description: An error
                      properties:
                        detail:
                          type: string
                        status:
                          type: number
                        title:
                          type: string
                    type: array
                type: object
          description: Requested record could not be found.
        '415':
          content:
            application/vnd.api+json:
              example:
                errors:
                - detail: Expected media type 'application/vnd.api+json'.
                  status: 415
                  title: Unsupported Media Type
              schema:
                properties:
                  errors:
                    items:
                      description: An error
                      properties:
                        detail:
                          type: string
                        status:
                          type: number
                        title:
                          type: string
                    type: array
                type: object
          description: Invalid media type in contentType header.
        '429':
          content:
            application/vnd.api+json:
              example:
                errors:
                - detail: Quota exceeded.
                  status: 429
                  title: Too Many Requests
              schema:
                properties:
                  errors:
                    items:
                      description: An error
                      properties:
                        detail:
                          type: string
                        status:
                          type: number
                        title:
                          type: string
                    type: array
                type: object
          description: Quota exceeded.
        '503':
          content:
            application/vnd.api+json:
              example:
                errors:
                - detail: Dependent service unavailable.
                  status: 503
                  title: Service Unavailable
              schema:
                properties:
                  errors:
                    items:
                      description: An error
                      properties:
                        detail:
                          type: string
                        status:
                          type: number
                        title:
                          type: string
                    type: array
                type: object
          description: Finance API is unavailable.
      tags:
      - Worktags
  /companies:
    get:
      description: Retrieves a paginated listing of all companies.
      parameters:
      - description: The datetime that the record was last changed in the Finance API's database.
        in: query
        name: filter[lastModified]
        required: false
        schema:
          format: datetime
          type: string
      - description: Page offset of records included in the response
        in: query
        name: page[number]
        required: false
        schema:
          minimum: 1
          type: integer
      - description: Number of records included in the response
        in: query
        name: page[size]
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - in: query
        name: filter[active]
        schema:
          type: boolean
      - in: query
        name: filter[name]
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              example:
                data:
                - attributes:
                    active: true
                    name: University of Wisconsin Madison
                  id: UWMSN
                  links:
                    self: https://api.wisc.edu/finance/companies/UWMSN
                  meta:
                    lastModified: 2026-06-15 13:11:13
                  type: companies
                links:
                  first: https://api.wisc.edu/finance/companies?page[number]=1
                  last: https://api.wisc.edu/finance/companies?page[number]=99
                  next: https://api.wisc.edu/finance/companies/page[number]=2
                  prev: https://api.wisc.edu/finance/companies?page[number]=1
                  self: https://api.wisc.edu/finance/companies
                meta:
                  pageNumber: 1
                  pageSize: 100
                  totalCount: 1234
                  totalPages: 13
              schema:
                oneOf:
                - properties:
                    data:
                      description: A collection of companies.
                      items:
                        description: A single company record.
                        properties:
                          attributes:
                            properties:
                              active:
                                description: Whether the company is currently active or not.
                                example: true
                                type: boolean
                              name:
                                description: Name of the company.
                                example: University of Wisconsin Madison
                                type: string
                            type: object
                          id:
                            description: The unique identifier for a company record.
                            example: UWMSN
                            type: string
                          links:
                            description: Links related to this record
                            properties:
                              self:
                                example: https://api.wisc.edu/finance/companies/UWMSN
                                type: string
                            type: object
                          meta:
                            properties:
                              lastModified:
                                description: Date/time of the last time this worktag was updated in the product database in ISO format.
                                example: 2026-06-15 13:11:13
                                type:
                                - string
                                - 'null'
                            type: object
                          type:
                            example: companies
                            type: string
                        type: object
                      type: array
                    links:
                      properties:
                        first:
                          description: A link to the first page of results
                          example: https://api.wisc.edu/finance/companies?page[number]=1
                          type: string
                        last:
                          description: A link to the last page of results
                          example: https://api.wisc.edu/finance/companies?page[number]=99
                          type: string
                        next:
                          description: A link to the next page of results, if there is one
                          example: https://api.wisc.edu/finance/companies/page[number]=2
                          type:
                          - string
                          - 'null'
                        prev:
                          description: A link to the previous page of results, if there is one
                          example: https://api.wisc.edu/finance/companies?page[number]=1
                          type:
                          - string
                          - 'null'
                        self:
                          description: The link that generated this response
                          example: https://api.wisc.edu/finance/companies
                          type: string
                      type: object
                    meta:
                      properties:
                        pageNumber:
                          description: Page number requested.
                          example: 1
                          format: int64
                          type: integer
                        pageSize:
                          description: Number of items on each page.
                          example: 100
                          format: int64
                          type: integer
                        totalCount:
                          description: Total number of items across all pages.
                          example: 1234
                          format: int64
                          type: integer
                        totalPages:
                          description: Total number of pages given pageSize.
                          example: 13
                          format: int64
                          type: integer
                      type: object
                  type: object
                - properties:
                    attributes:
                      properties:
                        url:
                          description: Presigned URL to download the data from S3. The URL is valid for 15 minutes.
                          example: https://example.com/link
                          type: string
                      type: object
                    id:
                      description: The unique identifier for an presigned link.
                      example: 670ac856-91ef-47ee-8f1d-b79d4f656a10
                      type: string
                    type:
                      enum:
                      - bulkDelivery
                      example: bulkDelivery
                      type: string
                  type: object
          description: An API response with a collection of companies, pagination, and metadata
        '400':
          content:
            application/vnd.api+json:
              examples:
                invalid-filter-parameters-not-filterable:
                  description: 'Error raised when filtering on valid attributes that cannot be filtered on, such as attributes that are containers for nested objects.

                    '
                  value:
                    errors:
                    - detail: Attribute 'lines' cannot be filtered on for internalServiceDeliveries.
                      status: 400
                      title: Bad Request
                invalid-filter-parameters-not-found:
                  description: Error raised when filtering on non-existent attributes.
                  value:
                    errors:
                    - detail: Attribute 'foo' does not exist on internalServiceProviders.
                      status: 400
                      title: Bad Request
                invalid-pagination-parameters-bad-value:
                  description: 'Error raised when providing pagination parameters outside the allowed range or in an invalid datatype/format.

                    '
                  value:
                    errors:
                    - detail: 'Invalid pagination parameter: ''size'' must be a positive integer between 1 and 1000 (got: '''').'
                      status: 400
                      title: Bad Request
                invalid-pagination-parameters-not-found:
                  description: Error raised when providing non-existent pagination parameters.
                  value:
                    errors:
                    - detail: 'Invalid pagination parameter: ''num'' does not exist.'
                      status: 400
                      title: Bad Request
                invalid-query-parameters:
                  description: 'Error raised when using invalid query parameters, such as malformed filter parameters on valid attributes.

                    '
                  value:
                    errors:
                    - detail: 'Invalid parameter: ''filter[id''.'
                      status: 400
                      title: Bad Request
                unsupported-parameters:
                  description: Error raised when attempting to use query parameters that an endpoint does not support.
                  value:
                    errors:
                    - detail: 'The following query parameters are not supported/recongized for this endpoint: include, page.'
                      status: 400
                      title: Bad Request
              schema:
                properties:
                  errors:
                    items:
                      description: An error
                      properties:
                        detail:
                          type: string
                        status:
                          type: number
                        title:
                          type: string
                    type: array
                type: object
          description: A bad request.
        '401':
          content:
            application/vnd.api+json:
              example:
                errors:
                - detail: Invalid or expired OAuth token.
                  status: 401
                  title: Unauthorized
              schema:
                properties:
                  errors:
                    items:
                      description: An error
                      properties:
                        detail:
                          type: string
                        status:
                          type: number
                        title:
                          type: string
                    type: array
                type: object
          description: Invalid or expired OAuth token.
        '403':
          content:
            application/vnd.api+json:
              examples:
                invalid-company-access:
                  description: Error raised when your application has misconfigured company access.
                  value:
                    errors:
                    - detail: Your application has no allowed companies set. Contact the Finance API team (finance-apis@doit.wisc.edu) to resolve this.
                      status: 403
                      title: Forbidden
                no-company-access:
                  description: Error raised when attempting to query data belonging to companies you not have access to.
                  value:
                    errors:
                    - detail: You don't have access to company 'XYZ'.
                      status: 403
                      title: Forbidden
                no-permission:
                  description: Error raised when your application does not have permission to use an endpoint.
                  value:
                    errors:
                    - detail: You don't have access to this endpoint.
                      status: 403
                      title: Forbidden
              schema:
                properties:
                  errors:
                    items:
                      description: An error
                      properties:
                        detail:
                          type: string
                        status:
                          type: number
                        title:
                          type: string
                    type: array
                type: object
          description: You requested information for which you don't have the proper authorization.
        '404':
          content:
            application/vnd.api+json:
              example:
                errors:
                - detail: Requested record could not be found.
                  status: 404
                  title: Not Found
              schema:
                properties:
                  errors:
                    items:
                      description: An error
                      properties:
                        detail:
                          type: string
                        status:
                          type: number
                        title:
                          type: string
                    type: array
                type: object
          description: Requested record could not be found.
        '415':
          content:
            application/vnd.api+json:
              example:
                errors:
                - detail: Expected media type 'application/vnd.api+json'.
                  status: 415
                  title: Unsupported Media Type
              schema:
                properties:
                  errors:
                    items:
                      description: An error
                      properties:
                        detail:
                          type: string
                        status:
                          type: number
                        title:
                          type: string
                    type: array
                type: object
          description: Invalid media type in contentType header.
        '429':
          content:
            application/vnd.api+json:
              example:
                errors:
                - detail: Quota exceeded.
                  status: 429
                  title: Too Many Requests
              schema:
                properties:
                  errors:
                    items:
                      description: An error
                      properties:
                        detail:
                          type: string
                        status:
                          type: number
                        title:
                          type: string
                    type: array
                type: object
          description: Quota exceeded.
        '503':
          content:
            application/vnd.api+json:
              example:
                errors:
                - detail: Dependent service unavailable.
                  status: 503
                  title: Service Unavailable
              schema:
                properties:
                  errors:
                    items:
                      description: An error
                      properties:
                        detail:
                          type: string
                        status:
                          type: number
                        title:
                          type: string
                    type: array
                type: object
          description: Finance API is unavailable.
      tags:
      - Worktags
  /companies/{id}:
    get:
      description: Retrieves a single company by its ID.
      parameters:
      - description: A company ID passed in as a URL parameter.
        in: path
        name: id
        required: true
        schema:
          description: The unique identifier for a company record.
          example: UWMSN
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              example:
                data:
                  attributes:
                    active: true
                    name: University of Wisconsin Madison
                  id: UWMSN
                  links:
                    self: https://api.wisc.edu/finance/companies/UWMSN
                  meta:
                    lastModified: 2026-06-15 13:11:13
                  type: companies
                links:
                  self: https://api.wisc.edu/finance/companies/UWMSN
              schema:
                properties:
                  data:
                    description: A single company record.
                    properties:
                      attributes:
                        properties:
                          active:
                            description: Whether the company is currently active or not.
                            example: true
                            type: boolean
                          name:
                            description: Name of the company.
                            example: University of Wisconsin Madison
                            type: string
                        type: object
                      id:
                        description: The unique identifier for a company record.
                        example: UWMSN
                        type: string
                      links:
                        description: Links related to this record
                        properties:
                          self:
                            example: https://api.wisc.edu/finance/companies/UWMSN
                            type: string
                        type: object
                      meta:
                        properties:
                          lastModified:
                            description: Date/time of the last time this worktag was updated in the product database in ISO format.
                            example: 2026-06-15 13:11:13
                            type:
                            - string
                            - 'null'
                        type: object
                      type:
                        example: companies
                        type: string
                    type: object
                  links:
                    description: Links related to this record
                    properties:
                      self:
                        example: https://api.wisc.edu/finance/companies/UWMSN
                        type: string
                    type: object
                type: object
          description: An API response with a single company record
        '400':
          content:
            application/vnd.api+json:
              examples:
                invalid-filter-parameters-not-filterable:
                  description: 'Error raised when filtering on valid attributes that cannot be filtered on, such as attributes that are containers for nested objects.

                    '
                  value:
                    errors:
                    - detail: Attribute 'lines' cannot be filtered on for internalServiceDeliveries.
                      status: 400
                      title: Bad Request
                invalid-filter-parameters-not-found:
                  description: Error raised when filtering on non-existent attributes.
                  value:
                    errors:
                    - detail: Attribute 'foo' does not exist on internalServiceProviders.
                      status: 400
                      title: Bad Request
                invalid-pagination-parameters-bad-value:
                  description: 'Error raised when providing pagination parameters outside the allowed range or in an invalid datatype/format.

                    '
                  value:
                    errors:
                    - detail: 'Invalid pagination parameter: ''size'' must be a positive integer between 1 and 1000 (got: '''').'
                      status: 400
                      title: Bad Request
                invalid-pagination-parameters-not-found:
                  description: Error raised when providing non-existent pagination parameters.
                  value:
                    errors:
                    - detail: 'Invalid pagination parameter: ''num'' does not exist.'
                      status: 400
                      title: Bad Request
                invalid-query-parameters:
                  description: 'Error raised when using invalid query parameters, such as malformed filter parameters on valid attributes.

                    '
                  value:
                    errors:
                    - detail: 'Invalid parameter: ''filter[id''.'
                      status: 400
                      title: Bad Request
                unsupported-parameters:
                  description: Error raised when attempting to use query parameters that an endpoint does not support.
                  value:
                    errors:
                    - detail: 'The following query parameters are not supported/recongized for this endpoint: include, page.'
                      status: 400
                      title: Bad Request
              schema:
                properties:
                  errors:
                    items:
                      description: An error
                      properties:
                        detail:
                          type: string
                        status:
                          type: number
                        title:
                          type: string
                    type: array
                type: object
          description: A bad request.
        '401':
          content:
            application/vnd.api+json:
              example:
                errors:
                - detail: Invalid or expired OAuth token.
                  status: 401
                  title: Unauthorized
              schema:
                properties:
                  errors:
                    items:
                      description: An error
                      properties:
                        detail:
                          type: string
                        status:
                          type: number
                        title:
                          type: string
                    type: array
                type: object
          description: Invalid or expired OAuth token.
        '403':
          content:
            application/vnd.api+json:
              examples:
                invalid-company-access:
                  description: Error raised when your application has misconfigured company access.
                  value:
                    errors:
                    - detail: Your application has no allowed companies set. Contact the Finance API team (finance-apis@doit.wisc.edu) to resolve this.
                      status: 403
                      title: Forbidden
                no-company-access:
                  description: Error raised when attempting to query data belonging to companies you not have access to.
                  value:
                    errors:
                    - detail: You don't have access to company 'XYZ'.
                      status: 403
                      title: Forbidden
                no-permission:
                  description: Error raised when your application does not have permission to use an endpoint.
                  value:
                    errors:
                    - detail: You don't have access to this endpoint.
                      status: 403
                      title: Forbidden
              schema:
                properties:
                  errors:
                    items:
                      description: An error
                      properties:
                        detail:
                          type: string
                        status:
                          type: number
                        title:
                          type: string
                    type: array
                type: object
          description: You requested information for which you don't have the proper authorization.
        '404':
          content:
            application/vnd.api+json:
              example:
                errors:
                - detail: Requested record could not be found.
                  status: 404
                  title: Not Found
              schema:
                properties:
                  errors:
                    items:
                      description: An error
                      properties:
                        detail:
                          type: string
                        status:
                          type: number
                        title:
                          type: string
                    type: array
                type: object
          description: Requested record could not be found.
        '415':
          content:
            application/vnd.api+json:
              example:
                errors:
                - detail: Expected media type 'application/vnd.api+json'.
                  status: 415
                  title: Unsupported Media Type
              schema:
                properties:
                  errors:
                    items:
                      description: An error
                      properties:
                        detail:
                          type: string
                        status:
                          type: number
                        title:
                          type: string
                    type: array
                type: object
          description: Invalid media type in contentType header.
        '429':
          content:
            application/vnd.api+json:
              example:
                errors:
                - detail: Quota exceeded.
                  status: 429
                  title: Too Many Requests
              schema:
                properties:
                  errors:
                    items:
                      description: An error
                      properties:
                        detail:
                          type: string
                        status:
                          type: number
                        title:
                          type: string
                    type: array
                type: object
          description: Quota exceeded.
        '503':
          content:
            application/vnd.api+json:
              example:
                errors:
                - detail: Dependent service unavailable.
                  status: 503
                  title: Service Unavailable
              schema:
                properties:
                  errors:
                    items:
                      description: An error
                      properties:
                        detail:
                          type: string
                        status:
                          type: number
                        title:
                          type: string
                    type: array
                type: object
          description: Finance API is unavailable.
      tags:
      - Worktags
  /costCenters:
    get:
      description: Retrieves a paginated listing of all cost centers.
      parameters:
      - description: The datetime that the record was last changed in the Finance API's database.
        in: query
        name: filter[lastModified]
        required: false
        schema:
          format: datetime
          type: string
      - description: Page offset of records included in the response
        in: query
        name: page[number]
        required: false
        schema:
          minimum: 1
          type: integer
      - description: Number of records included in the response
        in: query
        name: page[size]
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - description: Delivery mode for the response. When set to 'bulk', the API will save the response to S3 and return a link to download it instead of returning the data directly. Cannot be used with pagination parameters.
        examples:
          bulk:
[...]
