openapi: 3.2.0
info:
  contact:
    email: finance-apis@doit.wisc.edu
    name: DoIT Enterprise Business Systems (EBS) Integrated Business Solutions (IBS) API Team
  description: An API for accessing and validating UW financial data.
  title: Finance Other API
  version: 2026-02-18
servers:
- description: Production
  url: https://api.wisc.edu/finance
security:
- OAuth2ClientCredentials: []
tags:
- name: Other
paths:
  /assets:
    get:
      description: Retrieves a paginated listing of all assets.
      parameters:
      - description: Delivery mode for the response. When set to 'bulk', the API will save the response to S3 and return a link to download it instead of returning the data directly. Cannot be used with pagination parameters.
        examples:
          bulk:
            description: Returns a link to download data from S3
            summary: Bulk delivery mode
            value: bulk
          pagination:
            description: Returns data with pagination support
            summary: Pagination delivery mode
            value: pagination
        in: query
        name: delivery
        schema:
          default: pagination
          enum:
          - pagination
          - bulk
          type: string
      - description: The identifier of the record.
        in: query
        name: filter[id]
        required: false
        schema:
          type: string
      - description: The datetime that the record was last changed in the Finance API's database.
        in: query
        name: filter[lastModified]
        required: false
        schema:
          format: datetime
          type: string
      - description: Page offset of records included in the response
        in: query
        name: page[number]
        required: false
        schema:
          minimum: 1
          type: integer
      - description: Number of records included in the response
        in: query
        name: page[size]
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - in: query
        name: filter[accountingTreatment]
        schema:
          type: string
      - in: query
        name: filter[acquisitionDate]
        schema:
          format: date
          type: string
      - in: query
        name: filter[acquisitionMethod]
        schema:
          type: string
      - in: query
        name: filter[accumulatedDepreciation]
        schema:
          format: double
          type: number
      - in: query
        name: filter[assetClass]
        schema:
          type: string
      - in: query
        name: filter[assetCost]
        schema:
          format: double
          type: number
      - in: query
        name: filter[assetDescription]
        schema:
          type: string
      - in: query
        name: filter[assetIdentifier]
        schema:
          type: string
      - in: query
        name: filter[assetName]
        schema:
          type: string
      - in: query
        name: filter[assetSource]
        schema:
          type: string
      - in: query
        name: filter[assetStatus]
        schema:
          type: string
      - in: query
        name: filter[assetType]
        schema:
          type: string
      - in: query
        name: filter[awardId]
        schema:
          type: string
      - in: query
        name: filter[company]
        schema:
          type: string
      - in: query
        name: filter[conditionCode]
        schema:
          type: string
      - in: query
        name: filter[contractId]
        schema:
          type: string
      - in: query
        name: filter[coordinatingCostCenterId]
        schema:
          type: string
      - in: query
        name: filter[costCenterId]
        schema:
          type: string
      - in: query
        name: filter[datePlacedInService]
        schema:
          format: date
          type: string
      - in: query
        name: filter[dateRegistered]
        schema:
          format: date
          type: string
      - in: query
        name: filter[depreciationMethod]
        schema:
          type: string
      - in: query
        name: filter[depreciationProfile]
        schema:
          type: string
      - in: query
        name: filter[depreciationStartDate]
        schema:
          format: date
          type: string
      - in: query
        name: filter[disposalDate]
        schema:
          format: date
          type: string
      - in: query
        name: filter[disposalMethod]
        schema:
          type: string
      - in: query
        name: filter[functionId]
        schema:
          type: string
      - in: query
        name: filter[fundId]
        schema:
          type: string
      - in: query
        name: filter[giftId]
        schema:
          type: string
      - in: query
        name: filter[grantId]
        schema:
          type: string
      - in: query
        name: filter[historicAssetIdentifier]
        schema:
          type: string
      - in: query
        name: filter[lastIssuedOrTransferredDate]
        schema:
          format: date
          type: string
      - in: query
        name: filter[lastPhysicalInventoryDate]
        schema:
          format: date
          type: string
      - in: query
        name: filter[locationId]
        schema:
          type: string
      - in: query
        name: filter[manufacturer]
        schema:
          type: string
      - in: query
        name: filter[memo]
        schema:
          type: string
      - in: query
        name: filter[modelNumber]
        schema:
          type: string
      - in: query
        name: filter[netBookValue]
        schema:
          format: double
          type: number
      - in: query
        name: filter[purchaseOrderId]
        schema:
          type: string
      - in: query
        name: filter[programId]
        schema:
          type: string
      - in: query
        name: filter[projectId]
        schema:
          type: string
      - in: query
        name: filter[serialNumber]
        schema:
          type: string
      - in: query
        name: filter[sfsAssetId]
        schema:
          type: string
      - in: query
        name: filter[sfsProjectId]
        schema:
          type: string
      - in: query
        name: filter[spendCategoryId]
        schema:
          type: string
      - in: query
        name: filter[supplierInvoiceId]
        schema:
          type: string
      - in: query
        name: filter[usefulLifePeriods]
        schema:
          format: int64
          type: integer
      - in: query
        name: filter[shares.awardId]
        schema:
          type: string
      - in: query
        name: filter[shares.costCenterId]
        schema:
          type: string
      - in: query
        name: filter[shares.functionId]
        schema:
          type: string
      - in: query
        name: filter[shares.fundId]
        schema:
          type: string
      - in: query
        name: filter[shares.giftId]
        schema:
          type: string
      - in: query
        name: filter[shares.grantId]
        schema:
          type: string
      - in: query
        name: filter[shares.id]
        schema:
          type: string
      - in: query
        name: filter[shares.programId]
        schema:
          type: string
      - in: query
        name: filter[shares.projectId]
        schema:
          type: string
      - in: query
        name: filter[shares.shareAmount]
        schema:
          format: double
          type: number
      - in: query
        name: filter[shares.shareClass]
        schema:
          type: string
      - in: query
        name: filter[shares.shareType]
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              example:
                data:
                - attributes:
                    accountingTreatment: Non-depreciable Capital Asset
                    accumulatedDepreciation: 6583.94
                    acquisitionDate: '2024-07-01'
                    acquisitionMethod: Intercompany Transfer
                    assetClass: Athletic Recreational Equipment
                    assetCost: 11500.0
                    assetDescription: Badger costume with football jersey for 5-6ft tall performer.
                    assetIdentifier: UWSA-8000001
                    assetName: Badger costume football 5-6ft
                    assetSource: Supplier Contract Receipt
                    assetStatus: In Service
                    assetType: Capital Equipment
                    awardId: AWD-001234
                    company: UWMSN
                    conditionCode: 1 - Excellent
                    contractId: CON-00001234
                    coordinatingCostCenterId: CC001234
                    costCenterId: CC002345
                    datePlacedInService: '2024-07-01'
                    dateRegistered: '2024-07-01'
                    depreciationMethod: Straight Line
                    depreciationProfile: Straight Line 8-Year
                    depreciationStartDate: '2024-07-01'
                    disposalDate: '2024-07-01'
                    disposalMethod: Discard
                    functionId: FN0100
                    fundId: FD0200
                    giftId: GF000007664
                    grantId: GR000018391
                    historicAssetIdentifier: U0627605
                    lastIssuedOrTransferredDate: '2024-07-01'
                    lastPhysicalInventoryDate: '2024-07-01'
                    locationId: LCMSN_0003_01_0123
                    manufacturer: Bucky Badger Costuming Inc
                    memo: 'Primary loc: Wisconsin Field House, 1450 Monroe St, 120A Storage Closet, Madison, WI 53706

                      Secondary loc: Camp Randall Stadium, 1440 Monroe St, 020 Locker Room, Madison, WI 53711'
                    modelNumber: BUCKY013
                    netBookValue: 4916.06
                    programId: GF000007664
                    projectId: PJ000000409
                    purchaseOrderId: PO-00123456
                    serialNumber: B3819332581
                    sfsAssetId: 000000009113
                    sfsProjectId: AAZ3911
                    shares:
                    - awardId: AWD-001234
                      costCenterId: CC002345
                      functionId: FN0100
                      fundId: FD0200
                      giftId: GF000007664
                      grantId: GR000018391
                      id: 1000-0
                      programId: GF000007664
                      projectId: PJ000000409
                      shareAmount: 3816.06
                      shareClass: Athletic Recreational Equipment
                      shareType: Capital Equipment
                    spendCategoryId: SC00234
                    supplierInvoiceId: SC00234
                    usefulLifePeriods: 96
                  id: BAS-01234567
                  links:
                    self: https://api.wisc.edu/finance/assets/BAS-01234567
                  meta:
                    lastModified: 2026-06-15 13:11:13
                  type: assets
                links:
                  first: https://api.wisc.edu/finance/assets?page[first]=1
                  last: https://api.wisc.edu/finance/assets?page[last]=99
                  next: https://api.wisc.edu/finance/assets?page[next]=2
                  prev: https://api.wisc.edu/finance/assets?page[prev]=1
                  self: https://api.wisc.edu/finance/assets
                meta:
                  pageNumber: 1
                  pageSize: 100
                  totalCount: 1234
                  totalPages: 13
              schema:
                oneOf:
                - properties:
                    data:
                      description: A collection of assets.
                      items:
                        description: A single asset record.
                        properties:
                          attributes:
                            properties:
                              accountingTreatment:
                                description: How to treat the asset from a depreciation standpoint.
                                enum:
                                - Depreciable Capital Asset
                                - Expense
                                - Non-depreciable Capital Asset
                                example: Non-depreciable Capital Asset
                                type:
                                - string
                                - 'null'
                              accumulatedDepreciation:
                                default: 0.0
                                description: 'The accumulated depreciation posted to the asset. This value should increase over the useful life of the asset according to its depreciation profile up to its total cost/value. If an asset is split across several shares, this value reflects the overall total depreciation.

                                  '
                                example: 6583.94
                                format: double
                                type: number
                              acquisitionDate:
                                description: The date the asset was acquired.
                                example: '2024-07-01'
                                format: date
                                type:
                                - string
                                - 'null'
                              acquisitionMethod:
                                description: How the asset was acquired.
                                enum:
                                - Intercompany Transfer
                                - Leased
                                - Other
                                - Purchased
                                example: Intercompany Transfer
                                type:
                                - string
                                - 'null'
                              assetClass:
                                description: The class of the asset.
                                example: Athletic Recreational Equipment
                                type:
                                - string
                                - 'null'
                              assetCost:
                                default: 0.0
                                description: The total acquisition cost/value of the asset.
                                example: 11500.0
                                format: double
                                type: number
                              assetDescription:
                                description: 'The description of the asset. This field has no size limit; some descriptions are over 1,000 characters long and contain line breaks.

                                  '
                                example: Badger costume with football jersey for 5-6ft tall performer.
                                type:
                                - string
                                - 'null'
                              assetIdentifier:
                                description: The identifier of the asset in a campus-specific asset tracking/management system.
                                example: UWSA-8000001
                                type:
                                - string
                                - 'null'
                              assetName:
                                description: The name of the asset.
                                example: Badger costume football 5-6ft
                                type:
                                - string
                                - 'null'
                              assetSource:
                                description: How the asset was captured.
                                enum:
                                - Supplier Contract Receipt
                                - Intercompany Transfer
                                - Manual Registration
                                - Supplier Invoice
                                example: Supplier Contract Receipt
                                type:
                                - string
                                - 'null'
                              assetStatus:
                                description: The status of the asset within the asset lifecycle.
                                enum:
                                - Disposed
                                - In Service
                                - Issued
                                - Pending Registration
                                - Registered
                                - Removed
                                example: In Service
                                type:
                                - string
                                - 'null'
                              assetType:
                                description: The classification of the asset.
                                example: Capital Equipment
                                type:
                                - string
                                - 'null'
                              awardId:
                                description: The ID of the award associated with the asset.
                                example: AWD-001234
                                type:
                                - string
                                - 'null'
                              company:
                                description: The company to which the asset is registered.
                                example: UWMSN
                                type: string
                              conditionCode:
                                description: The condition code of the asset.
                                enum:
                                - ''
                                - 1 - Excellent
                                - 4 - Usable
                                - 7 - Repairable
                                - S - Scrap
                                - X - Salvage
                                example: 1 - Excellent
                                type:
                                - string
                                - 'null'
                              contractId:
                                description: The ID of the contract associated with the asset.
                                example: CON-00001234
                                type:
                                - string
                                - 'null'
                              coordinatingCostCenterId:
                                description: 'The ID of the cost center of the asset''s coordinator. Some assets are purchased by the same cost center as the coordinator, in which case it will match the asset''s `costCenterId`.

                                  '
                                example: CC001234
                                type:
                                - string
                                - 'null'
                              costCenterId:
                                description: The ID of the cost center used to purchase the asset.
                                example: CC002345
                                type:
                                - string
                                - 'null'
                              datePlacedInService:
                                description: The date the asset was placed in service.
                                example: '2024-07-01'
                                format: date
                                type:
                                - string
                                - 'null'
                              dateRegistered:
                                description: The date the asset was registered in Workday.
                                example: '2024-07-01'
                                format: date
                                type:
                                - string
                                - 'null'
                              depreciationMethod:
                                description: The depreciation method associated with the asset.
                                enum:
                                - ''
                                - Straight Line
                                - Term
                                example: Straight Line
                                type:
                                - string
                                - 'null'
                              depreciationProfile:
                                description: The depreciation profile associated with the asset.
                                example: Straight Line 8-Year
                                type:
                                - string
                                - 'null'
                              depreciationStartDate:
                                description: 'The date that depreciation of the asset began. This is usually the start of the first month of service.

                                  '
                                example: '2024-07-01'
                                format: date
                                type:
                                - string
                                - 'null'
                              disposalDate:
                                description: The date the asset was/will be disposed of.
                                example: '2024-07-01'
                                format: date
                                type:
                                - string
                                - 'null'
                              disposalMethod:
                                description: The disposal method of the asset.
                                enum:
                                - ''
                                - Discard
                                - Intercompany Transfer
                                - Sale
                                example: Discard
                                type:
                                - string
                                - 'null'
                              functionId:
                                description: The ID of the function associated with the asset.
                                example: FN0100
                                type:
                                - string
                                - 'null'
                              fundId:
                                description: The ID of the fund associated with the asset.
                                example: FD0200
                                type:
                                - string
                                - 'null'
                              giftId:
                                description: The ID of the gift associated with the asset.
                                example: GF000007664
                                type:
                                - string
                                - 'null'
                              grantId:
                                description: The ID of the grant associated with the asset.
                                example: GR000018391
                                type:
                                - string
                                - 'null'
                              historicAssetIdentifier:
                                description: The asset's identifier in a previous system.
                                example: U0627605
                                type:
                                - string
                                - 'null'
                              lastIssuedOrTransferredDate:
                                description: The date the asset was last issued or transferred.
                                example: '2024-07-01'
                                format: date
                                type:
                                - string
                                - 'null'
                              lastPhysicalInventoryDate:
                                description: The date the last physical inventory was taken on the asset.
                                example: '2024-07-01'
                                format: date
                                type:
                                - string
                                - 'null'
                              locationId:
                                description: The ID of the location assigned to the asset.
                                example: LCMSN_0003_01_0123
                                type:
                                - string
                                - 'null'
                              manufacturer:
                                description: The  of the asset.
                                example: Bucky Badger Costuming Inc
                                type:
                                - string
                                - 'null'
                              memo:
                                description: 'Additional data or comments about the asset. For assets that predate Workday, this attribute also stores extra fields which do not have a Workday equivalent. This field has no size limit; some memos are over 1,000 characters long and contain line breaks.

                                  '
                                example: 'Primary loc: Wisconsin Field House, 1450 Monroe St, 120A Storage Closet, Madison, WI 53706

                                  Secondary loc: Camp Randall Stadium, 1440 Monroe St, 020 Locker Room, Madison, WI 53711'
                                type:
                                - string
                                - 'null'
                              modelNumber:
                                description: For physical assets, the model number.
                                example: BUCKY013
                                type:
                                - string
                                - 'null'
                              netBookValue:
                                default: 0.0
                                description: The current value of the asset, defined as the asset cost less accumulated depreciation.
                                example: 4916.06
                                format: double
                                type: number
                              programId:
                                description: The ID of the program associated with the asset.
                                example: GF000007664
                                type:
                                - string
                                - 'null'
                              projectId:
                                description: The ID of the project associated with the asset.
                                example: PJ000000409
                                type:
                                - string
                                - 'null'
                              purchaseOrderId:
                                description: 'The ID of the purchase order associated with the asset. This is usually an actual purchase order identifier you can use on the purchaseOrders endpoints, but some assets have poor formatting of the ID, multiple IDs, or had this field mistaken for another and have unrelated data.

                                  '
                                example: PO-00123456
                                type:
                                - string
                                - 'null'
                              serialNumber:
                                description: 'For physical assets, the serial number. This field has no size limit or standardized formatting. Some assets without a serial number were entered as `""` (empty string), others as `NONE`, `N/A`, `(blank)`, `UNKNOWN`, etc. Some assets have multiple serial numbers, and the way these are delimited also has no standard, with some being comma-separated and others being textual descriptions of what serial number goes with what part.

                                  '
                                example: B3819332581
                                type:
                                - string
                                - 'null'
                              sfsAssetId:
                                description: 'The legacy asset ID of the asset pulled during conversion from SFS. This field will not be used for any assets which post-date Workday go-live.

                                  '
                                example: 000000009113
                                type:
                                - string
                                - 'null'
                              sfsProjectId:
                                description: 'The legacy project ID of the asset pulled during conversion from SFS. This field will not be used for any assets which post-date Workday go-live.

                                  '
                                example: AAZ3911
                                type:
                                - string
                                - 'null'
                              shares:
                                description: 'When an asset''s cost/value is shared/split across multiple funding sources, this contains the group of sources representing their respective allocations.

                                  '
                                items:
                                  properties:
                                    awardId:
                                      description: The ID of the award associated with the share.
                                      example: AWD-001234
                                      type:
                                      - string
                                      - 'null'
                                    costCenterId:
                                      description: The ID of the cost center of the share.
                                      example: CC002345
                                      type:
                                      - string
                                      - 'null'
                                    functionId:
                                      description: The ID of the function associated with the share.
                                      example: FN0100
                                      type:
                                      - string
                                      - 'null'
                                    fundId:
                                      description: The ID of the fund associated with the share.
                                      example: FD0200
                                      type:
                                      - string
                                      - 'null'
                                    giftId:
                                      description: The ID of the gift associated with the share.
                                      example: GF000007664
                                      type:
                                      - string
                                      - 'null'
                                    grantId:
                                      description: The ID of the grant associated with the share.
                                      example: GR000018391
                                      type:
                                      - string
                                      - 'null'
                                    id:
                                      description: The ID of the share.
                                      example: 1000-0
                                      type: string
                                    programId:
                                      description: The ID of the program associated with the share.
                                      example: GF000007664
                                      type:
                                      - string
                                      - 'null'
                                    projectId:
                                      description: The ID of the project associated with the share.
                                      example: PJ000000409
                                      type:
                                      - string
                                      - 'null'
                                    shareAmount:
                                      default: 0.0
                                      description: 'The amount of the asset''s original cost associated with the share. When totaled, an asset''s shares'' share amounts should equal the asset''s cost.

                                        '
                                      example: 3816.06
                                      format: double
                                      type: number
                                    shareClass:
                                      description: The asset class associated with the share.
                                      example: Athletic Recreational Equipment
                                      type:
                                      - string
                                      - 'null'
                                    shareType:
                                      description: The asset classification associated with the share.
                                      example: Capital Equipment
                                      type:
                                      - string
                                      - 'null'
                                  type: object
                                minItems: 0
                                type: array
                              spendCategoryId:
                                description: The ID of the spend category associated with the asset.
                                example: SC00234
                                type:
                                - string
                                - 'null'
                              supplierInvoiceId:
                                description: 'The ID of the supplier invoice associated with the purchase of the asset. This is usually an actual supplier invoice identifier you can use on the supplierInvoice endpoints, but some have invoice IDs which predate Workday and others have multiple invoice IDs listed.

                                  '
                                example: SC00234
                                type:
                                - string
                                - 'null'
                              usefulLifePeriods:
                                default: 0
                                description: The useful life of the asset, measured in months.
                                example: 96
                                format: int64
                                type: integer
                            type: object
                          id:
                            description: The unique identifier for an asset record generated by Workday.
                            example: BAS-01234567
                            type: string
                          links:
                            description: Links related to this record
                            properties:
                              self:
                                description: The link to just this record
                                example: https://api.wisc.edu/finance/assets/BAS-01234567
                                type: string
                            type: object
                          meta:
                            properties:
                              lastModified:
                                description: Date/time of the last time this worktag was updated in the product database in ISO format.
                                example: 2026-06-15 13:11:13
                                type:
                                - string
                                - 'null'
                            type: object
                          type:
                            enum:
                            - assets
                            example: assets
                            type: string
                        type: object
                      type: array
                    links:
                      properties:
                        first:
                          description: A link to the first page of results
                          example: https://api.wisc.edu/finance/assets?page[first]=1
                          type: string
                        last:
                          description: A link to the last page of results
                          example: https://api.wisc.edu/finance/assets?page[last]=99
                          type: string
                        next:
                          description: A link to the next page of results, if there is one
                          example: https://api.wisc.edu/finance/assets?page[next]=2
                          type:
                          - string
                          - 'null'
                        prev:
                          description: A link to the previous page of results, if there is one
                          example: https://api.wisc.edu/finance/assets?page[prev]=1
                          type:
                          - string
                          - 'null'
                        self:
                          description: The link that generated this response
                          example: https://api.wisc.edu/finance/assets
                          type: string
                      type: object
                    meta:
                      properties:
                        pageNumber:
                          description: Page number requested.
                          example: 1
                          format: int64
                          type: integer
                        pageSize:
                          description: Number of items on each page.
                          example: 100
                          format: int64
                          type: integer
                        totalCount:
                          description: Total number of items across all pages.
                          example: 1234
                          format: int64
                          type: integer
                        totalPages:
                          description: Total number of pages given pageSize.
                          example: 13
                          format: int64
                          type: integer
                      type: object
                  type: object
                - properties:
                    attributes:
                      properties:
                        url:
                          description: Presigned URL to download the data from S3. The URL is valid for 15 minutes.
                          example: https://example.com/link
                          type: string
                      type: object
                    id:
                      description: The unique identifier for an presigned link.
                      example: 670ac856-91ef-47ee-8f1d-b79d4f656a10
                      type: string
                    type:
                      enum:
                      - bulkDelivery
                      example: bulkDelivery
                      type: string
                  type: object
          description: An API response with a collection of assets, pagination, and metadata
        '400':
          content:
            application/vnd.api+json:
              examples:
                invalid-filter-parameters-not-filterable:
                  description: 'Error raised when filtering on valid attributes that cannot be filtered on, such as attributes that are containers for nested objects.

                    '
                  value:
                    errors:
                    - detail: Attribute 'lines' cannot be filtered on for internalServiceDeliveries.
                      status: 400
                      title: Bad Request
                invalid-filter-parameters-not-found:
                  description: Error raised when filtering on non-existent attributes.
                  value:
                    errors:
                    - detail: Attribute 'foo' does not exist on internalServiceProviders.
                      status: 400
                      title: Bad Request
                invalid-pagination-parameters-bad-value:
                  description: 'Error raised when providing pagination parameters outside the allowed range or in an invalid datatype/format.

                    '
                  value:
                    errors:
                    - detail: 'Invalid pagination parameter: ''size'' must be a positive integer between 1 and 1000 (got: '''').'
                      status: 400
                      title: Bad Request
                invalid-pagination-parameters-not-found:
                  description: Error raised when providing non-existent pagination parameters.
                  value:
                    errors:
                    - detail: 'Invalid pagination parameter: ''num'' does not exist.'
                      status: 400
                      title: Bad Request
                invalid-query-parameters:
                  description: 'Error raised when using invalid query parameters, such as malformed filter parameters on valid attributes.

                    '
                  value:
                    errors:
                    - detail: 'Invalid parameter: ''filter[id''.'
                      status: 400
                      title: Bad Request
                unsupported-parameters:
                  description: Error raised when attempting to use query parameters that an endpoint does not support.
                  value:
                    errors:
                    - detail: 'The following query parameters are not supported/recongized for this endpoint: include, page.'
                      status: 400
                      title: Bad Request
              schema:
                properties:
                  errors:
                    items:
                      description: An error
                      properties:
                        detail:
                          type: string
                        status:
                          type: number
                        title:
                          type: string
                    type: array
                type: object
          description: A bad request.
        '401':
          content:
            application/vnd.api+json:
              example:
                errors:
                - detail: Invalid or expired OAuth token.
                  status: 401
                  title: Unauthorized
              schema:
                properties:
                  errors:
                    items:
                      description: An error
                      properties:
                        detail:
                          type: string
                        status:
                          type: number
                        title:
                          type: string
                    type: array
                type: object
          description: Invalid or expired OAuth token.
        '403':
          content:
            application/vnd.api+json:
              examples:
                invalid-company-access:
                  description: Error raised when your application has misconfigured company access.
                  value:
                    errors:
                    - detail: Your application has no allowed companies set. Contact the Finance API team (finance-apis@doit.wisc.edu) to resolve this.
                      status: 403
                      title: Forbidden
                no-company-access:
                  description: Error raised when attempting to query data belonging to companies you not have access to.
                  value:
                    errors:
                    - detail: You don't have access to company 'XYZ'.
                      status: 403
                      title: Forbidden
                no-permission:
                  description: Error raised when your application does not have permission to use an endpoint.
                  value:
                    errors:
                    - detail: You don't have access to this endpoint.
                      status: 403
                      title: Forbidden
              schema:
                properties:
                  errors:
                    items:
                      description: An error
                      properties:
                        detail:
                          type: string
                        status:
                          type: number
                        title:
                          type: string
                    type: array
                type: object
          description: You requested information for which you don't have the proper authorization.
        '404':
          content:
            application/vnd.api+json:
              example:
                errors:
                - detail: Requested record could not be found.
                  status: 404
                  title: Not Found
              schema:
                properties:
                  errors:
                    items:
                      description: An error
                      properties:
                        detail:
                          type: string
                        status:
                          type: number
                        title:
                          type: string
                    type: array
                type: object
          description: Requested record could not be found.
        '415':
          content:
            application/vnd.api+json:
              example:
                errors:
                - detail: Expected media type 'application/vnd.api+json'.
                  status: 415
                  title: Unsupported Media Type
              schema:
                properties:
                  errors:
                    items:
                      description: An error
                      properties:
                        detail:
                          type: string
                        status:
                          type: number
                        title:
                          type: string
                    type: array
                type: object
          description: Invalid media type in contentType header.
        '429':
          content:
            application/vnd.api+json:
              example:
                errors:
                - detail: Quota exceeded.
                  status: 429
                  title: Too Many Requests
              schema:
                properties:
                  errors:
                    items:
                      description: An error
                      properties:
                        detail:
                          type: string
                        status:
                          type: number
                        title:
                          type: string
                    type: array
                type: object
          description: Quota exceeded.
        '503':
          content:
            application/vnd.api+json:
              example:
                errors:
                - detail: Dependent service unavailable.
                  status: 503
                  title: Service Unavailable
              schema:
                properties:
                  errors:
                    items:
                      description: An error
                      properties:
                        detail:
                          type: string
                        status:
                          type: number
                        title:
                          type: string
                    type: array
                type: object
          description: Finance API is unavailable.
      tags:
      - Other
      summary: Get assets
      x-summary-source: derived
      operationId: getAssets
      x-operation-id-source: derived
  /assets/{id}:
    get:
      description: Retrieves a asset by its ID.
      parameters:
      - description: An asset ID passed in as a URL parameter.
        in: path
        name: id
        required: true
        schema:
          description: The unique identifier for an asset record generated by Workday.
          example: BAS-01234567
          type: string
      - description: Delivery mode for the response. When set to 'bulk', the API will save the response to S3 and return a link to download it instead of returning the data directly. Cannot be used with pagination parameters.
        examples:
          bulk:
            description: Returns a link to download data from S3
            summary: Bulk delivery mode
            value: bulk
          pagination:
            description: Returns data with pagination support
            summary: Pagination delivery mode
            value: pagination
        in: query
        name: delivery
        schema:
          default: pagination
          enum:
          - pagination
          - bulk
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              example:
                data:
                  attributes:
                    accountingTreatment: Non-depreciable Capital Asset
                    accumulatedDepreciation: 6583.94
                    acquisitionDate: '2024-07-01'
                    acquisitionMethod: Intercompany Transfer
                    assetClass: Athletic Recreational Equipment
                    assetCost: 11500.0
                    assetDescription: Badger costume with football jersey for 5-6ft tall performer.
                    assetIdentifier: UWSA-8000001
                    assetName: Badger costume football 5-6ft
                    assetSource: Supplier Contract Receipt
                    assetStatus: In Service
                    assetType: Capital Equipment
                    awardId: AWD-001234
                    company: UWMSN
                    conditionCode: 1 - Excellent
                    contractId: CON-00001234
                    coordinatingCostCenterId: CC001234
                    costCenterId: CC002345
                    datePlacedInService: '2024-07-01'
                    dateRegistered: '2024-07-01'
                    depreciationMethod: Straight Line
                    depreciationProfile: Straight Line 8-Year
                    depreciationStartDate: '2024-07-01'
                    disposalDate: '2024-07-01'
                    disposalMethod: Discard
                    functionId: FN0100
                    fundId: FD0200
                    giftId: GF000007664
                    grantId: GR000018391
                    historicAssetIdentifier: U0627605
                    lastIssuedOrTransferredDate: '2024-07-01'
                    lastPhysicalInventoryDate: '2024-07-01'
                    locationId: LCMSN_0003_01_0123
                    manufacturer: Bucky Badger Costuming Inc
                    memo: 'Primary loc: Wisconsin Field House, 1450 Monroe St, 120A Storage Closet, Madison, WI 53706

                      Secondary loc: Camp Randall Stadium, 1440 Monroe St, 020 Locker Room, Madison, WI 53711'
                    modelNumber: BUCKY013
                    netBookValue: 4916.06
                    programId: GF000007664
                    projectId: PJ000000409
                    purchaseOrderId: PO-00123456
                    serialNumber: B3819332581
                    sfsAssetId: 000000009113
                    sfsProjectId: AAZ3911
                    shares:
                    - awardId: AWD-001234
                      costCenterId: CC002345
                      functionId: FN0100
                      fundId: FD0200
                      giftId: GF000007664
                      grantId: GR000018391
                      id: 1000-0
                      programId: GF000007664
                      projectId: PJ000000409
                      shareAmount: 3816.06
                      shareClass: Athletic Recreational Equipment
                      shareType: Capital Equipment
                    spendCategoryId: SC00234
                    supplierInvoiceId: SC00234
                    usefulLifePeriods: 96
                  id: BAS-01234567
                  links:
                    self: https://api.wisc.edu/finance/assets/BAS-01234567
                  meta:
                    lastModified: 2026-06-15 13:11:13
                  type: assets
                links:
                  self: https://api.wisc.edu/finance/assets/BAS-01234567
              schema:
                oneOf:
                - properties:
                    data:
                      description: A single asset record.
                      properties:
                        attributes:
                          properties:
                            accountingTreatment:
                              description: How to treat the asset from a depreciation standpoint.
                              enum:
                              - Depreciable Capital Asset
                              - Expense
                              - Non-depreciable Capital Asset
                              example: Non-depreciable Capital Asset
                              type:
                              - string
                              - 'null'
                            accumulatedDepreciation:
                              default: 0.0
                              description: 'The accumulated depreciation posted to the asset. This value should increase over the useful life of the asset according to its depreciation profile up to its total cost/value. If an asset is split across several shares, this value reflects the overall total depreciation.

                                '
                              example: 6583.94
                              format: double
                              type: number
                            acquisitionDate:
                              description: The date the asset was acquired.
                              example: '2024-07-01'
                              format: date
                              type:
                              - string
                              - 'null'
                            acquisitionMethod:
                              description: How the asset was acquired.
                              enum:
                              - Intercompany Transfer
                              - Leased
                              - Other
                              - Purchased
                              example: Intercompany Transfer
                              type:
                              - string
                              - 'null'
                            assetClass:
                              description: The class of the asset.
                              example: Athletic Recreational Equipment
                              type:
                              - string
                              - 'null'
                            assetCost:
                              default: 0.0
                              description: The total acquisition cost/value of the asset.
                              example: 11500.0
                              format: double
                              type: number
                            assetDescription:
                              description: 'The description of the asset. This field has no size limit; some descriptions are over 1,000 characters long and contain line breaks.

                                '
                              example: Badger costume with football jersey for 5-6ft tall performer.
                              type:
                              - string
                              - 'null'
                            assetIdentifier:
                              description: The identifier of the asset in a campus-specific asset tracking/management system.
                              example: UWSA-8000001
                              type:
                              - string
                              - 'null'
                            assetName:
                              description: The name of the asset.
                              example: Badger costume football 5-6ft
                              type:
                              - string
                              - 'null'
                            assetSource:
                              description: How the asset was captured.
                              enum:
                              - Supplier Contract Receipt
                              - Intercompany Transfer
                              - Manual Registration
                              - Supplier Invoice
                              example: Supplier Contract Receipt
                              type:
                              - string
                              - 'null'
                            assetStatus:
                              description: The status of the asset within the asset lifecycle.
                              enum:
                              - Disposed
                              - In Service
                              - Issued
                              - Pending Registration
                              - Registered
                              - Removed
                              example: In Service
                              type:
                              - string
                              - 'null'
                            assetType:
                              description: The classification of the asset.
                              example: Capital Equipment
                              type:
                              - string
                              - 'null'
                            awardId:
                              description: The ID of the award associated with the asset.
                              example: AWD-001234
                              type:
                              - string
                              - 'null'
                            company:
                              description: The company to which the asset is registered.
                              example: UWMSN
                              type: string
                            conditionCode:
                              description: The condition code of the asset.
                              enum:
                              - ''
                              - 1 - Excellent
                              - 4 - Usable
                              - 7 - Repairable
                              - S - Scrap
                              - X - Salvage
                              example: 1 - Excellent
                              type:
                              - string
                              - 'null'
                            contractId:
                              description: The ID of the contract associated with the asset.
                              example: CON-00001234
                              type:
                              - string
                              - 'null'
                            coordinatingCostCenterId:
                              description: 'The ID of the cost center of the asset''s coordinator. Some assets are purchased by the same cost center as the coordinator, in which case it will match the asset''s `costCenterId`.

                                '
                              example: CC001234
                              type:
                              - string
                              - 'null'
                            costCenterId:
                              description: The ID of the cost center used to purchase the asset.
                              example: CC002345
                              type:
                              - string
                              - 'null'
                            datePlacedInService:
                              description: The date the asset was placed in service.
                              example: '2024-07-01'
                              format: date
                              type:
                              - string
                              - 'null'
                            dateRegistered:
                              description: The date the asset was registered in Workday.
                              example: '2024-07-01'
                              format: date
                              type:
                              - string
                              - 'null'
                            depreciationMethod:
                              description: The depreciation method associated with the asset.
                              enum:
                              - ''
                              - Straight Line
                              - Term
                              example: Straight Line
                              type:
                              - string
                              - 'null'
                            depreciationProfile:
                              description: The depreciation profile associated with the asset.
                              example: Straight Line 8-Year
                              type:
                              - string
                              - 'null'
                            depreciationStartDate:
                              description: 'The date that depreciation of the asset began. This is usually the start of the first month of service.

                                '
                              example: '2024-07-01'
                              format: date
                              type:
                              - string
                              - 'null'
                            disposalDate:
                              description: The date the asset was/will be disposed of.
                              example: '2024-07-01'
                              format: date
                              type:
                              - string
                              - 'null'
                            disposalMethod:
                              description: The disposal method of the asset.
                              enum:
                              - ''
                              - Discard
                              - Intercompany Transfer
                              - Sale
                              example: Discard
                              type:
                              - string
                              - 'null'
                            functionId:
                              description: The ID of the function associated with the asset.
                              example: FN0100
                              type:
                              - string
                              - 'null'
                            fundId:
                              description: The ID of the fund associated with the asset.
                              example: FD0200
                              type:
                              - string
                              - 'null'
                            giftId:
                              description: The ID of the gift associated with the asset.
                              example: GF000007664
                              type:
                              - string
                              - 'null'
                            grantId:
                              description: The ID of the grant associated with the asset.
                              example: GR000018391
                              type:
                              - string
                              - 'null'
                            historicAssetIdentifier:
                              description: The asset's identifier in a previous system.
                              example: U0627605
                              type:
                              - string
                              - 'null'
                            lastIssuedOrTransferredDate:
                              description: The date the asset was last issued or transferred.
                              example: '2024-07-01'
                              format: date
                              type:
                              - string
                              - 'null'
                            lastPhysicalInventoryDate:
                              description: The date the last physical inventory was taken on the asset.
                              example: '2024-07-01'
                              format: date
                              type:
                              - string
                              - 'null'
                            locationId:
                              description: The ID of the location assigned to the asset.
                              example: LCMSN_0003_01_0123
                              type:
                              - string
                              - 'null'
                            manufacturer:
                              description: The  of the asset.
                              example: Bucky Badger Costuming Inc
                              type:
                              - string
                              - 'null'
                            memo:
                              description: 'Additional data or comments about the asset. For assets that predate Workday, this attribute also stores extra fields which do not have a Workday equivalent. This field has no size limit; some memos are over 1,000 characters long and contain line breaks.

                                '
                              example: 'Primary loc: Wisconsin Field House, 1450 Monroe St, 120A Storage Closet, Madison, WI 53706

                                Secondary loc: Camp Randall Stadium, 1440 Monroe St, 020 Locker Room, Madison, WI 53711'
                              type:
                              - string
                              - 'null'
                            modelNumber:
                              description: For physical assets, the model number.
                              example: BUCKY013
                              type:
                              - string
                              - 'null'
                            netBookValue:
                              default: 0.0
                              description: The current value of the asset, defined as the asset cost less accumulated depreciation.
                              example: 4916.06
                              format: double
                              type: number
                            programId:
                              description: The ID of the program associated with the asset.
                              example: GF000007664
                              type:
                              - string
                              - 'null'
                            projectId:
                              description: The ID of the project associated with the asset.
                              example: PJ000000409
                              type:
                              - string
                              - 'null'
                            purchaseOrderId:
                              description: 'The ID of the purchase order associated with the asset. This is usually an actual purchase order identifier you can use on the purchaseOrders endpoints, but some assets have poor formatting of the ID, multiple IDs, or had this field mistaken for another and have unrelated data.

                                '
                              example: PO-00123456
                              type:
                              - string
                              - 'null'
                            serialNumber:
                              description: 'For physical assets, the serial number. This field has no size limit or standardized formatting. Some assets without a serial number were entered as `""` (empty string), others as `NONE`, `N/A`, `(blank)`, `UNKNOWN`, etc. Some assets have multiple serial numbers, and the way these are delimited also has no standard, with some being comma-separated and others being textual descriptions of what serial number goes with what part.

                                '
                              example: B3819332581
                              type:
                              - string
                              - 'null'
                            sfsAssetId:
                              description: 'The legacy asset ID of the asset pulled during conversion from SFS. This field will not be used for any assets which post-date Workday go-live.

                                '
                              example: 000000009113
                              type:
                              - string
                              - 'null'
                            sfsProjectId:
                              description: 'The legacy project ID of the asset pulled during conversion from SFS. This field will not be used for any assets which post-date Workday go-live.

                                '
                              example: AAZ3911
                              type:
                              - string
                              - 'null'
                            shares:
                              description: 'When an asset''s cost/value is shared/split across multiple funding sources, this contains the group of sources representing their respective allocations.

                                '
                              items:
                                properties:
                                  awardId:
                                    description: The ID of the award associated with the share.
                                    example: AWD-001234
                                    type:
                                    - string
                                    - 'null'
                                  costCenterId:
                                    description: The ID of the cost center of the share.
                                    example: CC002345
                                    type:
                                    - string
                                    - 'null'
                                  functionId:
                                    description: The ID of the function associated with the share.
                                    example: FN0100
                                    type:
                                    - string
                                    - 'null'
                                  fundId:
                                    description: The ID of the fund associated with the share.
                                    example: FD0200
                                    type:
                                    - string
                                    - 'null'
                                  giftId:
                                    description: The ID of the gift associated with the share.
                                    example: GF000007664
                                    type:
                                    - string
                                    - 'null'
                                  grantId:
                                    description: The ID of the grant associated with the share.
                                    example: GR000018391
                                    type:
                                    - string
                                    - 'null'
                                  id:
                                    description: The ID of the share.
                                    example: 1000-0
                                    type: string
                                  programId:
                                    description: The ID of the program associated with the share.
                                    example: GF000007664
                                    type:
                                    - string
                                    - 'null'
                                  projectId:
                                    description: The ID of the project associated with the share.
                                    example: PJ000000409
                                    type:
                                    - string
                                    - 'null'
                                  shareAmount:
                                    default: 0.0
                                    description: 'The amount of the asset''s original cost associated with the share. When totaled, an asset''s shares'' share amounts should equal the asset''s cost.

                                      '
                                    example: 3816.06
                                    format: double
                                    type: number
                                  shareClass:
                                    description: The asset class associated with the share.
                                    example: Athletic Recreational Equipment
                                    type:
                                    - string
                                    - 'null'
                                  shareType:
                                    description: The asset classification associated with the share.
                                    example: Capital Equipment
                                    type:
                                    - string
                                    - 'null'
                                type: object
                              minItems: 0
                              type: array
                            spendCategoryId:
                              description: The ID of the spend category associated with the asset.
                              example: SC00234
                              type:
                              - string
                              - 'null'
                            supplierInvoiceId:
                              description: 'The ID of the supplier invoice associated with the purchase of the asset. This is usually an actual supplier invoice identifier you can use on the supplierInvoice endpoints, but some have invoice IDs which predate Workday and others have multiple invoice IDs listed.

                                '
                              example: SC00234
                              type:
                              - string
                              - 'null'
                            usefulLifePeriods:
                              default: 0
                              description: The useful life of the asset, measured in months.
                              example: 96
                              format: int64
                              type: integer
                          type: object
                        id:
                          description: The unique identifier for an asset record generated by Workday.
                          example: BAS-01234567
                          type: string
                        links:
                          description: Links related to this record
                          properties:
                            self:
                              description: The link to just this record
                              example: https://api.wisc.edu/finance/assets/BAS-01234567
                              type: string
                          type: object
                        meta:
                          properties:
                            lastModified:
                              description: Date/time of the last time this worktag was updated in the product database in ISO format.
                              example: 2026-06-15 13:11:13
                              type:
                              - string
                              - 'null'
                          type: object
                        type:
                          enum:
                          - assets
                          example: assets
                          type: string
                      type: object
                    links:
                      description: Links related to this record
                      properties:
                        self:
                          description: The link to just this record
                          example: https://api.wisc.edu/finance/assets/BAS-01234567
                          type: string
                      type: object
                  type: object
                - properties:
                    attributes:
                      properties:
                        url:
                          description: Presigned URL to download the data from S3. The URL is valid for 15 minutes.
                          example: https://example.com/link
                          type: string
                      type: object
                    id:
                      description: The unique identifier for an presigned link.
                      example: 670ac856-91ef-47ee-8f1d-b79d4f656a10
                      type: string
                    type:
                      enum:
                      - bulkDelivery
                      example: bulkDelivery
                      type: string
                  type: object
          description: An API response with a single asset record
        '400':
          content:
            application/vnd.api+json:
              examples:
                invalid-filter-parameters-not-filterable:
                  description: 'Error raised when filtering on valid attributes that cannot be filtered on, such as attributes that are containers for nested objects.

                    '
                  value:
                    errors:
                    - detail: Attribute 'lines' cannot be filtered on for internalServiceDeliveries.
                      status: 400
                      title: Bad Request
                invalid-filter-parameters-not-found:
                  description: Error raised when filtering on non-existent attributes.
                  value:
                    errors:
                    - detail: Attribute 'foo' does not exist on internalServiceProviders.
                      status: 400
                      title: Bad Request
                invalid-pagination-parameters-bad-value:
                  description: 'Error raised when providing pagination parameters outside the allowed range or in an invalid datatype/format.

                    '
                  value:
                    errors:
                    - detail: 'Invalid pagination parameter: ''size'' must be a positive integer between 1 and 1000 (got: '''').'
                      status: 400
                      title: Bad Request
                invalid-pagination-parameters-not-found:
                  description: Error raised when providing non-existent pagination parameters.
                  value:
                    errors:
                    - detail: 'Invalid pagination parameter: ''num'' does not exist.'
                      status: 400
                      title: Bad Request
                invalid-query-parameters:
                  description: 'Error raised when using invalid query parameters, such as malformed filter parameters on valid attributes.

                    '
                  value:
                    errors:
                    - detail: 'Invalid parameter: ''filter[id''.'
                      status: 400
                      title: Bad Request
                unsupported-parameters:
                  description: Error raised when attempting to use query parameters that an endpoint does not support.
                  value:
                    errors:
                    - detail: 'The following query parameters are not supported/recongized for this endpoint: include, page.'
                      status: 400
                      title: Bad Request
              schema:
                properties:
                  errors:
                    items:
                      description: An error
                      properties:
                        detail:
                          type: string
                        status:
                          type: number
                        title:
                          type: string
                    type: array
                type: object
          description: A bad request.
        '401':
          content:
            application/vnd.api+json:
              example:
                errors:
                - detail: Invalid or expired OAuth token.
                  status: 401
                  title: Unauthorized
              schema:
                properties:
                  errors:
                    items:
                      description: An error
                      properties:
                        detail:
                          type: string
                        status:
                          type: number
                        title:
                          type: string
                    type: array
                type: object
          description: Invalid or expired OAuth token.
        '403':
          content:
            application/vnd.api+json:
              examples:
                invalid-company-access:
                  description: Error raised when your application has misconfigured company access.
                  value:
                    errors:
                    - detail: Your application has no allowed companies set. Contact the Finance API team (finance-apis@doit.wisc.edu) to resolve this.
                      status: 403
                      title: Forbidden
                no-company-access:
                  description: Error raised when attempting to query data belonging to companies you not have access to.
                  value:
                    errors:
                    - detail: You don't have access to company 'XYZ'.
                      status: 403
                      title: Forbidden
                no-permission:
                  description: Error raised when your application does not have permission to use an endpoint.
                  value:
                    errors:
                    - detail: You don't have access to this endpoint.
                      status: 403
                      title: Forbidden
              schema:
                properties:
                  errors:
                    items:
                      description: An error
                      properties:
                        detail:
                          type: string
                        status:
                          type: number
                        title:
                          type: string
                    type: array
                type: object
          description: You requested information for which you don't have the proper authorization.
        '404':
          content:
            application/vnd.api+json:
              example:
                errors:
                - detail: Requested record could not be found.
                  status: 404
                  title: Not Found
              schema:
                properties:
                  errors:
                    items:
                      description: An error
                      properties:
                        detail:
                          type: string
                        status:
                          type: number
                        title:
                          type: string
                    type: array
                type: object
          description: Requested record could not be found.
        '415':
          content:
            application/vnd.api+json:
              example:
                errors:
                - detail: Expected media type 'application/vnd.api+json'.
                  status: 415
                  title: Unsupported Media Type
              schema:
                properties:
                  errors:
                    items:
                      description: An error
                      properties:
                        detail:
                          type: string
                        status:
                          type: number
                        title:
                          type: string
                    type: array
                type: object
          description: Invalid media type in contentType header.
        '429':
          content:
            application/vnd.api+json:
              example:
                errors:
                - detail: Quota exceeded.
                  status: 429
                  title: Too Many Requests
              schema:
                properties:
                  errors:
                    items:
                      description: An error
                      properties:
                        detail:
                          type: string
                        status:
                          type: number
                        title:
                          type: string
                    type: array
                type: object
          description: Quota exceeded.
        '503':
          content:
            application/vnd.api+json:
              example:
                errors:
                - detail: Dependent service unavailable.
                  status: 503
                  title: Service Unavailable
              schema:
                properties:
                  errors:
                    items:
                      description: An error
                      properties:
                        detail:
                          type: string
                        status:
                          type: number
                        title:
                          type: string
                    type: array
                type: object
          description: Finance API is unavailable.
      tags:
      - Other
      summary: Get assets by id
      x-summary-source: derived
      operationId: getAssetsById
      x-operation-id-source: derived
  /budgetLines:
    get:
      description: Retrieves a paginated listing of all budget lines.
      parameters:
      - description: The datetime that the record was last changed in the Finance API's database.
        in: query
        name: filter[lastModified]
        required: false
        schema:
          format: datetime
          type: string
      - description: Page offset of records included in the response
        in: query
        name: page[number]
        required: false
        schema:
          minimum: 1
          type: integer
      - description: Number of records included in the response
        in: query
        name: page[size]
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - in: query
        name: filter[awardId]
        schema:
          type: string
      - in: query
        name: filter[fundId]
        schema:
          type: string
      - in: query
        name: filter[grantId]
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.api+json:
              example:
                data:
                - attributes:
                    amendmentDate: '2025-04-01'
                    amendmentId: BAM-0000000347
                    amendmentType: Award Budget Reallocation
                    awardId: AWD-000001
                    debitMinusCredit: 0
                    fundId: FD0001
                    grantId: GR000000001
                    objectClass: 'Sponsored Programs: 1000 Personnel'
                  id: 11a0733a92c69000d3f18bb280070000
                  links:
                    self: 'https://api.wisc.edu/finance/budgetLines/11a0733a92c69000d3f18bb280070000 '
                  meta:
                    lastModified: 2026-06-15 13:11:13
                  type: budgetLines
                links:
                  first: https://api.wisc.edu/finance/budgetLines?page[number]=1
                  last: https://api.wisc.edu/finance/budgetLines?page[number]=99
                  next: https://api.wisc.edu/finance/budgetLines/page[number]=2
                  prev: https://api.wisc.edu/finance/budgetLines?page[number]=1
                  self: https://api.wisc.edu/finance/budgetLines
                meta:
                  pageNumber: 1
                  pageSize: 100
                  totalCount: 1234
                  totalPages: 13
              schema:
                oneOf:
                - properties:
                    data:
                      description: A collection of budget lines.
                      items:
                        description: A single budget line record.
                        properties:
                          attributes:
                            properties:
                              amendmentDate:
                                description: The date the amendment was made
                                example: '2025-04-01'
                                format: date
                                type:
                                - string
                                - 'null'
                              amendmentId:
                                description: The ID of the amendment
                                example: BAM-0000000347
                                type:
                                - string
                                - 'null'
                              amendmentType:
                                description: The type of the amendment
                                example: Award Budget Reallocation
                                type:
                                - string
                                - 'null'
                              awardId:
                                description: The ID of the associated award
                                example: AWD-000001
                                type: string
                              debitMinusCredit:
                                description: The dollar amount of the debit minus the credit
                                example: 0
                                format: currency
                                type: number
                              fundId:
                                description: The ID of the associated fund
                                example: FD0001
                                type: string
                              grantId:
                                description: The ID of the associated grant
                                example: GR000000001
                                type: string
                              objectClass:
                                example: 'Sponsored Programs: 1000 Personnel'
                                type:
                                - string
                                - 'null'
                            type: object
                          id:
                            description: The unique identifier for a budget line record.
                            example: 11a0733a92c69000d3f18bb280070000
                            type: string
                          links:
                            description: Links related to this record
                            properties:
                              self:
                                example: 'https://api.wisc.edu/finance/budgetLines/11a0733a92c69000d3f18bb280070000 '
                                type: string
                            type: object
                          meta:
                            properties:
                              lastModified:
                                description: Date/time of the last time this worktag was updated in the product database in ISO format.
                                example: 2026-06-15 13:11:13
                                type:
                                - string
                                - 'null'
                            type: object
                          type:
                            example: budgetLines
                            type: string
                        type: object
                      type: array
                    links:
                      properties:
                        first:
                          description: A link to the first page of results
                          example: https://api.wisc.edu/finance/budgetLines?page[number]=1
                          type: string
                        last:
                          description: A link to the last page of results
                          example: https://api.wisc.edu/finance/budgetLines?page[number]=99
                          type: string
                        next:
                          description: A link to the next page of results, if there is one
                          example: https://api.wisc.edu/finance/budgetLines/page[number]=2
                          type:
                          - string
                          - 'null'
                        prev:
                          description: A link to the previous page of results, if there is one
                          example: https://api.wisc.edu/finance/budgetLines?page[number]=1
                          type:
                          - string
                          - 'null'
                        self:
                          description: The link that generated this response
                          example: https://api.wisc.edu/finance/budgetLines
                          type: string
                      type: object
                    meta:
                      properties:
                        pageNumber:
                          description: Page number requested.
                          example: 1
                          format: int64
                          type: integer
                        pageSize:
                          description: Number of items on each page.
                          example: 100
                          format: int64
                          type: integer
                        totalCount:
                          description: Total number of items across all pages.
                          example: 1234
                          format: int64
                          type: integer
                        totalPages:
                          description: Total number of pages given pageSize.
                          example: 13
                          format: int64
                          type: integer
                      type: object
                  type: object
                - properties:
                    attributes:
                      properties:
                        url:
                          description: Presigned URL to download the data from S3. The URL is valid for 15 minutes.
                          example: https://example.com/link
                          type: string
                      type: object
                    id:
                      description: The unique identifier for an presigned link.
                      example: 670ac856-91ef-47ee-8f1d-b79d4f656a10
                      type: string
                    type:
                      enum:
                      - bulkDelivery
                      example: bulkDelivery
                      type: string
                  type: object
          description: An API response with a collection of budget lines, pagination, and metadata
        '400':
          content:
            application/vnd.api+json:
              examples:
                invalid-filter-parameters-not-filterable:
                  description: 'Error raised when filtering on valid attributes that cannot be filtered on, such as attributes that are containers for nested objects.

                    '
                  value:
                    errors:
                    - detail: Attribute 'lines' cannot be filtered on for internalServiceDeliveries.
                      status: 400
                      title: Bad Request
                invalid-filter-parameters-not-found:
                  description: Error raised when filtering on non-existent attributes.
                  value:
                    errors:
                    - detail: Attribute 'foo' does not exist on internalServiceProviders.
                      status: 400
                      title: Bad Request
                invalid-pagination-parameters-bad-value:
                  description: 'Error raised when providing pagination parameters outside the allowed range or in an invalid datatype/format.

                    '
                  value:
                    errors:
                    - detail: 'Invalid pagination parameter: ''size'' must be a positive integer between 1 and 1000 (got: '''').'
                      status: 400
                      title: Bad Request
                invalid-pagination-parameters-not-found:
                  description: Error raised when providing non-existent pagination parameters.
                  value:
                    errors:
                    - detail: 'Invalid pagination parameter: ''num'' does not exist.'
                      status: 400
                      title: Bad Request
                invalid-query-parameters:
                  description: 'Error raised when using invalid query parameters, such as malformed filter parameters on valid attributes.

                    '
                  value:
                    errors:
                    - detail: 'Invalid parameter: ''filter[id''.'
                      status: 400
                      title: Bad Request
                unsupported-parameters:
                  description: Error raised when attempting to use query parameters that an endpoint does not support.
                  value:
                    errors:
                    - detail: 'The following query parameters are not supported/recongized for this endpoint: include, page.'
                      status: 400
                      title: Bad Request
              schema:
                properties:
                  errors:
                    items:
[...]
