openapi: 3.2.0
info:
  title: Mock Person People API
  version: 1.0.0
  contact:
    name: DoIT Enterprise Integration API Team
    email: api@doit.wisc.edu
    url: https://go.wisc.edu/k701y6
  description: A mock implementation of the Person API.
servers:
- url: https://mock.api.wisc.edu
security:
- OAuth2ClientCredentials: []
tags:
- name: People
paths:
  /people:
    get:
      description: Get a collection of people. The attributes `dateOfBirth`, `deceased`, and `legalSex` will only show up if you have the 'Sensitive Person Demographics' permission.
      summary: Get people
      operationId: get_people
      tags:
      - People
      parameters:
      - name: advancedFilter
        in: query
        description: Filter results of query using the [Advanced Filter](https://kb.wisc.edu/uw-apis/158404#advanced-filters).
        required: false
        style: deepObject
        explode: true
        schema:
          type: object
          additionalProperties: false
          properties:
            attribute:
              type: string
              example: and(equals(firstName, "John"), equals(lastName, "Doe"))
      - name: filterIncluded
        in: query
        description: Filter the resources returned in the `included` section of the response. Refer to the [Person API Documentation](https://kb.wisc.edu/uw-apis/158404#filter-included) for more information about the `filterIncluded` query param.
        required: false
        style: deepObject
        explode: true
        schema:
          type: object
          additionalProperties: false
          properties:
            relationship:attribute:
              type: string
              example: jobs:title
            attribute:
              type: string
              example: firstName
      - name: fields
        in: query
        description: Specify the list of fields you would like to return for each resource type.  For example, `fields[people]=firstName,lastName` will just return the names for people.  If you are including related resources with 'includes' you can also specify fields on those resources as well.  For example, `includes=jobs&fields[people]=jobs&fields[jobs]=title` will just return titles for jobs.  See [Sparse Fieldsets](https://jsonapi.org/format/#fetching-sparse-fieldsets) for more details.
        required: false
        style: deepObject
        explode: true
        schema:
          type: object
          additionalProperties: false
          properties:
            type:
              type: string
              example: people
      - name: include
        in: query
        description: '[include related resources](https://jsonapi.org/format/#fetching-includes). The relationships can be direct or nested relationships. Direct relationships, i.e. `include=jobs,identifiers`, will just include those relationships.  Nested relationships, i.e. `include=jobs.costAllocations.worktags`, will include all intermediate relationships, i.e. jobs, jobs.costAllocations, and jobs.costAllocations.worktags.  The total number of included relationships, accounting for intermediate relationships, is limited to 10.'
        schema:
          type: string
          enum:
          - academicAppointments
          - addresses
          - affiliations
          - degrees
          - emailAddresses
          - identifiers
          - jobs
          - names
          - organizationStructures
          - phoneNumbers
          - socialSecurityNumbers
          - wiscard
      - name: filter[relationship.attribute]
        in: query
        required: false
        description: Filter results using the [filter query parameter family](https://jsonapi.org/recommendations/#filtering). Refer to the [Person API Documentation](https://kb.wisc.edu/uw-apis/158404) for more information. Filter resources by `relationship.attribute`.
        schema:
          type:
          - string
          - 'null'
      - name: filter[firstName]
        in: query
        required: false
        description: Filter results using the [filter query parameter family](https://jsonapi.org/recommendations/#filtering). Refer to the [Person API Documentation](https://kb.wisc.edu/uw-apis/158404) for more information. Filter `people` resources by `firstName`.
        schema:
          type:
          - string
          - 'null'
      - name: filter[lastName]
        in: query
        required: false
        description: Filter results using the [filter query parameter family](https://jsonapi.org/recommendations/#filtering). Refer to the [Person API Documentation](https://kb.wisc.edu/uw-apis/158404) for more information. Filter `people` resources by `lastName`.
        schema:
          type:
          - string
          - 'null'
      - name: filter[emailAddress]
        in: query
        required: false
        description: Filter results using the [filter query parameter family](https://jsonapi.org/recommendations/#filtering). Refer to the [Person API Documentation](https://kb.wisc.edu/uw-apis/158404) for more information. Filter `people` resources by `emailAddress`.
        schema:
          type:
          - string
          - 'null'
      - name: filter[officeAddress]
        in: query
        required: false
        description: Filter results using the [filter query parameter family](https://jsonapi.org/recommendations/#filtering). Refer to the [Person API Documentation](https://kb.wisc.edu/uw-apis/158404) for more information. Filter `people` resources by `officeAddress`.
        schema:
          type:
          - string
          - 'null'
      - name: filter[officePhoneNumber]
        in: query
        required: false
        description: Filter results using the [filter query parameter family](https://jsonapi.org/recommendations/#filtering). Refer to the [Person API Documentation](https://kb.wisc.edu/uw-apis/158404) for more information. Filter `people` resources by `officePhoneNumber`.
        schema:
          type:
          - string
          - 'null'
      - name: filter[dateOfBirth]
        in: query
        required: false
        description: Filter results using the [filter query parameter family](https://jsonapi.org/recommendations/#filtering). Refer to the [Person API Documentation](https://kb.wisc.edu/uw-apis/158404) for more information. Filter `people` resources by `dateOfBirth`.
        schema:
          type: string
          format: date
          pattern: ^[1-9][0-9]{3}-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])$
      - name: filter[legalSex]
        in: query
        required: false
        description: Filter results using the [filter query parameter family](https://jsonapi.org/recommendations/#filtering). Refer to the [Person API Documentation](https://kb.wisc.edu/uw-apis/158404) for more information. Filter `people` resources by `legalSex`.
        schema:
          type: string
          enum:
          - Female
          - Male
          - Non-binary
          - Other
          - Unknown
      - name: filter[deceased]
        in: query
        required: false
        description: Filter results using the [filter query parameter family](https://jsonapi.org/recommendations/#filtering). Refer to the [Person API Documentation](https://kb.wisc.edu/uw-apis/158404) for more information. Filter `people` resources by `deceased`.
        schema:
          type:
          - boolean
          - 'null'
      - name: filter[continuousServiceDate]
        in: query
        required: false
        description: Filter results using the [filter query parameter family](https://jsonapi.org/recommendations/#filtering). Refer to the [Person API Documentation](https://kb.wisc.edu/uw-apis/158404) for more information. Filter `people` resources by `continuousServiceDate`.
        schema:
          type: string
          format: date
          pattern: ^[1-9][0-9]{3}-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])$
      - name: page[size]
        in: query
        required: false
        description: Number of resources to return per page. Maximum 1000, default 100.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          default: 100
      - name: page[after]
        in: query
        required: false
        description: Cursor for the next page — the ID of the last resource on the previous page. Use the value returned in response `links.next`.
        schema:
          type: string
          description: An ephemeral identifier used only in the Person API to adhere to the [JSON:API specification](https://jsonapi.org/format/#document-resource-object-identification). This ID may change if a person is split into two people or two people are merged into one person. This ID is used for paginating results or following other links returned in the API response. This ID should not be stored in a consuming system. Concatenating parts of the URL to form a link is discouraged. Instead, use the fully-formed links returned in an API response.
      - name: page[before]
        in: query
        required: false
        description: Cursor for the previous page — the ID of the first resource on the next page. Use the value returned in response `links.prev`.
        schema:
          type: string
          description: An ephemeral identifier used only in the Person API to adhere to the [JSON:API specification](https://jsonapi.org/format/#document-resource-object-identification). This ID may change if a person is split into two people or two people are merged into one person. This ID is used for paginating results or following other links returned in the API response. This ID should not be stored in a consuming system. Concatenating parts of the URL to form a link is discouraged. Instead, use the fully-formed links returned in an API response.
      - name: page[number]
        in: query
        required: false
        description: Page number for offset pagination. Disabled by default — contact the developers to enable. Prefer cursor pagination (page[after] / page[before]) for better performance.
        schema:
          type: integer
          minimum: 1
      responses:
        '200':
          description: A collection of people
          content:
            application/vnd.api+json:
              schema:
                type: object
                required:
                - data
                - links
                properties:
                  data:
                    description: A collection of people
                    type: array
                    items:
                      description: A person.
                      type: object
                      required:
                      - type
                      - id
                      - attributes
                      - relationships
                      - links
                      - meta
                      properties:
                        type:
                          type: string
                          example: people
                        id:
                          type: string
                          description: An ephemeral identifier used only in the Person API to adhere to the [JSON:API specification](https://jsonapi.org/format/#document-resource-object-identification). This ID may change if a person is split into two people or two people are merged into one person. This ID is used for paginating results or following other links returned in the API response. This ID should not be stored in a consuming system. Concatenating parts of the URL to form a link is discouraged. Instead, use the fully-formed links returned in an API response.
                        attributes:
                          type: object
                          required:
                          - firstName
                          - lastName
                          - emailAddress
                          - officeAddress
                          - officePhoneNumber
                          - dateOfBirth
                          - legalSex
                          - deceased
                          properties:
                            firstName:
                              type: string
                              example: John
                              description: First name, derived from the person's current UW affiliations.
                            lastName:
                              type: string
                              example: Smith
                              description: Last name, derived from the person's current UW affiliations.
                            emailAddress:
                              type:
                              - string
                              - 'null'
                              example: john.smith@wisc.edu
                              description: The email address this person has designated as their primary, if set.  Otherwise, their Campus Business Email, or other email derived from their current UW affiliations.
                            officeAddress:
                              type:
                              - string
                              - 'null'
                              description: Primary work-related address derived from the person's current UW affiliations.  May or may not be a fully-formed street address.
                              example: 1210 W. Dayton Street Madison, WI 53706-1613
                            officePhoneNumber:
                              type:
                              - string
                              - 'null'
                              example: 608-262-1204
                              description: Primary work-related phone number derived from the person's current UW affiliations.  May or may not be associated with the officeAddress.
                            dateOfBirth:
                              type:
                              - string
                              - 'null'
                              format: date
                              example: '1980-01-01'
                              description: Date of birth.  This is a sensitive attribute and is only available if the requesting application has the 'Sensitive Person Demographics' permission.
                            legalSex:
                              type: string
                              enum:
                              - Female
                              - Male
                              - Non-binary
                              - Other
                              - Unknown
                              example: Male
                              description: Legal sex.  This is a sensitive attribute and is only available if the requesting application has the 'Sensitive Person Demographics' permission.
                            deceased:
                              type:
                              - boolean
                              - 'null'
                              example: false
                              description: Indicates whether or not this person is deceased.  This is a sensitive attribute and is only available if the requesting application has the 'Sensitive Person Demographics' permission.
                            continuousServiceDate:
                              type:
                              - string
                              - 'null'
                              format: date
                              example: '2000-01-01'
                              description: Adjusted date of civil service employment with the state of Wisconsin - required for a classified permanent job. The adjusted continuous service date is used, for example, to allocate annual vacation for leave accounting, and to rank employees for layoff provisions, including reinstatements, etc. Please see https://policy.wisc.edu/library/UW-5029 for more details.
                        relationships:
                          type: object
                          required:
                          - identifiers
                          - jobs
                          - names
                          - wiscard
                          - addresses
                          - phoneNumbers
                          - emailAddresses
                          - affiliations
                          properties:
                            academicAppointments:
                              description: A generic relationship object
                              type: object
                              properties:
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      example: https://api.wisc.edu/link/to/related/object
                                data:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        example: sampleType
                                      id:
                                        type: string
                                        example: sampleId
                            affiliations:
                              description: A generic relationship object
                              type: object
                              properties:
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      example: https://api.wisc.edu/link/to/related/object
                                data:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        example: sampleType
                                      id:
                                        type: string
                                        example: sampleId
                            addresses:
                              description: A generic relationship object
                              type: object
                              properties:
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      example: https://api.wisc.edu/link/to/related/object
                                data:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        example: sampleType
                                      id:
                                        type: string
                                        example: sampleId
                            degrees:
                              description: A generic relationship object
                              type: object
                              properties:
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      example: https://api.wisc.edu/link/to/related/object
                                data:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        example: sampleType
                                      id:
                                        type: string
                                        example: sampleId
                            emailAddresses:
                              description: A generic relationship object
                              type: object
                              properties:
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      example: https://api.wisc.edu/link/to/related/object
                                data:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        example: sampleType
                                      id:
                                        type: string
                                        example: sampleId
                            identifiers:
                              description: A generic relationship object
                              type: object
                              properties:
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      example: https://api.wisc.edu/link/to/related/object
                                data:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        example: sampleType
                                      id:
                                        type: string
                                        example: sampleId
                            jobs:
                              description: A generic relationship object
                              type: object
                              properties:
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      example: https://api.wisc.edu/link/to/related/object
                                data:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        example: sampleType
                                      id:
                                        type: string
                                        example: sampleId
                            names:
                              description: A generic relationship object
                              type: object
                              properties:
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      example: https://api.wisc.edu/link/to/related/object
                                data:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        example: sampleType
                                      id:
                                        type: string
                                        example: sampleId
                            organizationStructures:
                              description: A generic relationship object
                              type: object
                              properties:
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      example: https://api.wisc.edu/link/to/related/object
                                data:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        example: sampleType
                                      id:
                                        type: string
                                        example: sampleId
                            phoneNumbers:
                              description: A generic relationship object
                              type: object
                              properties:
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      example: https://api.wisc.edu/link/to/related/object
                                data:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        example: sampleType
                                      id:
                                        type: string
                                        example: sampleId
                            socialSecurityNumbers:
                              description: A generic relationship object
                              type: object
                              properties:
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      example: https://api.wisc.edu/link/to/related/object
                                data:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        example: sampleType
                                      id:
                                        type: string
                                        example: sampleId
                            wiscard:
                              description: A generic relationship object
                              type: object
                              properties:
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      example: https://api.wisc.edu/link/to/related/object
                                data:
                                  type:
                                  - object
                                  - 'null'
                                  properties:
                                    type:
                                      type: string
                                      example: sampleType
                                    id:
                                      type: string
                                      example: sampleId
                        links:
                          description: The link to access a resource itself
                          type: object
                          properties:
                            self:
                              type: string
                              example: https://api.wisc.edu/link/to/self
                        meta:
                          type: object
                          required: []
                          properties:
                            ferpa:
                              type: boolean
                              example: false
                              description: Indicates whether or not a student has elected FERPA coverage on one or more of their attributes. Please see https://registrar.wisc.edu/ferpa/ for more details about how to handle FERPA data.
                            ferpaAttributes:
                              type: array
                              items:
                                type: string
                              description: Lists attributes on the base person resource that are covered by FERPA. Currently, only 'emailAddress' is eligible to be covered by FERPA.
                            privateAttributes:
                              type: array
                              items:
                                type: string
                              description: Not currently used.
                  links:
                    description: Self and pagination links
                    allOf:
                    - description: The link to access a resource itself
                      type: object
                      properties:
                        self:
                          type: string
                          example: https://api.wisc.edu/link/to/self
                    - description: The links associated with a paginated collection
                      type: object
                      properties:
                        self:
                          description: The current page of data
                          type: string
                          format: uri-reference
                          example: https://api.wisc.edu/people?page[after]=6
                        prev:
                          description: The previous page of data
                          type: string
                          format: uri-reference
                          example: https://api.wisc.edu/people?page[before]=7
                        next:
                          description: The next page of data
                          type: string
                          format: uri-reference
                          example: https://api.wisc.edu/people?page[after]=8
                        first:
                          description: Available when using offset pagination. The first page of data
                          type: string
                          format: uri-reference
                          example: https://api.wisc.edu/people?page[number]=1
                        last:
                          description: Available when using offset pagination. The last page of data
                          type: string
                          format: uri-reference
                          example: https://api.wisc.edu/people?pagen[umber]=10
                  meta:
                    type: object
                    properties:
                      paging:
                        type: object
                        properties:
                          totalPeople:
                            type: integer
                            example: 100
                            description: The total number of people available for the collection
                        example:
                          totalPeople: 100
                        description: The total number of people in the collection
                  included:
                    description: Included related resources
                    type: array
                    items:
                      description: A generic resource object
                      type: object
                      properties:
                        type:
                          type: string
                          example: sampleType
                        id:
                          type: string
                          example: sampleId
                        attributes:
                          type: object
                          properties:
                            attribute1:
                              type: string
                              example: sampleStringAttribute
                            attribute2:
                              type: number
                              example: 123
                        relationships:
                          type: object
                          properties:
                            relatedResource:
                              description: A generic relationship object
                              type: object
                              properties:
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      example: https://api.wisc.edu/link/to/related/object
                                data:
                                  type:
                                  - object
                                  - 'null'
                                  properties:
                                    type:
                                      type: string
                                      example: sampleType
                                    id:
                                      type: string
                                      example: sampleId
                        links:
                          description: The link to access a resource itself
                          type: object
                          properties:
                            self:
                              type: string
                              example: https://api.wisc.edu/link/to/self
              examples:
                example-people:
                  value:
                    data:
                    - attributes:
                        emailAddress: john.smith@wisc.edu
                        firstName: John
                        lastName: Smith
                        officeAddress: 1210 W Dayton St, Madison, WI 53706
                        officePhoneNumber: 608-555-1234
                        dateOfBirth: '1980-01-01'
                        legalSex: Male
                        deceased: false
                        continuousServiceDate: '2000-01-01'
                      id: e2118c5a-aae2-4475-a661-bb0592effefa
                      links:
                        self: https://api.wisc.edu/people/e2118c5a-aae2-4475-a661-bb0592effefa
                      meta:
                        ferpa: false
                        ferpaAttributes: []
                        privateAttributes: []
                      relationships:
                        identifiers:
                          data:
                          - id: 12ec289c-1467-4df8-9228-1fddd242acbb
                            type: identifiers
                          links:
                            related: https://api.wisc.edu/people/e2118c5a-aae2-4475-a661-bb0592effefa/identifiers
                        jobs:
                          data:
                          - id: 742b231f-0fc5-4eff-9305-d5d8e4aae6d8
                            type: jobs
                          links:
                            related: https://api.wisc.edu/people/e2118c5a-aae2-4475-a661-bb0592effefa/jobs
                        names:
                          data:
                          - id: ed8de869-ea0d-4ad0-b5cf-c7790bef9589
                            type: names
                          links:
                            related: https://api.wisc.edu/people/e2118c5a-aae2-4475-a661-bb0592effefa/names
                        wiscard:
                          data:
                            id: c8304725-d6a4-4290-ba2c-50a6fe6cc5b8
                            type: wiscard
                          links:
                            related: https://api.wisc.edu/people/e2118c5a-aae2-4475-a661-bb0592effefa/wiscard
                        addresses:
                          data:
                          - id: 11e46c94-0a38-4e9d-803e-104dbb2ab60d
                            type: addresses
                          links:
                            related: https://api.wisc.edu/people/e2118c5a-aae2-4475-a661-bb0592effefa/addresses
                        phoneNumbers:
                          data:
                          - id: 670a1214-b2c8-47d0-8d71-7a0c49dae512
                            type: phoneNumbers
                          links:
                            related: https://api.wisc.edu/people/e2118c5a-aae2-4475-a661-bb0592effefa/phoneNumbers
                        emailAddresses:
                          data:
                          - id: d7888c35-4161-45d8-93fe-c5caddcb8068
                            type: emailAddresses
                          links:
                            related: https://api.wisc.edu/people/e2118c5a-aae2-4475-a661-bb0592effefa/emailAddresses
                        affiliations:
                          data:
                          - id: feb56dd7-1db0-4491-ab6f-939632990cc3
                            type: affiliations
                          links:
                            related: https://api.wisc.edu/people/e2118c5a-aae2-4475-a661-bb0592effefa/affiliations
                        organizationStructures:
                          data:
                          - id: 91314182-3a7a-4690-83b2-a0050437c512
                            type: organizationStructures
                          links:
                            related: https://api.wisc.edu/people/e2118c5a-aae2-4475-a661-bb0592effefa/organizationStructures
                        socialSecurityNumbers:
                          data:
                          - id: 9261f1f0-2d36-4451-867a-631e02fac49d
                            type: socialSecurityNumbers
                          links:
                            related: https://api.wisc.edu/people/e2118c5a-aae2-4475-a661-bb0592effefa/socialSecurityNumbers
                      type: people
                    links:
                      self: https://api.wisc.edu/people
        '400':
          description: A bad request.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                application/vnd.api+json:
                  value:
                    errors:
                    - id: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                      links: {}
                      meta: {}
                      source: {}
                      status: 400
                      title: Bad Request
                      detail: Invalid properties in query parameters - resource type 'people' has no attribute 'invalid'.
        '401':
          description: Incorrect or expired OAuth token.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                unauthorized-response:
                  value:
                    errors:
                    - status: 401
                      title: Unauthorized
                      detail: Invalid OAuth authentication - InvalidAccessToken
        '403':
          description: The API call is authenticated but the client isn't allowed to perform the requested operation. This can occur when trying to update a resource when granted read-only access.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                name-update-example:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
                      detail: Client is not allowed to create, update, or delete a person's name.
                no-access-example:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
                      detail: Requested method is forbidden for endpoint - GET - /people
                disabled-temporarily-example:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
                      detail: Webhook Create/Update/Delete operations are disabled temporarily. Try again later.
        '406':
          description: Servers respond with a 406 Not Acceptable status code if a request’s Accept header contains the JSON:API media type and all instances of that media type are modified with media type parameters.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                not-acceptable-example:
                  value:
                    errors:
                    - status: 406
                      title: Not Acceptable
                      detail: Request's Accept header contained the JSON:API media type and all instances of that media type were modified with media type parameters.
        '429':
          description: The API quota has been exceeded.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                not-found-example:
                  value:
                    errors:
                    - status: 429
                      title: Too Many Requests
                      detail: The quota has been exceeded.
        '500':
          description: An unexpected error.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                not-found-example:
                  value:
                    errors:
                    - status: 500
                      title: Internal Server Error
                      detail: Something went wrong in the server-side.
  /people/{id}:
    get:
      description: Get a person. The attributes `dateOfBirth`, `deceased`, and `legalSex` will only show up if you have the 'Sensitive Person Demographics' permission. It is not recommended to manually build this URL or other URLs that contain path parameters, for example, by using concatenation. Instead, use the fully-qualified links returned in other resources to use this resource and other "Get By ID" resources.
      summary: Get a person
      operationId: get_person
      tags:
      - People
      parameters:
      - name: id
        description: 'ID of a person. This parameter should not be manually built/concatenated, but instead be used by following the fully-formed links returned in an API response. To get a person by an ID, use query parameters to search by a specific identifier. Example: /people?filter[identifiers.name]=netId&filter[identifiers.value]=bbadger'
        in: path
        example: e2118c5a-aae2-4475-a661-bb0592effefa
        required: true
        schema:
          type: string
          description: An ephemeral identifier used only in the Person API to adhere to the [JSON:API specification](https://jsonapi.org/format/#document-resource-object-identification). This ID may change if a person is split into two people or two people are merged into one person. This ID is used for paginating results or following other links returned in the API response. This ID should not be stored in a consuming system. Concatenating parts of the URL to form a link is discouraged. Instead, use the fully-formed links returned in an API response.
      - name: filterIncluded
        in: query
        description: Filter the resources returned in the `included` section of the response. Refer to the [Person API Documentation](https://kb.wisc.edu/uw-apis/158404#filter-included) for more information about the `filterIncluded` query param.
        required: false
        style: deepObject
        explode: true
        schema:
          type: object
          additionalProperties: false
          properties:
            relationship:attribute:
              type: string
              example: jobs:title
            attribute:
              type: string
              example: firstName
      - name: include
        in: query
        description: '[include related resources](https://jsonapi.org/format/#fetching-includes). The relationships can be direct or nested relationships. Direct relationships, i.e. `include=jobs,identifiers`, will just include those relationships.  Nested relationships, i.e. `include=jobs.costAllocations.worktags`, will include all intermediate relationships, i.e. jobs, jobs.costAllocations, and jobs.costAllocations.worktags.  The total number of included relationships, accounting for intermediate relationships, is limited to 10.'
        schema:
          type: string
          enum:
          - academicAppointments
          - addresses
          - affiliations
          - degrees
          - emailAddresses
          - identifiers
          - jobs
          - names
          - organizationStructures
          - phoneNumbers
          - socialSecurityNumbers
          - wiscard
      - name: fields
        in: query
        description: Specify the list of fields you would like to return for each resource type.  For example, `fields[people]=firstName,lastName` will just return the names for people.  If you are including related resources with 'includes' you can also specify fields on those resources as well.  For example, `includes=jobs&fields[people]=jobs&fields[jobs]=title` will just return titles for jobs.  See [Sparse Fieldsets](https://jsonapi.org/format/#fetching-sparse-fieldsets) for more details.
        required: false
        style: deepObject
        explode: true
        schema:
          type: object
          additionalProperties: false
          properties:
            type:
              type: string
              example: people
      responses:
        '200':
          description: A single person
          content:
            application/vnd.api+json:
              schema:
                type: object
                required:
                - data
                - links
                properties:
                  data:
                    description: A person.
                    type: object
                    required:
                    - type
                    - id
                    - attributes
                    - relationships
                    - links
                    - meta
                    properties:
                      type:
                        type: string
                        example: people
                      id:
                        type: string
                        description: An ephemeral identifier used only in the Person API to adhere to the [JSON:API specification](https://jsonapi.org/format/#document-resource-object-identification). This ID may change if a person is split into two people or two people are merged into one person. This ID is used for paginating results or following other links returned in the API response. This ID should not be stored in a consuming system. Concatenating parts of the URL to form a link is discouraged. Instead, use the fully-formed links returned in an API response.
                      attributes:
                        type: object
                        required:
                        - firstName
                        - lastName
                        - emailAddress
                        - officeAddress
                        - officePhoneNumber
                        - dateOfBirth
                        - legalSex
                        - deceased
                        properties:
                          firstName:
                            type: string
                            example: John
                            description: First name, derived from the person's current UW affiliations.
                          lastName:
                            type: string
                            example: Smith
                            description: Last name, derived from the person's current UW affiliations.
                          emailAddress:
                            type:
                            - string
                            - 'null'
                            example: john.smith@wisc.edu
                            description: The email address this person has designated as their primary, if set.  Otherwise, their Campus Business Email, or other email derived from their current UW affiliations.
                          officeAddress:
                            type:
                            - string
                            - 'null'
                            description: Primary work-related address derived from the person's current UW affiliations.  May or may not be a fully-formed street address.
                            example: 1210 W. Dayton Street Madison, WI 53706-1613
                          officePhoneNumber:
                            type:
                            - string
                            - 'null'
                            example: 608-262-1204
                            description: Primary work-related phone number derived from the person's current UW affiliations.  May or may not be associated with the officeAddress.
                          dateOfBirth:
                            type:
                            - string
                            - 'null'
                            format: date
                            example: '1980-01-01'
                            description: Date of birth.  This is a sensitive attribute and is only available if the requesting application has the 'Sensitive Person Demographics' permission.
                          legalSex:
                            type: string
                            enum:
                            - Female
                            - Male
                            - Non-binary
                            - Other
                            - Unknown
                            example: Male
                            description: Legal sex.  This is a sensitive attribute and is only available if the requesting application has the 'Sensitive Person Demographics' permission.
                          deceased:
                            type:
                            - boolean
                            - 'null'
                            example: false
                            description: Indicates whether or not this person is deceased.  This is a sensitive attribute and is only available if the requesting application has the 'Sensitive Person Demographics' permission.
                          continuousServiceDate:
                            type:
                            - string
                            - 'null'
                            format: date
                            example: '2000-01-01'
                            description: Adjusted date of civil service employment with the state of Wisconsin - required for a classified permanent job. The adjusted continuous service date is used, for example, to allocate annual vacation for leave accounting, and to rank employees for layoff provisions, including reinstatements, etc. Please see https://policy.wisc.edu/library/UW-5029 for more details.
                      relationships:
                        type: object
                        required:
                        - identifiers
                        - jobs
                        - names
                        - wiscard
                        - addresses
                        - phoneNumbers
                        - emailAddresses
                        - affiliations
                        properties:
                          academicAppointments:
                            description: A generic relationship object
                            type: object
                            properties:
                              links:
                                type: object
                                properties:
                                  related:
                                    type: string
                                    example: https://api.wisc.edu/link/to/related/object
                              data:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      example: sampleType
                                    id:
                                      type: string
                                      example: sampleId
                          affiliations:
                            description: A generic relationship object
                            type: object
                            properties:
                              links:
                                type: object
                                properties:
                                  related:
                                    type: string
                                    example: https://api.wisc.edu/link/to/related/object
                              data:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      example: sampleType
                                    id:
                                      type: string
                                      example: sampleId
                          addresses:
                            description: A generic relationship object
                            type: object
                            properties:
                              links:
                                type: object
                                properties:
                                  related:
                                    type: string
                                    example: https://api.wisc.edu/link/to/related/object
                              data:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      example: sampleType
                                    id:
                                      type: string
                                      example: sampleId
                          degrees:
                            description: A generic relationship object
                            type: object
                            properties:
                              links:
                                type: object
                                properties:
                                  related:
                                    type: string
                                    example: https://api.wisc.edu/link/to/related/object
                              data:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      example: sampleType
                                    id:
                                      type: string
                                      example: sampleId
                          emailAddresses:
                            description: A generic relationship object
                            type: object
                            properties:
                              links:
                                type: object
                                properties:
                                  related:
                                    type: string
                                    example: https://api.wisc.edu/link/to/related/object
                              data:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      example: sampleType
                                    id:
                                      type: string
                                      example: sampleId
                          identifiers:
                            description: A generic relationship object
                            type: object
                            properties:
                              links:
                                type: object
                                properties:
                                  related:
                                    type: string
                                    example: https://api.wisc.edu/link/to/related/object
                              data:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      example: sampleType
                                    id:
                                      type: string
                                      example: sampleId
                          jobs:
                            description: A generic relationship object
                            type: object
                            properties:
                              links:
                                type: object
                                properties:
                                  related:
                                    type: string
                                    example: https://api.wisc.edu/link/to/related/object
                              data:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      example: sampleType
                                    id:
                                      type: string
                                      example: sampleId
                          names:
                            description: A generic relationship object
                            type: object
                            properties:
                              links:
                                type: object
                                properties:
                                  related:
                                    type: string
                                    example: https://api.wisc.edu/link/to/related/object
                              data:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      example: sampleType
                                    id:
                                      type: string
                                      example: sampleId
                          organizationStructures:
                            description: A generic relationship object
                            type: object
                            properties:
                              links:
                                type: object
                                properties:
                                  related:
                                    type: string
                                    example: https://api.wisc.edu/link/to/related/object
                              data:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      example: sampleType
                                    id:
                                      type: string
                                      example: sampleId
                          phoneNumbers:
                            description: A generic relationship object
                            type: object
                            properties:
                              links:
                                type: object
                                properties:
                                  related:
                                    type: string
                                    example: https://api.wisc.edu/link/to/related/object
                              data:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      example: sampleType
                                    id:
                                      type: string
                                      example: sampleId
                          socialSecurityNumbers:
                            description: A generic relationship object
                            type: object
                            properties:
                              links:
                                type: object
                                properties:
                                  related:
                                    type: string
                                    example: https://api.wisc.edu/link/to/related/object
                              data:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      example: sampleType
                                    id:
                                      type: string
                                      example: sampleId
                          wiscard:
                            description: A generic relationship object
                            type: object
                            properties:
                              links:
                                type: object
                                properties:
                                  related:
                                    type: string
                                    example: https://api.wisc.edu/link/to/related/object
                              data:
                                type:
                                - object
                                - 'null'
                                properties:
                                  type:
                                    type: string
                                    example: sampleType
                                  id:
                                    type: string
                                    example: sampleId
                      links:
                        description: The link to access a resource itself
                        type: object
                        properties:
                          self:
                            type: string
                            example: https://api.wisc.edu/link/to/self
                      meta:
                        type: object
                        required: []
                        properties:
                          ferpa:
                            type: boolean
                            example: false
                            description: Indicates whether or not a student has elected FERPA coverage on one or more of their attributes. Please see https://registrar.wisc.edu/ferpa/ for more details about how to handle FERPA data.
                          ferpaAttributes:
                            type: array
                            items:
                              type: string
                            description: Lists attributes on the base person resource that are covered by FERPA. Currently, only 'emailAddress' is eligible to be covered by FERPA.
                          privateAttributes:
                            type: array
                            items:
                              type: string
                            description: Not currently used.
                  links:
                    description: The link to access a resource itself
                    type: object
                    properties:
                      self:
                        type: string
                        example: https://api.wisc.edu/link/to/self
                  included:
                    description: Included related resources
                    type: array
                    items:
                      description: A generic resource object
                      type: object
                      properties:
                        type:
                          type: string
                          example: sampleType
                        id:
                          type: string
                          example: sampleId
                        attributes:
                          type: object
                          properties:
                            attribute1:
                              type: string
                              example: sampleStringAttribute
                            attribute2:
                              type: number
                              example: 123
                        relationships:
                          type: object
                          properties:
                            relatedResource:
                              description: A generic relationship object
                              type: object
                              properties:
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      example: https://api.wisc.edu/link/to/related/object
                                data:
                                  type:
                                  - object
                                  - 'null'
                                  properties:
                                    type:
                                      type: string
                                      example: sampleType
                                    id:
                                      type: string
                                      example: sampleId
                        links:
                          description: The link to access a resource itself
                          type: object
                          properties:
                            self:
                              type: string
                              example: https://api.wisc.edu/link/to/self
              examples:
                example-people:
                  value:
                    data:
                      attributes:
                        emailAddress: john.smith@wisc.edu
                        firstName: John
                        lastName: Smith
                        officeAddress: 1210 W Dayton St, Madison, WI 53706
                        officePhoneNumber: 608-555-1234
                        dateOfBirth: '1980-01-01'
                        legalSex: Male
                        deceased: false
                        continuousServiceDate: '2000-01-01'
                      id: e2118c5a-aae2-4475-a661-bb0592effefa
                      links:
                        self: https://api.wisc.edu/people/e2118c5a-aae2-4475-a661-bb0592effefa
                      meta:
                        ferpa: false
                      relationships:
                        identifiers:
                          data:
                          - id: 12ec289c-1467-4df8-9228-1fddd242acbb
                            type: identifiers
                          links:
                            related: https://api.wisc.edu/people/e2118c5a-aae2-4475-a661-bb0592effefa/identifiers
                        jobs:
                          data:
                          - id: 742b231f-0fc5-4eff-9305-d5d8e4aae6d8
                            type: jobs
                          links:
                            related: https://api.wisc.edu/people/e2118c5a-aae2-4475-a661-bb0592effefa/jobs
                        names:
                          data:
                          - id: ed8de869-ea0d-4ad0-b5cf-c7790bef9589
                            type: names
                          links:
                            related: https://api.wisc.edu/people/e2118c5a-aae2-4475-a661-bb0592effefa/names
                        wiscard:
                          data:
                            id: c8304725-d6a4-4290-ba2c-50a6fe6cc5b8
                            type: wiscard
                          links:
                            related: https://api.wisc.edu/people/e2118c5a-aae2-4475-a661-bb0592effefa/wiscard
                        addresses:
                          data:
                          - id: 11e46c94-0a38-4e9d-803e-104dbb2ab60d
                            type: addresses
                          links:
                            related: https://api.wisc.edu/people/e2118c5a-aae2-4475-a661-bb0592effefa/addresses
                        phoneNumbers:
                          data:
                          - id: 670a1214-b2c8-47d0-8d71-7a0c49dae512
                            type: phoneNumbers
                          links:
                            related: https://api.wisc.edu/people/e2118c5a-aae2-4475-a661-bb0592effefa/phoneNumbers
                        emailAddresses:
                          data:
                          - id: d7888c35-4161-45d8-93fe-c5caddcb8068
                            type: emailAddresses
                          links:
                            related: https://api.wisc.edu/people/e2118c5a-aae2-4475-a661-bb0592effefa/emailAddresses
                        affiliations:
                          data:
                          - id: feb56dd7-1db0-4491-ab6f-939632990cc3
                            type: affiliations
                          links:
                            related: https://api.wisc.edu/people/e2118c5a-aae2-4475-a661-bb0592effefa/affiliations
                      type: people
                    links:
                      self: https://api.wisc.edu/people
        '400':
          description: A bad request.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                application/vnd.api+json:
                  value:
                    errors:
                    - id: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                      links: {}
                      meta: {}
                      source: {}
                      status: 400
                      title: Bad Request
                      detail: Invalid properties in query parameters - resource type 'people' has no attribute 'invalid'.
        '401':
          description: Incorrect or expired OAuth token.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                unauthorized-response:
                  value:
                    errors:
                    - status: 401
                      title: Unauthorized
                      detail: Invalid OAuth authentication - InvalidAccessToken
        '403':
          description: The API call is authenticated but the client isn't allowed to perform the requested operation. This can occur when trying to update a resource when granted read-only access.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                name-update-example:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
                      detail: Client is not allowed to create, update, or delete a person's name.
                no-access-example:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
                      detail: Requested method is forbidden for endpoint - GET - /people
                disabled-temporarily-example:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
                      detail: Webhook Create/Update/Delete operations are disabled temporarily. Try again later.
        '404':
          description: Unable to find the specified record
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                not-found-example:
                  value:
                    errors:
                    - status: 404
                      title: Not Found
                      detail: Requested resource not found.
        '406':
          description: Servers respond with a 406 Not Acceptable status code if a request’s Accept header contains the JSON:API media type and all instances of that media type are modified with media type parameters.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                not-acceptable-example:
                  value:
                    errors:
                    - status: 406
                      title: Not Acceptable
                      detail: Request's Accept header contained the JSON:API media type and all instances of that media type were modified with media type parameters.
        '429':
          description: The API quota has been exceeded.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                not-found-example:
                  value:
                    errors:
                    - status: 429
                      title: Too Many Requests
                      detail: The quota has been exceeded.
        '500':
          description: An unexpected error.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                not-found-example:
                  value:
                    errors:
                    - status: 500
                      title: Internal Server Error
                      detail: Something went wrong in the server-side.
components:
  securitySchemes:
    OAuth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.wisc.edu/oauth/token
          scopes: {}
externalDocs:
  description: Read more about JSON:API here
  url: https://jsonapi.org/
