openapi: 3.2.0
info:
  title: Mock Person Names API
  version: 1.0.0
  contact:
    name: DoIT Enterprise Integration API Team
    email: api@doit.wisc.edu
    url: https://go.wisc.edu/k701y6
  description: A mock implementation of the Person API.
servers:
- url: https://mock.api.wisc.edu
security:
- OAuth2ClientCredentials: []
tags:
- name: Names
paths:
  /people/{id}/names:
    get:
      description: Get a person's names, split into separate resource objects depending on the type of name. Refer to the Names Documentation for more information.
      summary: Get names
      operationId: get_person_names
      tags:
      - Names
      parameters:
      - name: id
        description: 'ID of a person. This parameter should not be manually built/concatenated, but instead be used by following the fully-formed links returned in an API response. To get a person by an ID, use query parameters to search by a specific identifier. Example: /people?filter[identifiers.name]=netId&filter[identifiers.value]=bbadger'
        in: path
        example: e2118c5a-aae2-4475-a661-bb0592effefa
        required: true
        schema:
          type: string
          description: An ephemeral identifier used only in the Person API to adhere to the [JSON:API specification](https://jsonapi.org/format/#document-resource-object-identification). This ID may change if a person is split into two people or two people are merged into one person. This ID is used for paginating results or following other links returned in the API response. This ID should not be stored in a consuming system. Concatenating parts of the URL to form a link is discouraged. Instead, use the fully-formed links returned in an API response.
      - name: fields
        in: query
        description: Specify the list of fields you would like to return for each resource type.  For example, `fields[people]=firstName,lastName` will just return the names for people.  If you are including related resources with 'includes' you can also specify fields on those resources as well.  For example, `includes=jobs&fields[people]=jobs&fields[jobs]=title` will just return titles for jobs.  See [Sparse Fieldsets](https://jsonapi.org/format/#fetching-sparse-fieldsets) for more details.
        required: false
        style: deepObject
        explode: true
        schema:
          type: object
          additionalProperties: false
          properties:
            type:
              type: string
              example: people
      - name: advancedFilter
        in: query
        description: Filter results of query using the [Advanced Filter](https://kb.wisc.edu/uw-apis/158404#advanced-filters).
        required: false
        style: deepObject
        explode: true
        schema:
          type: object
          additionalProperties: false
          properties:
            attribute:
              type: string
              example: and(equals(firstName, "John"), equals(lastName, "Doe"))
      - name: filter[firstName]
        in: query
        required: false
        description: Filter results using the [filter query parameter family](https://jsonapi.org/recommendations/#filtering). Refer to the [Person API Documentation](https://kb.wisc.edu/uw-apis/158404) for more information. Filter `names` resources by `firstName`.
        schema:
          type:
          - string
          - 'null'
      - name: filter[middleName]
        in: query
        required: false
        description: Filter results using the [filter query parameter family](https://jsonapi.org/recommendations/#filtering). Refer to the [Person API Documentation](https://kb.wisc.edu/uw-apis/158404) for more information. Filter `names` resources by `middleName`.
        schema:
          type:
          - string
          - 'null'
      - name: filter[lastName]
        in: query
        required: false
        description: Filter results using the [filter query parameter family](https://jsonapi.org/recommendations/#filtering). Refer to the [Person API Documentation](https://kb.wisc.edu/uw-apis/158404) for more information. Filter `names` resources by `lastName`.
        schema:
          type:
          - string
          - 'null'
      - name: filter[prefix]
        in: query
        required: false
        description: Filter results using the [filter query parameter family](https://jsonapi.org/recommendations/#filtering). Refer to the [Person API Documentation](https://kb.wisc.edu/uw-apis/158404) for more information. Filter `names` resources by `prefix`.
        schema:
          type:
          - string
          - 'null'
      - name: filter[suffix]
        in: query
        required: false
        description: Filter results using the [filter query parameter family](https://jsonapi.org/recommendations/#filtering). Refer to the [Person API Documentation](https://kb.wisc.edu/uw-apis/158404) for more information. Filter `names` resources by `suffix`.
        schema:
          type:
          - string
          - 'null'
      - name: filter[nameType]
        in: query
        required: false
        description: Filter results using the [filter query parameter family](https://jsonapi.org/recommendations/#filtering). Refer to the [Person API Documentation](https://kb.wisc.edu/uw-apis/158404) for more information. Filter `names` resources by `nameType`.
        schema:
          type:
          - string
          - 'null'
      - name: filter[source]
        in: query
        required: false
        description: Filter results using the [filter query parameter family](https://jsonapi.org/recommendations/#filtering). Refer to the [Person API Documentation](https://kb.wisc.edu/uw-apis/158404) for more information. Filter `names` resources by `source`.
        schema:
          type:
          - string
          - 'null'
      - name: filter[active]
        in: query
        required: false
        description: Filter results using the [filter query parameter family](https://jsonapi.org/recommendations/#filtering). Refer to the [Person API Documentation](https://kb.wisc.edu/uw-apis/158404) for more information. Filter `names` resources by `active`.
        schema:
          type: boolean
      - name: filter[institution]
        in: query
        required: false
        description: Filter results using the [filter query parameter family](https://jsonapi.org/recommendations/#filtering). Refer to the [Person API Documentation](https://kb.wisc.edu/uw-apis/158404) for more information. Filter `names` resources by `institution`.
        schema:
          type:
          - string
          - 'null'
      responses:
        '200':
          description: A collection of names.
          content:
            application/vnd.api+json:
              schema:
                type: object
                required:
                - data
                - links
                properties:
                  data:
                    description: A collection of names
                    type: array
                    items:
                      description: Details about a name used to refer to a person.
                      type: object
                      required:
                      - type
                      - id
                      - attributes
                      - links
                      - relationships
                      properties:
                        type:
                          type: string
                          example: names
                        id:
                          type: string
                          description: Ephemeral ID used to adhere to the JSON:API specification. This ID should not be stored.
                        attributes:
                          type: object
                          required:
                          - firstName
                          - middleName
                          - lastName
                          - prefix
                          - suffix
                          - nameType
                          - source
                          - institution
                          properties:
                            firstName:
                              description: A first name for this person.
                              type: string
                              example: Amy
                              minLength: 1
                            middleName:
                              description: A middle name for this person.
                              type:
                              - string
                              - 'null'
                              example: Marie
                            lastName:
                              description: A last name for this person.
                              type:
                              - string
                              - 'null'
                              example: Smith
                            prefix:
                              description: A prefix for this person.  Cannot be set for `nameType` of `nameInUse`.
                              type:
                              - string
                              - 'null'
                              pattern: ^[A-Za-z '.-]*$
                              example: Dr
                            suffix:
                              description: A suffix for this person.  Cannot be set for `nameType` of `nameInUse`.
                              type:
                              - string
                              - 'null'
                              pattern: ^[A-Za-z '.-]*$
                              example: II
                            nameType:
                              description: The type of name for the person.
                              type: string
                              enum:
                              - nameInUse
                              - primary
                              - preferred
                              - formattedPrimary
                              example: nameInUse
                            source:
                              description: The source of a name resource.
                              type: string
                              enum:
                              - profile
                              - IAM
                              - SIS
                              - Workday
                              example: profile
                            active:
                              description: If false, no further changes are being made to the name. This field is only visible if the requesting application has access to the Inactive Population.
                              type: boolean
                              example: true
                            institution:
                              description: The institution associated with the resource.
                              type: string
                              example: UW-Madison
                              enum:
                              - Shared
                              - UW-Eau Claire
                              - UW-Green Bay
                              - UW-La Crosse
                              - UW-Madison
                              - UW-Milwaukee
                              - UW Oshkosh
                              - UW-Parkside
                              - UW-Platteville
                              - UW-River Falls
                              - UW-Stevens Point
                              - UW-Stout
                              - UW-Superior
                              - UW-Whitewater
                              - UW-Extension
                              - UW System
                        links:
                          description: The link to access a resource itself
                          type: object
                          properties:
                            self:
                              type: string
                              example: https://api.wisc.edu/link/to/self
                        relationships:
                          type: object
                          properties:
                            person:
                              description: A generic relationship object
                              type: object
                              properties:
                                links:
                                  type: object
                                  properties:
                                    related:
                                      type: string
                                      example: https://api.wisc.edu/link/to/related/object
                                data:
                                  type:
                                  - object
                                  - 'null'
                                  properties:
                                    type:
                                      type: string
                                      example: sampleType
                                    id:
                                      type: string
                                      example: sampleId
                  links:
                    description: The link to access a resource itself
                    type: object
                    properties:
                      self:
                        type: string
                        example: https://api.wisc.edu/link/to/self
              examples:
                example-names:
                  value:
                    data:
                    - attributes:
                        firstName: Amy
                        middleName: Marie
                        lastName: Smith
                        prefix: null
                        suffix: null
                        nameType: nameInUse
                        source: profile
                        institution: UW-Madison
                        active: true
                      id: 1cf9cd91-3c90-48c4-b0b6-0aeb446edf81
                      relationships:
                        person:
                          data:
                            id: e2118c5a-aae2-4475-a661-bb0592effefa
                            type: people
                          links:
                            related: https://api.wisc.edu/people/e2118c5a-aae2-4475-a661-bb0592effefa
                      type: names
                      links:
                        self: https://api.wisc.edu/people/e2118c5a-aae2-4475-a661-bb0592effefa/names/1cf9cd91-3c90-48c4-b0b6-0aeb446edf81
                    - attributes:
                        firstName: Amy
                        middleName: Marie
                        lastName: Smith
                        prefix: null
                        suffix: null
                        nameType: preferred
                        source: Workday
                        institution: UW-Madison
                        active: true
                      id: a00ef82f-96a8-4f33-b35c-78cbd50d99c4
                      relationships:
                        person:
                          data:
                            id: e2118c5a-aae2-4475-a661-bb0592effefa
                            type: people
                          links:
                            related: https://api.wisc.edu/people/e2118c5a-aae2-4475-a661-bb0592effefa
                      type: names
                      links:
                        self: https://api.wisc.edu/people/e2118c5a-aae2-4475-a661-bb0592effefa/names/a00ef82f-96a8-4f33-b35c-78cbd50d99c4
                    - attributes:
                        firstName: Aimee
                        middleName: Marie
                        lastName: Smith
                        prefix: Ms.
                        suffix: Sr.
                        nameType: primary
                        source: Workday
                        institution: UW-Madison
                        active: true
                      id: b72aecdd-6c2d-45ef-8b54-fba71acaa6c6
                      relationships:
                        person:
                          data:
                            id: e2118c5a-aae2-4475-a661-bb0592effefa
                            type: people
                          links:
                            related: https://api.wisc.edu/people/e2118c5a-aae2-4475-a661-bb0592effefa
                      type: names
                      links:
                        self: https://api.wisc.edu/people/e2118c5a-aae2-4475-a661-bb0592effefa/names/b72aecdd-6c2d-45ef-8b54-fba71acaa6c6
                    - attributes:
                        firstName: AIME'E
                        middleName: MARIE
                        lastName: SMITH
                        prefix: null
                        suffix: null
                        nameType: primary
                        source: SIS
                        institution: UW-Madison
                        active: true
                      id: d04b0e1d-0363-451e-a557-f801f25d3e9b
                      relationships:
                        person:
                          data:
                            id: e2118c5a-aae2-4475-a661-bb0592effefa
                            type: people
                          links:
                            related: https://api.wisc.edu/people/e2118c5a-aae2-4475-a661-bb0592effefa
                      type: names
                      links:
                        self: https://api.wisc.edu/people/e2118c5a-aae2-4475-a661-bb0592effefa/names/d04b0e1d-0363-451e-a557-f801f25d3e9b
                    links:
                      self: https://api.wisc.edu/people/e2118c5a-aae2-4475-a661-bb0592effefa/names
        '400':
          description: A bad request.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                application/vnd.api+json:
                  value:
                    errors:
                    - id: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                      links: {}
                      meta: {}
                      source: {}
                      status: 400
                      title: Bad Request
                      detail: Invalid properties in query parameters - resource type 'people' has no attribute 'invalid'.
        '401':
          description: Incorrect or expired OAuth token.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                unauthorized-response:
                  value:
                    errors:
                    - status: 401
                      title: Unauthorized
                      detail: Invalid OAuth authentication - InvalidAccessToken
        '403':
          description: The API call is authenticated but the client isn't allowed to perform the requested operation. This can occur when trying to update a resource when granted read-only access.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                name-update-example:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
                      detail: Client is not allowed to create, update, or delete a person's name.
                no-access-example:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
                      detail: Requested method is forbidden for endpoint - GET - /people
                disabled-temporarily-example:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
                      detail: Webhook Create/Update/Delete operations are disabled temporarily. Try again later.
        '404':
          description: Unable to find the specified record
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                not-found-example:
                  value:
                    errors:
                    - status: 404
                      title: Not Found
                      detail: Requested resource not found.
        '406':
          description: Servers respond with a 406 Not Acceptable status code if a request’s Accept header contains the JSON:API media type and all instances of that media type are modified with media type parameters.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                not-acceptable-example:
                  value:
                    errors:
                    - status: 406
                      title: Not Acceptable
                      detail: Request's Accept header contained the JSON:API media type and all instances of that media type were modified with media type parameters.
        '429':
          description: The API quota has been exceeded.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                not-found-example:
                  value:
                    errors:
                    - status: 429
                      title: Too Many Requests
                      detail: The quota has been exceeded.
        '500':
          description: An unexpected error.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                not-found-example:
                  value:
                    errors:
                    - status: 500
                      title: Internal Server Error
                      detail: Something went wrong in the server-side.
    post:
      description: Please contact api@doit.wisc.edu if you need access to this endpoint. Create a name for a person. Only names with `nameType` of `nameInUse` and `source` of `profile` can be created. Client-generated IDs are not supported. Refer to the Names Documentation for more information.
      summary: Create a name
      operationId: create_person_name
      tags:
      - Names
      requestBody:
        description: A name request body.
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  description: The data object for name create request bodies.
                  type: object
                  required:
                  - type
                  - attributes
                  properties:
                    type:
                      type: string
                      enum:
                      - names
                    attributes:
                      allOf:
                      - type: object
                        properties:
                          firstName:
                            description: A first name for this person.
                            type: string
                            minLength: 1
                            maxLength: 255
                            example: Amy
                          middleName:
                            description: A middle name for this person.
                            type:
                            - string
                            - 'null'
                            minLength: 1
                            maxLength: 255
                            example: Marie
                          lastName:
                            description: A last name for this person.
                            type:
                            - string
                            - 'null'
                            minLength: 1
                            maxLength: 255
                            example: Smith
                          nameType:
                            description: The type of name for the person.
                            type: string
                            enum:
                            - nameInUse
                            - primary
                            - formattedPrimary
                            example: nameInUse
                          source:
                            description: The source of a name resource. Must be "profile".
                            type: string
                            enum:
                            - profile
                            example: profile
                      - required:
                        - firstName
                        - source
                        - nameType
      parameters:
      - name: id
        description: 'ID of a person. This parameter should not be manually built/concatenated, but instead be used by following the fully-formed links returned in an API response. To get a person by an ID, use query parameters to search by a specific identifier. Example: /people?filter[identifiers.name]=netId&filter[identifiers.value]=bbadger'
        in: path
        example: e2118c5a-aae2-4475-a661-bb0592effefa
        required: true
        schema:
          type: string
          description: An ephemeral identifier used only in the Person API to adhere to the [JSON:API specification](https://jsonapi.org/format/#document-resource-object-identification). This ID may change if a person is split into two people or two people are merged into one person. This ID is used for paginating results or following other links returned in the API response. This ID should not be stored in a consuming system. Concatenating parts of the URL to form a link is discouraged. Instead, use the fully-formed links returned in an API response.
      responses:
        '201':
          description: A single name.
          content:
            application/vnd.api+json:
              schema:
                type: object
                required:
                - data
                - links
                properties:
                  data:
                    description: Details about a name used to refer to a person.
                    type: object
                    required:
                    - type
                    - id
                    - attributes
                    - links
                    - relationships
                    properties:
                      type:
                        type: string
                        example: names
                      id:
                        type: string
                        description: Ephemeral ID used to adhere to the JSON:API specification. This ID should not be stored.
                      attributes:
                        type: object
                        required:
                        - firstName
                        - middleName
                        - lastName
                        - prefix
                        - suffix
                        - nameType
                        - source
                        - institution
                        properties:
                          firstName:
                            description: A first name for this person.
                            type: string
                            example: Amy
                            minLength: 1
                          middleName:
                            description: A middle name for this person.
                            type:
                            - string
                            - 'null'
                            example: Marie
                          lastName:
                            description: A last name for this person.
                            type:
                            - string
                            - 'null'
                            example: Smith
                          prefix:
                            description: A prefix for this person.  Cannot be set for `nameType` of `nameInUse`.
                            type:
                            - string
                            - 'null'
                            pattern: ^[A-Za-z '.-]*$
                            example: Dr
                          suffix:
                            description: A suffix for this person.  Cannot be set for `nameType` of `nameInUse`.
                            type:
                            - string
                            - 'null'
                            pattern: ^[A-Za-z '.-]*$
                            example: II
                          nameType:
                            description: The type of name for the person.
                            type: string
                            enum:
                            - nameInUse
                            - primary
                            - preferred
                            - formattedPrimary
                            example: nameInUse
                          source:
                            description: The source of a name resource.
                            type: string
                            enum:
                            - profile
                            - IAM
                            - SIS
                            - Workday
                            example: profile
                          active:
                            description: If false, no further changes are being made to the name. This field is only visible if the requesting application has access to the Inactive Population.
                            type: boolean
                            example: true
                          institution:
                            description: The institution associated with the resource.
                            type: string
                            example: UW-Madison
                            enum:
                            - Shared
                            - UW-Eau Claire
                            - UW-Green Bay
                            - UW-La Crosse
                            - UW-Madison
                            - UW-Milwaukee
                            - UW Oshkosh
                            - UW-Parkside
                            - UW-Platteville
                            - UW-River Falls
                            - UW-Stevens Point
                            - UW-Stout
                            - UW-Superior
                            - UW-Whitewater
                            - UW-Extension
                            - UW System
                      links:
                        description: The link to access a resource itself
                        type: object
                        properties:
                          self:
                            type: string
                            example: https://api.wisc.edu/link/to/self
                      relationships:
                        type: object
                        properties:
                          person:
                            description: A generic relationship object
                            type: object
                            properties:
                              links:
                                type: object
                                properties:
                                  related:
                                    type: string
                                    example: https://api.wisc.edu/link/to/related/object
                              data:
                                type:
                                - object
                                - 'null'
                                properties:
                                  type:
                                    type: string
                                    example: sampleType
                                  id:
                                    type: string
                                    example: sampleId
                  links:
                    description: The link to access a resource itself
                    type: object
                    properties:
                      self:
                        type: string
                        example: https://api.wisc.edu/link/to/self
              examples:
                example-names:
                  value:
                    data:
                      attributes:
                        firstName: Amy
                        middleName: Marie
                        lastName: Smith
                        prefix: null
                        suffix: null
                        nameType: nameInUse
                        source: profile
                        institution: UW-Madison
                        active: true
                      id: 60fdb515-611f-4b7d-9119-b1f7b0368f55
                      relationships:
                        person:
                          data:
                            id: e2118c5a-aae2-4475-a661-bb0592effefa
                            type: people
                          links:
                            related: https://api.wisc.edu/people/e2118c5a-aae2-4475-a661-bb0592effefa
                      type: names
                      links:
                        self: https://api.wisc.edu/people/e2118c5a-aae2-4475-a661-bb0592effefa/names/60fdb515-611f-4b7d-9119-b1f7b0368f55
                    links:
                      self: https://api.wisc.edu/people/e2118c5a-aae2-4475-a661-bb0592effefa/names/60fdb515-611f-4b7d-9119-b1f7b0368f55
          links:
            GetNameById:
              operationId: get_person_name
              parameters:
                id: $response.body#/data/relationships/person/data/id
                nameId: $response.body#/data/id
            UpdateNameById:
              operationId: update_person_name
              parameters:
                id: $response.body#/data/relationships/person/data/id
                nameId: $response.body#/data/id
            DeleteNameById:
              operationId: delete_person_name
              parameters:
                id: $response.body#/data/relationships/person/data/id
                nameId: $response.body#/data/id
        '202':
          description: Name created, but additional processing is needed for it to show in the API.
        '400':
          description: A bad request.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                application/vnd.api+json:
                  value:
                    errors:
                    - id: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                      links: {}
                      meta: {}
                      source: {}
                      status: 400
                      title: Bad Request
                      detail: Invalid properties in query parameters - resource type 'people' has no attribute 'invalid'.
        '401':
          description: Incorrect or expired OAuth token.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                unauthorized-response:
                  value:
                    errors:
                    - status: 401
                      title: Unauthorized
                      detail: Invalid OAuth authentication - InvalidAccessToken
        '403':
          description: The API call is authenticated but the client isn't allowed to perform the requested operation. This can occur when trying to update a resource when granted read-only access.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                name-update-example:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
                      detail: Client is not allowed to create, update, or delete a person's name.
                no-access-example:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
                      detail: Requested method is forbidden for endpoint - GET - /people
                disabled-temporarily-example:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
                      detail: Webhook Create/Update/Delete operations are disabled temporarily. Try again later.
        '404':
          description: Unable to find the specified record
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                not-found-example:
                  value:
                    errors:
                    - status: 404
                      title: Not Found
                      detail: Requested resource not found.
        '406':
          description: Servers respond with a 406 Not Acceptable status code if a request’s Accept header contains the JSON:API media type and all instances of that media type are modified with media type parameters.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                not-acceptable-example:
                  value:
                    errors:
                    - status: 406
                      title: Not Acceptable
                      detail: Request's Accept header contained the JSON:API media type and all instances of that media type were modified with media type parameters.
        '429':
          description: The API quota has been exceeded.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                not-found-example:
                  value:
                    errors:
                    - status: 429
                      title: Too Many Requests
                      detail: The quota has been exceeded.
        '500':
          description: An unexpected error.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                not-found-example:
                  value:
                    errors:
                    - status: 500
                      title: Internal Server Error
                      detail: Something went wrong in the server-side.
  /people/{id}/names/{nameId}:
    get:
      description: Get a name by ID. Refer to the Names Documentation for more information.
      summary: Get a name
      operationId: get_person_name
      tags:
      - Names
      parameters:
      - name: id
        description: 'ID of a person. This parameter should not be manually built/concatenated, but instead be used by following the fully-formed links returned in an API response. To get a person by an ID, use query parameters to search by a specific identifier. Example: /people?filter[identifiers.name]=netId&filter[identifiers.value]=bbadger'
        in: path
        example: e2118c5a-aae2-4475-a661-bb0592effefa
        required: true
        schema:
          type: string
          description: An ephemeral identifier used only in the Person API to adhere to the [JSON:API specification](https://jsonapi.org/format/#document-resource-object-identification). This ID may change if a person is split into two people or two people are merged into one person. This ID is used for paginating results or following other links returned in the API response. This ID should not be stored in a consuming system. Concatenating parts of the URL to form a link is discouraged. Instead, use the fully-formed links returned in an API response.
      - name: nameId
        description: ID of a name. This parameter should not be manually built/concatenated, but instead be used by following the fully-formed links returned in an API response.
        in: path
        example: 671f4ac9-bef0-47b0-aba9-33acab9f2e90
        required: true
        schema:
          type: string
          description: Ephemeral ID used to adhere to the JSON:API specification. This ID should not be stored.
      responses:
        '200':
          description: A single name.
          content:
            application/vnd.api+json:
              schema:
                type: object
                required:
                - data
                - links
                properties:
                  data:
                    description: Details about a name used to refer to a person.
                    type: object
                    required:
                    - type
                    - id
                    - attributes
                    - links
                    - relationships
                    properties:
                      type:
                        type: string
                        example: names
                      id:
                        type: string
                        description: Ephemeral ID used to adhere to the JSON:API specification. This ID should not be stored.
                      attributes:
                        type: object
                        required:
                        - firstName
                        - middleName
                        - lastName
                        - prefix
                        - suffix
                        - nameType
                        - source
                        - institution
                        properties:
                          firstName:
                            description: A first name for this person.
                            type: string
                            example: Amy
                            minLength: 1
                          middleName:
                            description: A middle name for this person.
                            type:
                            - string
                            - 'null'
                            example: Marie
                          lastName:
                            description: A last name for this person.
                            type:
                            - string
                            - 'null'
                            example: Smith
                          prefix:
                            description: A prefix for this person.  Cannot be set for `nameType` of `nameInUse`.
                            type:
                            - string
                            - 'null'
                            pattern: ^[A-Za-z '.-]*$
                            example: Dr
                          suffix:
                            description: A suffix for this person.  Cannot be set for `nameType` of `nameInUse`.
                            type:
                            - string
                            - 'null'
                            pattern: ^[A-Za-z '.-]*$
                            example: II
                          nameType:
                            description: The type of name for the person.
                            type: string
                            enum:
                            - nameInUse
                            - primary
                            - preferred
                            - formattedPrimary
                            example: nameInUse
                          source:
                            description: The source of a name resource.
                            type: string
                            enum:
                            - profile
                            - IAM
                            - SIS
                            - Workday
                            example: profile
                          active:
                            description: If false, no further changes are being made to the name. This field is only visible if the requesting application has access to the Inactive Population.
                            type: boolean
                            example: true
                          institution:
                            description: The institution associated with the resource.
                            type: string
                            example: UW-Madison
                            enum:
                            - Shared
                            - UW-Eau Claire
                            - UW-Green Bay
                            - UW-La Crosse
                            - UW-Madison
                            - UW-Milwaukee
                            - UW Oshkosh
                            - UW-Parkside
                            - UW-Platteville
                            - UW-River Falls
                            - UW-Stevens Point
                            - UW-Stout
                            - UW-Superior
                            - UW-Whitewater
                            - UW-Extension
                            - UW System
                      links:
                        description: The link to access a resource itself
                        type: object
                        properties:
                          self:
                            type: string
                            example: https://api.wisc.edu/link/to/self
                      relationships:
                        type: object
                        properties:
                          person:
                            description: A generic relationship object
                            type: object
                            properties:
                              links:
                                type: object
                                properties:
                                  related:
                                    type: string
                                    example: https://api.wisc.edu/link/to/related/object
                              data:
                                type:
                                - object
                                - 'null'
                                properties:
                                  type:
                                    type: string
                                    example: sampleType
                                  id:
                                    type: string
                                    example: sampleId
                  links:
                    description: The link to access a resource itself
                    type: object
                    properties:
                      self:
                        type: string
                        example: https://api.wisc.edu/link/to/self
              examples:
                example-names:
                  value:
                    data:
                      attributes:
                        firstName: Amy
                        middleName: Marie
                        lastName: Smith
                        prefix: null
                        suffix: null
                        nameType: nameInUse
                        source: profile
                        institution: UW-Madison
                        active: true
                      id: 60fdb515-611f-4b7d-9119-b1f7b0368f55
                      relationships:
                        person:
                          data:
                            id: e2118c5a-aae2-4475-a661-bb0592effefa
                            type: people
                          links:
                            related: https://api.wisc.edu/people/e2118c5a-aae2-4475-a661-bb0592effefa
                      type: names
                      links:
                        self: https://api.wisc.edu/people/e2118c5a-aae2-4475-a661-bb0592effefa/names/60fdb515-611f-4b7d-9119-b1f7b0368f55
                    links:
                      self: https://api.wisc.edu/people/e2118c5a-aae2-4475-a661-bb0592effefa/names/60fdb515-611f-4b7d-9119-b1f7b0368f55
          links:
            GetNameById:
              operationId: get_person_name
              parameters:
                id: $response.body#/data/relationships/person/data/id
                nameId: $response.body#/data/id
            UpdateNameById:
              operationId: update_person_name
              parameters:
                id: $response.body#/data/relationships/person/data/id
                nameId: $response.body#/data/id
            DeleteNameById:
              operationId: delete_person_name
              parameters:
                id: $response.body#/data/relationships/person/data/id
                nameId: $response.body#/data/id
        '400':
          description: A bad request.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                application/vnd.api+json:
                  value:
                    errors:
                    - id: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                      links: {}
                      meta: {}
                      source: {}
                      status: 400
                      title: Bad Request
                      detail: Invalid properties in query parameters - resource type 'people' has no attribute 'invalid'.
        '401':
          description: Incorrect or expired OAuth token.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                unauthorized-response:
                  value:
                    errors:
                    - status: 401
                      title: Unauthorized
                      detail: Invalid OAuth authentication - InvalidAccessToken
        '403':
          description: The API call is authenticated but the client isn't allowed to perform the requested operation. This can occur when trying to update a resource when granted read-only access.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                name-update-example:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
                      detail: Client is not allowed to create, update, or delete a person's name.
                no-access-example:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
                      detail: Requested method is forbidden for endpoint - GET - /people
                disabled-temporarily-example:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
                      detail: Webhook Create/Update/Delete operations are disabled temporarily. Try again later.
        '404':
          description: Unable to find the specified record
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                not-found-example:
                  value:
                    errors:
                    - status: 404
                      title: Not Found
                      detail: Requested resource not found.
        '406':
          description: Servers respond with a 406 Not Acceptable status code if a request’s Accept header contains the JSON:API media type and all instances of that media type are modified with media type parameters.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                not-acceptable-example:
                  value:
                    errors:
                    - status: 406
                      title: Not Acceptable
                      detail: Request's Accept header contained the JSON:API media type and all instances of that media type were modified with media type parameters.
        '429':
          description: The API quota has been exceeded.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                not-found-example:
                  value:
                    errors:
                    - status: 429
                      title: Too Many Requests
                      detail: The quota has been exceeded.
        '500':
          description: An unexpected error.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                not-found-example:
                  value:
                    errors:
                    - status: 500
                      title: Internal Server Error
                      detail: Something went wrong in the server-side.
    patch:
      description: Please contact api@doit.wisc.edu if you need access to this endpoint. Update a name for a person. Only names with `nameType` of `nameInUse` and `source` of `profile` can be updated. Updating the ID is not allowed. Refer to the Names Documentation for more information.
      summary: Update a name
      operationId: update_person_name
      tags:
      - Names
      requestBody:
        description: A name request body.
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  allOf:
                  - description: The data object for name update request bodies.
                    type: object
                    required:
                    - type
                    - attributes
                    properties:
                      type:
                        type: string
                        enum:
                        - names
                      attributes:
                        type: object
                        properties:
                          firstName:
                            description: A first name for this person.
                            type: string
                            minLength: 1
                            maxLength: 255
                            example: Amy
                          middleName:
                            description: A middle name for this person.
                            type:
                            - string
                            - 'null'
                            minLength: 1
                            maxLength: 255
                            example: Marie
                          lastName:
                            description: A last name for this person.
                            type:
                            - string
                            - 'null'
                            minLength: 1
                            maxLength: 255
                            example: Smith
                          nameType:
                            description: The type of name for the person.
                            type: string
                            enum:
                            - nameInUse
                            - primary
                            - formattedPrimary
                            example: nameInUse
                          source:
                            description: The source of a name resource. Must be "profile".
                            type: string
                            enum:
                            - profile
                            example: profile
                  - required:
                    - type
                    - id
                    - attributes
                    properties:
                      id:
                        type: string
                        description: Ephemeral ID used to adhere to the JSON:API specification. This ID should not be stored.
      parameters:
      - name: id
        description: 'ID of a person. This parameter should not be manually built/concatenated, but instead be used by following the fully-formed links returned in an API response. To get a person by an ID, use query parameters to search by a specific identifier. Example: /people?filter[identifiers.name]=netId&filter[identifiers.value]=bbadger'
        in: path
        example: e2118c5a-aae2-4475-a661-bb0592effefa
        required: true
        schema:
          type: string
          description: An ephemeral identifier used only in the Person API to adhere to the [JSON:API specification](https://jsonapi.org/format/#document-resource-object-identification). This ID may change if a person is split into two people or two people are merged into one person. This ID is used for paginating results or following other links returned in the API response. This ID should not be stored in a consuming system. Concatenating parts of the URL to form a link is discouraged. Instead, use the fully-formed links returned in an API response.
      - name: nameId
        description: ID of a name. This parameter should not be manually built/concatenated, but instead be used by following the fully-formed links returned in an API response.
        in: path
        example: 671f4ac9-bef0-47b0-aba9-33acab9f2e90
        required: true
        schema:
          type: string
          description: Ephemeral ID used to adhere to the JSON:API specification. This ID should not be stored.
      responses:
        '200':
          description: A single name.
          content:
            application/vnd.api+json:
              schema:
                type: object
                required:
                - data
                - links
                properties:
                  data:
                    description: Details about a name used to refer to a person.
                    type: object
                    required:
                    - type
                    - id
                    - attributes
                    - links
                    - relationships
                    properties:
                      type:
                        type: string
                        example: names
                      id:
                        type: string
                        description: Ephemeral ID used to adhere to the JSON:API specification. This ID should not be stored.
                      attributes:
                        type: object
                        required:
                        - firstName
                        - middleName
                        - lastName
                        - prefix
                        - suffix
                        - nameType
                        - source
                        - institution
                        properties:
                          firstName:
                            description: A first name for this person.
                            type: string
                            example: Amy
                            minLength: 1
                          middleName:
                            description: A middle name for this person.
                            type:
                            - string
                            - 'null'
                            example: Marie
                          lastName:
                            description: A last name for this person.
                            type:
                            - string
                            - 'null'
                            example: Smith
                          prefix:
                            description: A prefix for this person.  Cannot be set for `nameType` of `nameInUse`.
                            type:
                            - string
                            - 'null'
                            pattern: ^[A-Za-z '.-]*$
                            example: Dr
                          suffix:
                            description: A suffix for this person.  Cannot be set for `nameType` of `nameInUse`.
                            type:
                            - string
                            - 'null'
                            pattern: ^[A-Za-z '.-]*$
                            example: II
                          nameType:
                            description: The type of name for the person.
                            type: string
                            enum:
                            - nameInUse
                            - primary
                            - preferred
                            - formattedPrimary
                            example: nameInUse
                          source:
                            description: The source of a name resource.
                            type: string
                            enum:
                            - profile
                            - IAM
                            - SIS
                            - Workday
                            example: profile
                          active:
                            description: If false, no further changes are being made to the name. This field is only visible if the requesting application has access to the Inactive Population.
                            type: boolean
                            example: true
                          institution:
                            description: The institution associated with the resource.
                            type: string
                            example: UW-Madison
                            enum:
                            - Shared
                            - UW-Eau Claire
                            - UW-Green Bay
                            - UW-La Crosse
                            - UW-Madison
                            - UW-Milwaukee
                            - UW Oshkosh
                            - UW-Parkside
                            - UW-Platteville
                            - UW-River Falls
                            - UW-Stevens Point
                            - UW-Stout
                            - UW-Superior
                            - UW-Whitewater
                            - UW-Extension
                            - UW System
                      links:
                        description: The link to access a resource itself
                        type: object
                        properties:
                          self:
                            type: string
                            example: https://api.wisc.edu/link/to/self
                      relationships:
                        type: object
                        properties:
                          person:
                            description: A generic relationship object
                            type: object
                            properties:
                              links:
                                type: object
                                properties:
                                  related:
                                    type: string
                                    example: https://api.wisc.edu/link/to/related/object
                              data:
                                type:
                                - object
                                - 'null'
                                properties:
                                  type:
                                    type: string
                                    example: sampleType
                                  id:
                                    type: string
                                    example: sampleId
                  links:
                    description: The link to access a resource itself
                    type: object
                    properties:
                      self:
                        type: string
                        example: https://api.wisc.edu/link/to/self
              examples:
                example-names:
                  value:
                    data:
                      attributes:
                        firstName: Amy
                        middleName: Marie
                        lastName: Smith
                        prefix: null
                        suffix: null
                        nameType: nameInUse
                        source: profile
                        institution: UW-Madison
                        active: true
                      id: 60fdb515-611f-4b7d-9119-b1f7b0368f55
                      relationships:
                        person:
                          data:
                            id: e2118c5a-aae2-4475-a661-bb0592effefa
                            type: people
                          links:
                            related: https://api.wisc.edu/people/e2118c5a-aae2-4475-a661-bb0592effefa
                      type: names
                      links:
                        self: https://api.wisc.edu/people/e2118c5a-aae2-4475-a661-bb0592effefa/names/60fdb515-611f-4b7d-9119-b1f7b0368f55
                    links:
                      self: https://api.wisc.edu/people/e2118c5a-aae2-4475-a661-bb0592effefa/names/60fdb515-611f-4b7d-9119-b1f7b0368f55
          links:
            GetNameById:
              operationId: get_person_name
              parameters:
                id: $response.body#/data/relationships/person/data/id
                nameId: $response.body#/data/id
            UpdateNameById:
              operationId: update_person_name
              parameters:
                id: $response.body#/data/relationships/person/data/id
                nameId: $response.body#/data/id
            DeleteNameById:
              operationId: delete_person_name
              parameters:
                id: $response.body#/data/relationships/person/data/id
                nameId: $response.body#/data/id
        '202':
          description: Name updated, but additional processing is needed for the updates to show in the API.
        '400':
          description: A bad request.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                application/vnd.api+json:
                  value:
                    errors:
                    - id: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                      links: {}
                      meta: {}
                      source: {}
                      status: 400
                      title: Bad Request
                      detail: Invalid properties in query parameters - resource type 'people' has no attribute 'invalid'.
        '401':
          description: Incorrect or expired OAuth token.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                unauthorized-response:
                  value:
                    errors:
                    - status: 401
                      title: Unauthorized
                      detail: Invalid OAuth authentication - InvalidAccessToken
        '403':
          description: The API call is authenticated but the client isn't allowed to perform the requested operation. This can occur when trying to update a resource when granted read-only access.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                name-update-example:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
                      detail: Client is not allowed to create, update, or delete a person's name.
                no-access-example:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
                      detail: Requested method is forbidden for endpoint - GET - /people
                disabled-temporarily-example:
                  value:
                    errors:
                    - status: 403
                      title: Forbidden
                      detail: Webhook Create/Update/Delete operations are disabled temporarily. Try again later.
        '404':
          description: Unable to find the specified record
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                not-found-example:
                  value:
                    errors:
                    - status: 404
                      title: Not Found
                      detail: Requested resource not found.
        '406':
          description: Servers respond with a 406 Not Acceptable status code if a request’s Accept header contains the JSON:API media type and all instances of that media type are modified with media type parameters.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                not-acceptable-example:
                  value:
                    errors:
                    - status: 406
                      title: Not Acceptable
                      detail: Request's Accept header contained the JSON:API media type and all instances of that media type were modified with media type parameters.
        '429':
          description: The API quota has been exceeded.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      description: An error
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          example: 0fd247d9-a93c-4b48-bde8-247ce352ebcb
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Error title
                        detail:
                          type: string
                          example: Additional details about the error
                        links:
                          type: object
                        meta:
                          type: object
                        source:
                          type: object
              examples:
                not-found-example:
                  value:
                    errors:
                    - status: 429
                      title: Too Many Requests
                      detail: The quota has been exceeded.
        '500':
          description: An unexpected error.
          content:
            application/vnd.api+json:
              schema:
                description: A JSON:API error response body containing one or more errors.
                type: object
[...]
