---
openapi: "3.0.2"
info:
  title: "Mock HR API"
  version: "1.0.0"
  contact:
    name: "DoIT Enterprise Integration API Team"
    email: "api@doit.wisc.edu"
  description: "A mock implementation of the HR API. This mock API returns data in\
    \ the same structure as the real API, with the same features, but with fake data.<br><br>For\
    \ supervisory organizations, try using the ID SO00005678 to see an example of\
    \ a supervisory organization with superior and subordinate organization relationships.<br><br>The\
    \ API is implemented using [JSON:API](https://jsonapi.org/) and supports the ISO/IEC\
    \ 8859 character set. A quota of 30 requests per minute is enforced. The Mock\
    \ HR API can be used to evaluate fit of the real API, or to start integrating\
    \ with the API while waiting to get access. There is no need to request access\
    \ after creating an application and subscribing to the Mock HR API, approval is\
    \ instantaneous. The structure of the Mock HR API is subject to change and it\
    \ is not meant for production use. Please contact the API Team with questions\
    \ or feedback: [api@doit.wisc.edu](mailto:api@doit.wisc.edu)."
servers:
- url: "https://mock.api.wisc.edu/hr"
security:
- OAuth2ClientCredentials: []
externalDocs:
  description: "Read more about JSON:API here"
  url: "https://jsonapi.org/"
paths:
  /academicUnits:
    get:
      description: "Get a list of academic units."
      summary: "Get a list of academic units."
      operationId: "get_academic_units"
      tags:
      - "Academic Units"
      parameters:
      - name: "page"
        in: "query"
        description: "Define options for pagination of responses. For example, `page[number]`\
          \ parameter (example: `page[number]=4`). The `page[number]` determines the\
          \ page to display. The size of the page is a constant of 100."
        required: false
        style: "deepObject"
        explode: true
        schema:
          type: "object"
          properties:
            number:
              type: "integer"
              example: 5
              default: 1
              description: "The page number to display."
      - name: "include"
        in: "query"
        description: "[include related resources](https://jsonapi.org/format/#fetching-includes).\
          \ The resources to include need to be direct relationships. For example,\
          \ `include=allSubordinateOrganizations`."
        schema:
          type: "string"
      - name: "filter"
        in: "query"
        description: "Filter results of query using the [filter query parameter family](https://jsonapi.org/recommendations/#filtering).\
          \ Refer to the [HR API Documentation](https://kb.wisc.edu/uw-apis/158637)\
          \ for more information about the `filter` query param."
        required: false
        style: "deepObject"
        explode: true
        schema:
          type: "object"
          additionalProperties: false
          properties:
            attribute:
              type: "string"
              example: "name"
      responses:
        "200":
          description: "A collection of academic units."
          content:
            application/vnd.api+json:
              schema:
                type: "object"
                required:
                - "data"
                - "links"
                - "meta"
                properties:
                  data:
                    description: "A collection of academic units."
                    type: "array"
                    items:
                      description: "An academic unit."
                      type: "object"
                      properties:
                        type:
                          type: "string"
                          example: "academicUnits"
                        id:
                          type: "string"
                          description: "The academic unit ID."
                          example: "AU000111"
                        attributes:
                          type: "object"
                          properties:
                            name:
                              type: "string"
                              example: "UWMSN | SoBS | School of Bucky Studies"
                              description: "The academic unit name."
                        relationships:
                          type: "object"
                          properties:
                            supervisoryOrganization:
                              description: "The supervisory organization of this academic\
                                \ unit, if one exists. Around 10% of all academic\
                                \ units lack an associated supervisory organization."
                              type: "object"
                              properties:
                                links:
                                  type: "object"
                                  properties:
                                    related:
                                      type: "string"
                                      description: "Link to the supervisory organization."
                                      example: "https://api.wisc.edu/hr/supervisoryOrganizations/SO0000123"
                                data:
                                  type: "object"
                                  properties:
                                    type:
                                      type: "string"
                                      example: "supervisoryOrganizations"
                                    id:
                                      type: "string"
                                      description: "ID of the supervisory organization."
                                      example: "SO0000123"
                        links:
                          description: "The link to the supervisory organization."
                          type: "object"
                          properties:
                            self:
                              type: "string"
                              example: "https://api.wisc.edu/hr/supervisoryOrganizations/SO0000123"
                  relationships:
                    description: "Relationships to other resources."
                    type: "object"
                    properties:
                      supervisoryOrganization:
                        description: "The supervisory organization of this academic\
                          \ unit, if one exists. Around 10% of all academic units\
                          \ lack an associated supervisory organization."
                        type: "object"
                        properties:
                          links:
                            type: "object"
                            properties:
                              related:
                                type: "string"
                                description: "Link to the supervisory organization."
                                example: "https://api.wisc.edu/hr/supervisoryOrganizations/SO0000123"
                          data:
                            type: "object"
                            properties:
                              type:
                                type: "string"
                                example: "supervisoryOrganizations"
                              id:
                                type: "string"
                                description: "ID of the supervisory organization."
                                example: "SO0000123"
                  links:
                    description: "Self and pagination links."
                    allOf:
                    - description: "The links associated with a paginated collection"
                      type: "object"
                      properties:
                        self:
                          description: "The current page of data"
                          type: "string"
                          format: "uri-reference"
                          example: "https://api.wisc.edu/hr/supervisoryOrganizations?page[number]=3"
                        prev:
                          description: "The previous page of data"
                          type: "string"
                          format: "uri-reference"
                          example: "https://api.wisc.edu/hr/supervisoryOrganizations?page[number]=2"
                        next:
                          description: "The next page of data"
                          type: "string"
                          format: "uri-reference"
                          example: "https://api.wisc.edu/hr/supervisoryOrganizations?page[number]=4"
                        first:
                          description: "The first page of data"
                          type: "string"
                          format: "uri-reference"
                          example: "https://api.wisc.edu/hr/supervisoryOrganizations?page[number]=1"
                        last:
                          description: "The last page of data"
                          type: "string"
                          format: "uri-reference"
                          example: "https://api.wisc.edu/hr/supervisoryOrganizations?page[number]=6"
                  meta:
                    type: "object"
                    properties:
                      paging:
                        type: "object"
                        properties:
                          pageNumber:
                            type: "integer"
                            example: 5
                            description: "The page number to display"
                          pageSize:
                            type: "integer"
                            example: 10
                            description: "The number of items per page"
                          totalCount:
                            type: "integer"
                            example: 100
                            description: "The total number of items available for\
                              \ the collection"
                          totalPages:
                            type: "integer"
                            example: 10
                            description: "The total number of pages available for\
                              \ the collection"
                        example: 100
                        description: "The total number of items in the collection"
              examples:
                academic-units:
                  value:
                    data:
                    - id: "AU000111"
                      type: "academicUnits"
                      attributes:
                        name: "UWMSN | SoBS | School of Bucky Studies"
                      relationships:
                        supervisoryOrganization:
                          data:
                            id: "SO0000123"
                            type: "supervisoryOrganizations"
                          links:
                            related: "https://api.wisc.edu/hr/supervisoryOrganizations/SO0000123"
                      links:
                        self: "https://api.wisc.edu/hr/academicUnits/AU000111"
                    - id: "AU000222"
                      type: "academicUnits"
                      attributes:
                        name: "UWMSN | SoBS | Bucky Studies - General"
                      relationships:
                        supervisoryOrganization:
                          data:
                            id: "SO0000456"
                            type: "supervisoryOrganizations"
                          links:
                            related: "https://api.wisc.edu/hr/supervisoryOrganizations/SO0000456"
                      links:
                        self: "https://api.wisc.edu/hr/academicUnits/AU000222"
                    - id: "AU000333"
                      type: "academicUnits"
                      attributes:
                        name: "UWMSN | SoBS | Bucky Costuming"
                      relationships:
                        supervisoryOrganization:
                          data:
                            id: "SO0000789"
                            type: "supervisoryOrganizations"
                          links:
                            related: "https://api.wisc.edu/hr/supervisoryOrganizations/SO0000789"
                      links:
                        self: "https://api.wisc.edu/hr/academicUnits/AU000333"
                    - id: "AU000444"
                      type: "academicUnits"
                      attributes:
                        name: "UWMSN | SoBS | Badger Society and Community Studies"
                      relationships:
                        supervisoryOrganization:
                          data: null
                      links:
                        self: "https://api.wisc.edu/hr/academicUnits/AU000444"
                    meta:
                      paging:
                        pageNumber: 5
                        pageSize: 10
                        totalCount: 100
                        totalPages: 10
                    links:
                      self: "https://api.wisc.edu/hr/academicUnits"
        "400":
          description: "A bad request."
          content:
            application/vnd.api+json:
              schema:
                type: "object"
                properties:
                  errors:
                    type: "array"
                    items:
                      description: "An error"
                      type: "object"
                      properties:
                        status:
                          type: "integer"
                          example: 400
                        title:
                          type: "string"
                          example: "Error title"
                        detail:
                          type: "string"
                          example: "Additional details about the error"
                        links:
                          type: "object"
                        meta:
                          type: "object"
                        source:
                          type: "object"
              examples:
                application/vnd.api+json:
                  value:
                    errors:
                    - status: 400
                      title: "Bad Request"
                      detail: "Invalid properties in query parameters - resource type\
                        \ 'jobs' has no attribute 'invalid'."
        "401":
          description: "Incorrect or expired OAuth token."
          content:
            application/vnd.api+json:
              schema:
                type: "object"
                properties:
                  errors:
                    type: "array"
                    items:
                      description: "An error"
                      type: "object"
                      properties:
                        status:
                          type: "integer"
                          example: 400
                        title:
                          type: "string"
                          example: "Error title"
                        detail:
                          type: "string"
                          example: "Additional details about the error"
                        links:
                          type: "object"
                        meta:
                          type: "object"
                        source:
                          type: "object"
              examples:
                unauthorized-response:
                  value:
                    errors:
                    - status: 401
                      title: "Unauthorized"
                      detail: "Invalid OAuth authentication - InvalidAccessToken"
        "406":
          description: "Servers respond with a 406 Not Acceptable status code if a\
            \ request’s Accept header contains the JSON:API media type and all instances\
            \ of that media type are modified with media type parameters."
          content:
            application/vnd.api+json:
              schema:
                type: "object"
                properties:
                  errors:
                    type: "array"
                    items:
                      description: "An error"
                      type: "object"
                      properties:
                        status:
                          type: "integer"
                          example: 400
                        title:
                          type: "string"
                          example: "Error title"
                        detail:
                          type: "string"
                          example: "Additional details about the error"
                        links:
                          type: "object"
                        meta:
                          type: "object"
                        source:
                          type: "object"
              examples:
                not-acceptable-example:
                  value:
                    errors:
                    - status: 406
                      title: "Not Acceptable"
                      detail: "Request's Accept header contained the JSON:API media\
                        \ type and all instances of that media type were modified\
                        \ with media type parameters."
        "429":
          description: "The API quota has been exceeded."
          content:
            application/vnd.api+json:
              schema:
                type: "object"
                properties:
                  errors:
                    type: "array"
                    items:
                      description: "An error"
                      type: "object"
                      properties:
                        status:
                          type: "integer"
                          example: 400
                        title:
                          type: "string"
                          example: "Error title"
                        detail:
                          type: "string"
                          example: "Additional details about the error"
                        links:
                          type: "object"
                        meta:
                          type: "object"
                        source:
                          type: "object"
              examples:
                not-found-example:
                  value:
                    errors:
                    - status: 429
                      title: "Too Many Requests"
                      detail: "The quota has been exceeded."
        "500":
          description: "An unexpected error."
          content:
            application/vnd.api+json:
              schema:
                type: "object"
                properties:
                  errors:
                    type: "array"
                    items:
                      description: "An error"
                      type: "object"
                      properties:
                        status:
                          type: "integer"
                          example: 400
                        title:
                          type: "string"
                          example: "Error title"
                        detail:
                          type: "string"
                          example: "Additional details about the error"
                        links:
                          type: "object"
                        meta:
                          type: "object"
                        source:
                          type: "object"
              examples:
                not-found-example:
                  value:
                    errors:
                    - status: 500
                      title: "Internal Server Error"
                      detail: "Something went wrong in the server-side."
  /academicUnits/{academicUnitId}:
    get:
      description: "Get an academic unit."
      summary: "Get an academic unit."
      operationId: "get_academic_unit"
      tags:
      - "Academic Units"
      parameters:
      - name: "academicUnitId"
        description: "Academic Unit ID."
        in: "path"
        example: "AU000111"
        required: true
        schema:
          type: "string"
      - name: "include"
        in: "query"
        description: "[include related resources](https://jsonapi.org/format/#fetching-includes).\
          \ The resources to include need to be direct relationships. For example,\
          \ `include=allSubordinateOrganizations`."
        schema:
          type: "string"
      responses:
        "200":
          description: "An academic unit."
          content:
            application/vnd.api+json:
              schema:
                type: "object"
                required:
                - "data"
                - "links"
                properties:
                  data:
                    description: "An academic unit."
                    type: "object"
                    properties:
                      type:
                        type: "string"
                        example: "academicUnits"
                      id:
                        type: "string"
                        description: "The academic unit ID."
                        example: "AU000111"
                      attributes:
                        type: "object"
                        properties:
                          name:
                            type: "string"
                            example: "UWMSN | SoBS | School of Bucky Studies"
                            description: "The academic unit name."
                      relationships:
                        type: "object"
                        properties:
                          supervisoryOrganization:
                            description: "The supervisory organization of this academic\
                              \ unit, if one exists. Around 10% of all academic units\
                              \ lack an associated supervisory organization."
                            type: "object"
                            properties:
                              links:
                                type: "object"
                                properties:
                                  related:
                                    type: "string"
                                    description: "Link to the supervisory organization."
                                    example: "https://api.wisc.edu/hr/supervisoryOrganizations/SO0000123"
                              data:
                                type: "object"
                                properties:
                                  type:
                                    type: "string"
                                    example: "supervisoryOrganizations"
                                  id:
                                    type: "string"
                                    description: "ID of the supervisory organization."
                                    example: "SO0000123"
                      links:
                        description: "The link to the supervisory organization."
                        type: "object"
                        properties:
                          self:
                            type: "string"
                            example: "https://api.wisc.edu/hr/supervisoryOrganizations/SO0000123"
                  links:
                    description: "The link to the supervisory organization."
                    type: "object"
                    properties:
                      self:
                        type: "string"
                        example: "https://api.wisc.edu/hr/supervisoryOrganizations/SO0000123"
              examples:
                academic-unit:
                  value:
                    data:
                      id: "AU000111"
                      type: "academicUnits"
                      attributes:
                        name: "UWMSN | SoBS | School of Bucky Studies"
                      relationships:
                        supervisoryOrganization:
                          data:
                            id: "SO0000123"
                            type: "supervisoryOrganizations"
                          links:
                            related: "https://api.wisc.edu/hr/supervisoryOrganizations/SO0000123"
                      links:
                        self: "https://api.wisc.edu/hr/academicUnits/AU000111"
                    links:
                      self: "https://api.wisc.edu/hr/academicUnits/AU000111"
        "400":
          description: "A bad request."
          content:
            application/vnd.api+json:
              schema:
                type: "object"
                properties:
                  errors:
                    type: "array"
                    items:
                      description: "An error"
                      type: "object"
                      properties:
                        status:
                          type: "integer"
                          example: 400
                        title:
                          type: "string"
                          example: "Error title"
                        detail:
                          type: "string"
                          example: "Additional details about the error"
                        links:
                          type: "object"
                        meta:
                          type: "object"
                        source:
                          type: "object"
              examples:
                application/vnd.api+json:
                  value:
                    errors:
                    - status: 400
                      title: "Bad Request"
                      detail: "Invalid properties in query parameters - resource type\
                        \ 'jobs' has no attribute 'invalid'."
        "401":
          description: "Incorrect or expired OAuth token."
          content:
            application/vnd.api+json:
              schema:
                type: "object"
                properties:
                  errors:
                    type: "array"
                    items:
                      description: "An error"
                      type: "object"
                      properties:
                        status:
                          type: "integer"
                          example: 400
                        title:
                          type: "string"
                          example: "Error title"
                        detail:
                          type: "string"
                          example: "Additional details about the error"
                        links:
                          type: "object"
                        meta:
                          type: "object"
                        source:
                          type: "object"
              examples:
                unauthorized-response:
                  value:
                    errors:
                    - status: 401
                      title: "Unauthorized"
                      detail: "Invalid OAuth authentication - InvalidAccessToken"
        "404":
          description: "Unable to find the specified record"
          content:
            application/vnd.api+json:
              schema:
                type: "object"
                properties:
                  errors:
                    type: "array"
                    items:
                      description: "An error"
                      type: "object"
                      properties:
                        status:
                          type: "integer"
                          example: 400
                        title:
                          type: "string"
                          example: "Error title"
                        detail:
                          type: "string"
                          example: "Additional details about the error"
                        links:
                          type: "object"
                        meta:
                          type: "object"
                        source:
                          type: "object"
              examples:
                not-found-example:
                  value:
                    errors:
                    - status: 404
                      title: "Not Found"
                      detail: "Requested resource not found."
        "406":
          description: "Servers respond with a 406 Not Acceptable status code if a\
            \ request’s Accept header contains the JSON:API media type and all instances\
            \ of that media type are modified with media type parameters."
          content:
            application/vnd.api+json:
              schema:
                type: "object"
                properties:
                  errors:
                    type: "array"
                    items:
                      description: "An error"
                      type: "object"
                      properties:
                        status:
                          type: "integer"
                          example: 400
                        title:
                          type: "string"
                          example: "Error title"
                        detail:
                          type: "string"
                          example: "Additional details about the error"
                        links:
                          type: "object"
                        meta:
                          type: "object"
                        source:
                          type: "object"
              examples:
                not-acceptable-example:
                  value:
                    errors:
                    - status: 406
                      title: "Not Acceptable"
                      detail: "Request's Accept header contained the JSON:API media\
                        \ type and all instances of that media type were modified\
                        \ with media type parameters."
        "429":
          description: "The API quota has been exceeded."
          content:
            application/vnd.api+json:
              schema:
                type: "object"
                properties:
                  errors:
                    type: "array"
                    items:
                      description: "An error"
                      type: "object"
                      properties:
                        status:
                          type: "integer"
                          example: 400
                        title:
                          type: "string"
                          example: "Error title"
                        detail:
                          type: "string"
                          example: "Additional details about the error"
                        links:
                          type: "object"
                        meta:
                          type: "object"
                        source:
                          type: "object"
              examples:
                not-found-example:
                  value:
                    errors:
                    - status: 429
                      title: "Too Many Requests"
                      detail: "The quota has been exceeded."
        "500":
          description: "An unexpected error."
          content:
            application/vnd.api+json:
              schema:
                type: "object"
                properties:
                  errors:
                    type: "array"
                    items:
                      description: "An error"
                      type: "object"
                      properties:
                        status:
                          type: "integer"
                          example: 400
                        title:
                          type: "string"
                          example: "Error title"
                        detail:
                          type: "string"
                          example: "Additional details about the error"
                        links:
                          type: "object"
                        meta:
                          type: "object"
                        source:
                          type: "object"
              examples:
                not-found-example:
                  value:
                    errors:
                    - status: 500
                      title: "Internal Server Error"
                      detail: "Something went wrong in the server-side."
  /supervisoryOrganizations:
    get:
      description: "Get a list of supervisory organizations. For more information\
        \ on supervisory organizations, see this page: [https://secure.atp.wisconsin.edu/udds-guidance-ancillary-systems/](https://secure.atp.wisconsin.edu/udds-guidance-ancillary-systems/)"
      summary: "Get a list of supervisory organizations."
      operationId: "get_sup_orgs"
      tags:
      - "Supervisory Organizations"
      parameters:
      - name: "page"
        in: "query"
        description: "Define options for pagination of responses. For example, `page[number]`\
          \ parameter (example: `page[number]=4`). The `page[number]` determines the\
          \ page to display. The size of the page is a constant of 100."
        required: false
        style: "deepObject"
        explode: true
        schema:
          type: "object"
          properties:
            number:
              type: "integer"
              example: 5
              default: 1
              description: "The page number to display."
      - name: "filter"
        in: "query"
        description: "Filter results of query using the [filter query parameter family](https://jsonapi.org/recommendations/#filtering).\
          \ Refer to the [HR API Documentation](https://kb.wisc.edu/uw-apis/158637)\
          \ for more information about the `filter` query param."
        required: false
        style: "deepObject"
        explode: true
        schema:
          type: "object"
          additionalProperties: false
          properties:
            attribute:
              type: "string"
              example: "name"
      responses:
        "200":
          description: "A collection of supervisory organizations."
          content:
            application/vnd.api+json:
              schema:
                type: "object"
                required:
                - "data"
                - "links"
                - "meta"
                properties:
                  data:
                    description: "A collection of supervisory organizations."
                    type: "array"
                    items:
                      description: "A supervisory organization."
                      type: "object"
                      properties:
                        type:
                          type: "string"
                          example: "supervisoryOrganizations"
                        id:
                          type: "string"
                          description: "The supervisory organization ID."
                          example: "SO00002793"
                        attributes:
                          type: "object"
                          properties:
                            code:
                              type: "string"
                              example: "UWMSN | DoIT |"
                              description: "The code that precedes the name of a supervisory\
                                \ organization."
                              nullable: true
                            managerPositionId:
                              type: "string"
                              example: "0123456789"
                              description: "The Workday position ID that manages the\
                                \ supervisory organization. This is present whether\
                                \ or not the position is currently filled."
                              nullable: true
                            name:
                              type: "string"
                              example: "AIS Enterprise Integration (EI)"
                              description: "The name of the supervisory organization."
                            supervisoryOrganizationType:
                              type: "string"
                              example: "Division"
                              enum:
                              - "System"
                              - "Institution"
                              - "Executive"
                              - "Division"
                              - "College"
                              - "School"
                              - "Department"
                              - "Subdepartment"
                              description: "The type of supervisory organization."
                            costCenterId:
                              type: "string"
                              example: "CC000001"
                              description: "The ID of the default Cost Center for\
                                \ this supervisory organization."
                            costCenterName:
                              type: "string"
                              example: "UWEAU | CHAN | Chancellor"
                              description: "The name of the default Cost Center for\
                                \ this supervisory organization."
                        relationships:
                          type: "object"
                          properties:
                            academicUnits:
                              description: "Academic units of this supervisory organization."
                              type: "object"
                              properties:
                                data:
                                  type: "array"
                                  items:
                                    type: "object"
                                    properties:
                                      type:
                                        type: "string"
                                        example: "academicUnits"
                                      id:
                                        type: "string"
                                        description: "ID of an academic unit."
                                        example: "AU000123"
                            superiorOrganization:
                              description: "The superior organization to this supervisory\
                                \ organization."
                              type: "object"
                              properties:
                                links:
                                  type: "object"
                                  properties:
                                    related:
                                      type: "string"
                                      description: "Link to the superior organization."
                                      example: "https://api.wisc.edu/hr/supervisoryOrganizations/SO0000123"
                                data:
                                  type: "object"
                                  properties:
                                    type:
                                      type: "string"
                                      example: "supervisoryOrganizations"
                                    id:
                                      type: "string"
                                      description: "ID of the superior organization."
                                      example: "SO0000456"
                            subordinateOrganizations:
                              description: "Subordinate organizations under this supervisory\
                                \ organization."
                              type: "object"
                              properties:
                                data:
                                  type: "array"
                                  items:
                                    type: "object"
                                    properties:
                                      type:
                                        type: "string"
                                        example: "supervisoryOrganizations"
                                      id:
                                        type: "string"
                                        description: "ID of a subordinate organization."
                                        example: "SO0000567"
                        links:
                          description: "The link to the supervisory organization."
                          type: "object"
                          properties:
                            self:
                              type: "string"
                              example: "https://api.wisc.edu/hr/supervisoryOrganizations/SO0000123"
                  links:
                    description: "Self and pagination links."
                    allOf:
                    - description: "The links associated with a paginated collection"
                      type: "object"
                      properties:
                        self:
                          description: "The current page of data"
                          type: "string"
                          format: "uri-reference"
                          example: "https://api.wisc.edu/hr/supervisoryOrganizations?page[number]=3"
                        prev:
                          description: "The previous page of data"
                          type: "string"
                          format: "uri-reference"
                          example: "https://api.wisc.edu/hr/supervisoryOrganizations?page[number]=2"
                        next:
                          description: "The next page of data"
                          type: "string"
                          format: "uri-reference"
                          example: "https://api.wisc.edu/hr/supervisoryOrganizations?page[number]=4"
                        first:
                          description: "The first page of data"
                          type: "string"
                          format: "uri-reference"
                          example: "https://api.wisc.edu/hr/supervisoryOrganizations?page[number]=1"
                        last:
                          description: "The last page of data"
                          type: "string"
                          format: "uri-reference"
                          example: "https://api.wisc.edu/hr/supervisoryOrganizations?page[number]=6"
                  meta:
                    type: "object"
                    properties:
                      paging:
                        type: "object"
                        properties:
                          pageNumber:
                            type: "integer"
                            example: 5
                            description: "The page number to display"
                          pageSize:
                            type: "integer"
                            example: 10
                            description: "The number of items per page"
                          totalCount:
                            type: "integer"
                            example: 100
                            description: "The total number of items available for\
                              \ the collection"
                          totalPages:
                            type: "integer"
                            example: 10
                            description: "The total number of pages available for\
                              \ the collection"
                        example: 100
                        description: "The total number of items in the collection"
              examples:
                supervisory-organization:
                  value:
                    data:
                    - attributes:
                        code: "UWSOM |"
                        managerPositionId: "0123456789"
                        name: "Badger Department"
                        supervisoryOrganizationType: "Department"
                        costCenterId: "CC005678"
                        costCenterName: "UWSOM | BADGER | DEPARTMENT"
                      id: "SO00005678"
                      links:
                        self: "https://api.wisc.edu/hr/supervisoryOrganizations/SO00005678"
                      relationships:
                        academicUnits:
                          data:
                          - id: "AU000444"
                            type: "academicUnits"
                          - id: "AU000555"
                            type: "academicUnits"
                        subordinateOrganizations:
                          data:
                          - id: "SO00001234"
                            type: "supervisoryOrganizations"
                        superiorOrganization:
                          data:
                            id: "SO00005432"
                            type: "supervisoryOrganizations"
                          links:
                            related: "https://api.wisc.edu/hr/supervisoryOrganizations/SO00005432"
                      type: "supervisoryOrganizations"
                    meta:
                      paging:
                        pageNumber: 5
                        pageSize: 10
                        totalCount: 100
                        totalPages: 10
                    links:
                      self: "https://api.wisc.edu/hr/supervisoryOrganizations/SO00005678"
        "400":
          description: "A bad request."
          content:
            application/vnd.api+json:
              schema:
                type: "object"
                properties:
                  errors:
                    type: "array"
                    items:
                      description: "An error"
                      type: "object"
                      properties:
                        status:
                          type: "integer"
                          example: 400
                        title:
                          type: "string"
                          example: "Error title"
                        detail:
                          type: "string"
                          example: "Additional details about the error"
                        links:
                          type: "object"
                        meta:
                          type: "object"
                        source:
                          type: "object"
              examples:
                application/vnd.api+json:
                  value:
                    errors:
                    - status: 400
                      title: "Bad Request"
                      detail: "Invalid properties in query parameters - resource type\
                        \ 'jobs' has no attribute 'invalid'."
        "401":
          description: "Incorrect or expired OAuth token."
          content:
            application/vnd.api+json:
              schema:
                type: "object"
                properties:
                  errors:
                    type: "array"
                    items:
                      description: "An error"
                      type: "object"
                      properties:
                        status:
                          type: "integer"
                          example: 400
                        title:
                          type: "string"
                          example: "Error title"
                        detail:
                          type: "string"
                          example: "Additional details about the error"
                        links:
                          type: "object"
                        meta:
                          type: "object"
                        source:
                          type: "object"
              examples:
                unauthorized-response:
                  value:
                    errors:
                    - status: 401
                      title: "Unauthorized"
                      detail: "Invalid OAuth authentication - InvalidAccessToken"
        "406":
          description: "Servers respond with a 406 Not Acceptable status code if a\
            \ request’s Accept header contains the JSON:API media type and all instances\
            \ of that media type are modified with media type parameters."
          content:
            application/vnd.api+json:
              schema:
                type: "object"
                properties:
                  errors:
                    type: "array"
                    items:
                      description: "An error"
                      type: "object"
                      properties:
                        status:
                          type: "integer"
                          example: 400
                        title:
                          type: "string"
                          example: "Error title"
                        detail:
                          type: "string"
                          example: "Additional details about the error"
                        links:
                          type: "object"
                        meta:
                          type: "object"
                        source:
                          type: "object"
              examples:
                not-acceptable-example:
                  value:
                    errors:
                    - status: 406
                      title: "Not Acceptable"
                      detail: "Request's Accept header contained the JSON:API media\
                        \ type and all instances of that media type were modified\
                        \ with media type parameters."
        "429":
          description: "The API quota has been exceeded."
          content:
            application/vnd.api+json:
              schema:
                type: "object"
                properties:
                  errors:
                    type: "array"
                    items:
                      description: "An error"
                      type: "object"
                      properties:
                        status:
                          type: "integer"
                          example: 400
                        title:
                          type: "string"
                          example: "Error title"
                        detail:
                          type: "string"
                          example: "Additional details about the error"
                        links:
                          type: "object"
                        meta:
                          type: "object"
                        source:
                          type: "object"
              examples:
                not-found-example:
                  value:
                    errors:
                    - status: 429
                      title: "Too Many Requests"
                      detail: "The quota has been exceeded."
        "500":
          description: "An unexpected error."
          content:
            application/vnd.api+json:
              schema:
                type: "object"
                properties:
                  errors:
                    type: "array"
                    items:
                      description: "An error"
                      type: "object"
                      properties:
                        status:
                          type: "integer"
                          example: 400
                        title:
                          type: "string"
                          example: "Error title"
                        detail:
                          type: "string"
                          example: "Additional details about the error"
                        links:
                          type: "object"
                        meta:
                          type: "object"
                        source:
                          type: "object"
              examples:
                not-found-example:
                  value:
                    errors:
                    - status: 500
                      title: "Internal Server Error"
                      detail: "Something went wrong in the server-side."
  /supervisoryOrganizations/{supervisoryOrganizationId}:
    get:
      description: "Get a supervisory organization. For more information on supervisory\
        \ organizations, see this page: [https://secure.atp.wisconsin.edu/udds-guidance-ancillary-systems/](https://secure.atp.wisconsin.edu/udds-guidance-ancillary-systems/)"
      summary: "Get a supervisory organization."
      operationId: "get_sup_org"
      tags:
      - "Supervisory Organizations"
      parameters:
      - name: "supervisoryOrganizationId"
        description: "Supervisory organization ID."
        in: "path"
        example: "SO000001234"
        required: true
        schema:
          type: "string"
      - name: "include"
        in: "query"
        description: "[include related resources](https://jsonapi.org/format/#fetching-includes).\
          \ The resources to include need to be direct relationships. For example,\
          \ `include=allSubordinateOrganizations`."
        schema:
          type: "string"
      responses:
        "200":
          description: "A supervisory organization."
          content:
            application/vnd.api+json:
              schema:
                type: "object"
                properties:
                  data:
                    description: "A supervisory organization."
                    type: "object"
                    properties:
                      type:
                        type: "string"
                        example: "supervisoryOrganizations"
                      id:
                        type: "string"
                        description: "The supervisory organization ID."
                        example: "SO00002793"
                      attributes:
                        type: "object"
                        properties:
                          code:
                            type: "string"
                            example: "UWMSN | DoIT |"
                            description: "The code that precedes the name of a supervisory\
                              \ organization."
                            nullable: true
                          managerPositionId:
                            type: "string"
                            example: "0123456789"
                            description: "The Workday position ID that manages the\
                              \ supervisory organization. This is present whether\
                              \ or not the position is currently filled."
                            nullable: true
                          name:
                            type: "string"
                            example: "AIS Enterprise Integration (EI)"
                            description: "The name of the supervisory organization."
                          supervisoryOrganizationType:
                            type: "string"
                            example: "Division"
                            enum:
                            - "System"
                            - "Institution"
                            - "Executive"
                            - "Division"
                            - "College"
                            - "School"
                            - "Department"
                            - "Subdepartment"
                            description: "The type of supervisory organization."
                          costCenterId:
                            type: "string"
                            example: "CC000001"
                            description: "The ID of the default Cost Center for this\
                              \ supervisory organization."
                          costCenterName:
                            type: "string"
                            example: "UWEAU | CHAN | Chancellor"
                            description: "The name of the default Cost Center for\
                              \ this supervisory organization."
                      relationships:
                        type: "object"
                        properties:
                          superiorOrganization:
                            description: "The superior organization to this supervisory\
                              \ organization."
                            type: "object"
                            properties:
                              links:
                                type: "object"
                                properties:
                                  related:
                                    type: "string"
                                    description: "Link to the superior organization."
                                    example: "https://api.wisc.edu/hr/supervisoryOrganizations/SO0000123"
                              data:
                                type: "object"
                                properties:
                                  type:
                                    type: "string"
                                    example: "supervisoryOrganizations"
                                  id:
                                    type: "string"
                                    description: "ID of the superior organization."
                                    example: "SO0000123"
                          subordinateOrganizations:
                            description: "Subordinate organizations under this supervisory\
                              \ organization."
                            type: "object"
                            properties:
                              data:
                                type: "array"
                                items:
                                  type: "object"
                                  properties:
                                    type:
                                      type: "string"
                                      example: "supervisoryOrganizations"
                                    id:
                                      type: "string"
                                      description: "ID of a subordinate organization."
                                      example: "SO0000567"
                          allSubordinateOrganizations:
                            description: "All subordinate organizations under this\
                              \ supervisory organization."
                            type: "object"
                            properties:
                              data:
                                type: "array"
                                items:
                                  type: "object"
                                  properties:
                                    type:
                                      type: "string"
                                      example: "supervisoryOrganizations"
                                    id:
                                      type: "string"
                                      description: "ID of a subordinate organization."
                                      example: "SO0000567"
                      links:
                        description: "The link to the supervisory organization."
                        type: "object"
                        properties:
                          self:
                            type: "string"
                            example: "https://api.wisc.edu/hr/supervisoryOrganizations/SO0000123"
                  links:
                    description: "The link to the supervisory organization."
                    type: "object"
                    properties:
                      self:
                        type: "string"
                        example: "https://api.wisc.edu/hr/supervisoryOrganizations/SO0000123"
              examples:
                supervisory-organization:
                  value:
                    data:
                      attributes:
                        code: "UWSOM |"
                        managerPositionId: "0123456789"
                        name: "Badger Department"
                        supervisoryOrganizationType: "Department"
                        costCenterId: "CC005678"
                        costCenterName: "UWSOM | BADGER | DEPARTMENT"
                      id: "SO00005678"
                      links:
                        self: "https://api.wisc.edu/hr/supervisoryOrganizations/SO00005678"
                      relationships:
                        academicUnits:
                          data:
                          - id: "AU000444"
                            type: "academicUnits"
                          - id: "AU000555"
                            type: "academicUnits"
                        subordinateOrganizations:
                          data:
                          - id: "SO00001234"
                            type: "supervisoryOrganizations"
                        superiorOrganization:
                          data:
                            id: "SO00005432"
                            type: "supervisoryOrganizations"
                          links:
                            related: "https://api.wisc.edu/hr/supervisoryOrganizations/SO00005432"
                        allSubordinateOrganizations:
                          data:
                          - id: "SO00001234"
                            type: "supervisoryOrganizations"
                      type: "supervisoryOrganizations"
                    links:
                      self: "https://api.wisc.edu/hr/supervisoryOrganizations/SO00005678"
        "400":
          description: "A bad request."
          content:
            application/vnd.api+json:
              schema:
                type: "object"
                properties:
                  errors:
                    type: "array"
                    items:
                      description: "An error"
                      type: "object"
                      properties:
                        status:
                          type: "integer"
                          example: 400
                        title:
                          type: "string"
                          example: "Error title"
                        detail:
                          type: "string"
                          example: "Additional details about the error"
                        links:
                          type: "object"
                        meta:
                          type: "object"
                        source:
                          type: "object"
              examples:
                application/vnd.api+json:
                  value:
                    errors:
                    - status: 400
                      title: "Bad Request"
                      detail: "Invalid properties in query parameters - resource type\
                        \ 'jobs' has no attribute 'invalid'."
        "401":
          description: "Incorrect or expired OAuth token."
          content:
            application/vnd.api+json:
              schema:
                type: "object"
                properties:
                  errors:
                    type: "array"
                    items:
                      description: "An error"
                      type: "object"
                      properties:
                        status:
                          type: "integer"
                          example: 400
                        title:
                          type: "string"
                          example: "Error title"
                        detail:
                          type: "string"
                          example: "Additional details about the error"
                        links:
                          type: "object"
                        meta:
                          type: "object"
                        source:
                          type: "object"
              examples:
                unauthorized-response:
                  value:
                    errors:
                    - status: 401
                      title: "Unauthorized"
                      detail: "Invalid OAuth authentication - InvalidAccessToken"
        "404":
          description: "Unable to find the specified record"
          content:
            application/vnd.api+json:
              schema:
                type: "object"
                properties:
                  errors:
                    type: "array"
                    items:
                      description: "An error"
                      type: "object"
                      properties:
                        status:
                          type: "integer"
                          example: 400
                        title:
                          type: "string"
                          example: "Error title"
                        detail:
                          type: "string"
                          example: "Additional details about the error"
                        links:
                          type: "object"
                        meta:
                          type: "object"
                        source:
                          type: "object"
              examples:
                not-found-example:
                  value:
                    errors:
                    - status: 404
                      title: "Not Found"
                      detail: "Requested resource not found."
        "406":
          description: "Servers respond with a 406 Not Acceptable status code if a\
            \ request’s Accept header contains the JSON:API media type and all instances\
            \ of that media type are modified with media type parameters."
          content:
            application/vnd.api+json:
              schema:
                type: "object"
                properties:
                  errors:
                    type: "array"
                    items:
                      description: "An error"
                      type: "object"
                      properties:
                        status:
                          type: "integer"
                          example: 400
                        title:
                          type: "string"
                          example: "Error title"
                        detail:
                          type: "string"
                          example: "Additional details about the error"
                        links:
                          type: "object"
                        meta:
                          type: "object"
                        source:
                          type: "object"
              examples:
                not-acceptable-example:
                  value:
                    errors:
                    - status: 406
                      title: "Not Acceptable"
                      detail: "Request's Accept header contained the JSON:API media\
                        \ type and all instances of that media type were modified\
                        \ with media type parameters."
        "429":
          description: "The API quota has been exceeded."
          content:
            application/vnd.api+json:
              schema:
                type: "object"
                properties:
                  errors:
                    type: "array"
                    items:
                      description: "An error"
                      type: "object"
                      properties:
                        status:
                          type: "integer"
                          example: 400
                        title:
                          type: "string"
                          example: "Error title"
                        detail:
                          type: "string"
                          example: "Additional details about the error"
                        links:
                          type: "object"
                        meta:
                          type: "object"
                        source:
                          type: "object"
              examples:
                not-found-example:
                  value:
                    errors:
                    - status: 429
                      title: "Too Many Requests"
                      detail: "The quota has been exceeded."
        "500":
          description: "An unexpected error."
          content:
            application/vnd.api+json:
              schema:
                type: "object"
                properties:
                  errors:
                    type: "array"
                    items:
                      description: "An error"
                      type: "object"
                      properties:
                        status:
                          type: "integer"
                          example: 400
                        title:
                          type: "string"
                          example: "Error title"
                        detail:
                          type: "string"
                          example: "Additional details about the error"
                        links:
                          type: "object"
                        meta:
                          type: "object"
                        source:
                          type: "object"
              examples:
                not-found-example:
                  value:
                    errors:
                    - status: 500
                      title: "Internal Server Error"
                      detail: "Something went wrong in the server-side."
  /standardJobDescriptions:
    get:
      description: "Get a list of standard job descriptions."
      summary: "Get a list of standard job descriptions."
      operationId: "get_job_descriptions"
      tags:
      - "Standard Job Descriptions"
      parameters:
      - name: "page"
        in: "query"
        description: "Define options for pagination of responses. For example, `page[number]`\
          \ parameter (example: `page[number]=4`). The `page[number]` determines the\
          \ page to display. The size of the page is a constant of 100."
        required: false
        style: "deepObject"
        explode: true
        schema:
          type: "object"
          properties:
            number:
              type: "integer"
              example: 5
              default: 1
              description: "The page number to display."
      - name: "include"
        in: "query"
        description: "[include related resources](https://jsonapi.org/format/#fetching-includes).\
          \ The resources to include need to be direct relationships. For example,\
          \ `include=allSubordinateOrganizations`."
        schema:
          type: "string"
      - name: "filter"
        in: "query"
        description: "Filter results of query using the [filter query parameter family](https://jsonapi.org/recommendations/#filtering).\
          \ Refer to the [HR API Documentation](https://kb.wisc.edu/uw-apis/158637)\
          \ for more information about the `filter` query param."
        required: false
        style: "deepObject"
        explode: true
        schema:
          type: "object"
          additionalProperties: false
          properties:
            attribute:
              type: "string"
              example: "name"
      responses:
        "200":
          description: "A collection of standard job descriptions."
          content:
            application/vnd.api+json:
              schema:
                type: "object"
                required:
                - "data"
                - "links"
                - "meta"
                properties:
                  data:
                    description: "A collection of standard job descriptions."
                    type: "array"
                    items:
                      description: "A job description."
                      type: "object"
                      properties:
                        type:
                          type: "string"
                          example: "jobDescriptions"
                        id:
                          type: "string"
                          description: "The Job Code which uniquely identifies a job\
                            \ description."
                          example: "AD001"
                        attributes:
                          type: "object"
                          properties:
                            title:
                              type: "string"
                              example: "Administrative Assistant I"
                              description: "The job title."
                            group:
                              type: "string"
                              example: "Administration Group"
                              description: "The job group."
                            subGroup:
                              type: "string"
                              example: "Administrative Services"
                              description: "The job sub-group."
                            summary:
                              type: "string"
                              example: "Provides administrative support to a department\
                                \ or group of professionals in support of unit goals\
                                \ under direct supervision."
                              description: "Brief statement explaining the primary\
                                \ function of this job."
                            education:
                              type: "string"
                              example: "High School Diploma"
                              description: "Preferred education level for this job."
                            responsibilities:
                              type: "array"
                              items:
                                type: "string"
                              example:
                              - "Schedules logistics and secures resources for meetings,\
                                \ conferences, travel, and work unit operations."
                              - "Sends, receives, copies, and distributes communications\
                                \ to the appropriate entities according to established\
                                \ policies and procedures."
                              - "Serves as first point of contact for individuals\
                                \ and groups providing basic organizational information\
                                \ via phone, in person, and through other communication\
                                \ mediums, routing more complex inquiries to the appropriate\
                                \ entities."
                              - "Tracks, stocks, orders, and inventories office supplies\
                                \ to ensure adequate materials are available for workplace\
                                \ operation."
                              description: "Job responsibilities for this job."
                            fairLaborStandardsActStatus:
                              type: "boolean"
                              example: false
                              description: "The Fair Labor Standards Act status for\
                                \ this job description. If true, positions for this\
                                \ job description are exempt from certain FLSA provisions,\
                                \ namely overtime pay. If false, they are non-exempt.\
                                \ For more information on FLSA exemptions and exemption\
                                \ requirements, see: [Fair Labor Standards Act (FLSA)\
                                \ | Human Resources | UW–Madison](https://hr.wisc.edu/flsa/)\
                                \ and [Wages and the Fair Labor Standards Act | U.S.\
                                \ Department of Labor](https://www.dol.gov/agencies/whd/flsa)"
                            employeeCategory:
                              type: "string"
                              example: "University Staff"
                              description: "The employee category this job falls under."
                        relationships:
                          type: "object"
                          properties:
                            salaryStructures:
                              description: "The salary structures associated with\
                                \ this standard job description."
                              type: "object"
                              properties:
                                data:
                                  type: "array"
                                  items:
                                    type: "object"
                                    properties:
                                      type:
                                        type: "string"
                                        example: "salaryStructures"
                                      id:
                                        type: "string"
                                        description: "The salary structure ID."
                                        example: "30d6a232973a1001722a090ff0940000"
                                links:
                                  type: "object"
                                  properties:
                                    related:
                                      type: "string"
                                      description: "Link to the salary structures\
                                        \ associated with this standard job description."
                                      example: "https://api.wisc.edu/hr/standardJobDescriptions/AD001/salaryStructures"
                        links:
                          description: "The link to the supervisory organization."
                          type: "object"
                          properties:
                            self:
                              type: "string"
                              example: "https://api.wisc.edu/hr/supervisoryOrganizations/SO0000123"
                  relationships:
                    description: "Relationships to other resources."
                    type: "object"
                    properties:
                      salaryStructures:
                        description: "The salary structures associated with this standard\
                          \ job description."
                        type: "object"
                        properties:
                          data:
                            type: "array"
                            items:
                              type: "object"
                              properties:
                                type:
                                  type: "string"
                                  example: "salaryStructures"
                                id:
                                  type: "string"
                                  description: "The salary structure ID."
                                  example: "30d6a232973a1001722a090ff0940000"
                  links:
                    description: "Self and pagination links."
                    allOf:
                    - description: "The links associated with a paginated collection"
                      type: "object"
                      properties:
                        self:
                          description: "The current page of data"
                          type: "string"
                          format: "uri-reference"
                          example: "https://api.wisc.edu/hr/supervisoryOrganizations?page[number]=3"
                        prev:
                          description: "The previous page of data"
                          type: "string"
                          format: "uri-reference"
                          example: "https://api.wisc.edu/hr/supervisoryOrganizations?page[number]=2"
                        next:
                          description: "The next page of data"
                          type: "string"
                          format: "uri-reference"
                          example: "https://api.wisc.edu/hr/supervisoryOrganizations?page[number]=4"
                        first:
                          description: "The first page of data"
                          type: "string"
                          format: "uri-reference"
                          example: "https://api.wisc.edu/hr/supervisoryOrganizations?page[number]=1"
                        last:
                          description: "The last page of data"
                          type: "string"
                          format: "uri-reference"
                          example: "https://api.wisc.edu/hr/supervisoryOrganizations?page[number]=6"
                  meta:
                    type: "object"
                    properties:
                      paging:
                        type: "object"
                        properties:
                          pageNumber:
                            type: "integer"
                            example: 5
                            description: "The page number to display"
                          pageSize:
                            type: "integer"
                            example: 10
                            description: "The number of items per page"
                          totalCount:
                            type: "integer"
                            example: 100
                            description: "The total number of items available for\
                              \ the collection"
                          totalPages:
                            type: "integer"
                            example: 10
                            description: "The total number of pages available for\
                              \ the collection"
                        example: 100
                        description: "The total number of items in the collection"
              examples:
                standard-job-descriptions:
                  value:
                    data:
                    - id: "AD001"
                      type: "standardJobDescriptions"
                      attributes:
                        title: "Administrative Assistant I"
                        group: "Administration Group"
                        subGroup: "Administrative Services"
                        summary: "Provides administrative support to a department\
                          \ or group of professionals in support of unit goals under\
                          \ direct supervision."
                        education: "High School Diploma"
                        responsibilities:
                        - "Schedules logistics and secures resources for meetings,\
                          \ conferences, travel, and work unit operations."
                        - "Sends, receives, copies, and distributes communications\
                          \ to the appropriate entities according to established policies\
                          \ and procedures."
                        - "Serves as first point of contact for individuals and groups\
                          \ providing basic organizational information via phone,\
                          \ in person, and through other communication mediums, routing\
                          \ more complex inquiries to the appropriate entities."
                        - "Tracks, stocks, orders, and inventories office supplies\
                          \ to ensure adequate materials are available for workplace\
                          \ operation."
                        fairLaborStandardsActStatus: false
                        employeeCategory: "University Staff"
                      relationships:
                        salaryStructures:
                          data:
                          - id: "30d6a232973a1001722a090ff0940000"
                            type: "salaryStructures"
                          - id: "30d6a232973a1001722b18e92f860000"
                            type: "salaryStructures"
                          - id: "30d6a232973a1001722c549806240000"
                            type: "salaryStructures"
                          links:
                            related: "https://api.wisc.edu/hr/standardJobDescriptions/AD001/salaryStructures"
                      links:
                        self: "https://api.wisc.edu/hr/standardJobDescriptions/AD001"
                    meta:
                      paging:
                        pageNumber: 5
                        pageSize: 10
                        totalCount: 100
                        totalPages: 10
                    links:
                      self: "https://api.wisc.edu/hr/standardJobDescriptions"
        "400":
          description: "A bad request."
          content:
            application/vnd.api+json:
              schema:
                type: "object"
                properties:
                  errors:
                    type: "array"
                    items:
                      description: "An error"
                      type: "object"
                      properties:
                        status:
                          type: "integer"
                          example: 400
                        title:
                          type: "string"
                          example: "Error title"
                        detail:
                          type: "string"
                          example: "Additional details about the error"
                        links:
                          type: "object"
                        meta:
                          type: "object"
                        source:
                          type: "object"
              examples:
                application/vnd.api+json:
                  value:
                    errors:
                    - status: 400
                      title: "Bad Request"
                      detail: "Invalid properties in query parameters - resource type\
                        \ 'jobs' has no attribute 'invalid'."
        "401":
          description: "Incorrect or expired OAuth token."
          content:
            application/vnd.api+json:
              schema:
                type: "object"
                properties:
                  errors:
                    type: "array"
                    items:
                      description: "An error"
                      type: "object"
                      properties:
                        status:
                          type: "integer"
                          example: 400
                        title:
                          type: "string"
                          example: "Error title"
                        detail:
                          type: "string"
                          example: "Additional details about the error"
                        links:
                          type: "object"
                        meta:
                          type: "object"
                        source:
                          type: "object"
              examples:
                unauthorized-response:
                  value:
                    errors:
                    - status: 401
                      title: "Unauthorized"
                      detail: "Invalid OAuth authentication - InvalidAccessToken"
        "406":
          description: "Servers respond with a 406 Not Acceptable status code if a\
            \ request’s Accept header contains the JSON:API media type and all instances\
            \ of that media type are modified with media type parameters."
          content:
            application/vnd.api+json:
              schema:
                type: "object"
                properties:
                  errors:
                    type: "array"
                    items:
                      description: "An error"
                      type: "object"
                      properties:
                        status:
                          type: "integer"
                          example: 400
                        title:
                          type: "string"
                          example: "Error title"
                        detail:
                          type: "string"
                          example: "Additional details about the error"
                        links:
                          type: "object"
                        meta:
                          type: "object"
                        source:
                          type: "object"
              examples:
                not-acceptable-example:
                  value:
                    errors:
                    - status: 406
                      title: "Not Acceptable"
                      detail: "Request's Accept header contained the JSON:API media\
                        \ type and all instances of that media type were modified\
                        \ with media type parameters."
        "429":
          description: "The API quota has been exceeded."
          content:
            application/vnd.api+json:
              schema:
                type: "object"
                properties:
                  errors:
                    type: "array"
                    items:
                      description: "An error"
                      type: "object"
                      properties:
                        status:
                          type: "integer"
                          example: 400
                        title:
                          type: "string"
                          example: "Error title"
                        detail:
                          type: "string"
                          example: "Additional details about the error"
                        links:
                          type: "object"
                        meta:
                          type: "object"
                        source:
                          type: "object"
              examples:
                not-found-example:
                  value:
                    errors:
                    - status: 429
                      title: "Too Many Requests"
                      detail: "The quota has been exceeded."
        "500":
          description: "An unexpected error."
          content:
            application/vnd.api+json:
              schema:
                type: "object"
                properties:
                  errors:
                    type: "array"
                    items:
                      description: "An error"
                      type: "object"
                      properties:
                        status:
                          type: "integer"
                          example: 400
                        title:
                          type: "string"
                          example: "Error title"
                        detail:
                          type: "string"
                          example: "Additional details about the error"
                        links:
                          type: "object"
                        meta:
                          type: "object"
                        source:
                          type: "object"
              examples:
                not-found-example:
                  value:
                    errors:
                    - status: 500
                      title: "Internal Server Error"
                      detail: "Something went wrong in the server-side."
  /standardJobDescriptions/{jobCode}:
    get:
      description: "Get a standard job description."
      summary: "Get a standard job description."
      operationId: "get_job_description"
      tags:
      - "Standard Job Descriptions"
      parameters:
      - name: "jobCode"
        description: "The Job Code which uniquely identifies a job description."
        in: "path"
        example: "AD001"
        required: true
        schema:
          type: "string"
      - name: "include"
        in: "query"
        description: "[include related resources](https://jsonapi.org/format/#fetching-includes).\
          \ The resources to include need to be direct relationships. For example,\
          \ `include=allSubordinateOrganizations`."
        schema:
          type: "string"
      responses:
        "200":
          description: "A standard job description."
          content:
            application/vnd.api+json:
              schema:
                type: "object"
                required:
                - "data"
                - "links"
                properties:
                  data:
                    description: "A job description."
                    type: "object"
                    properties:
                      type:
                        type: "string"
                        example: "jobDescriptions"
                      id:
                        type: "string"
                        description: "The Job Code which uniquely identifies a job\
                          \ description."
                        example: "AD001"
                      attributes:
                        type: "object"
                        properties:
                          title:
                            type: "string"
                            example: "Administrative Assistant I"
                            description: "The job title."
                          group:
                            type: "string"
                            example: "Administration Group"
                            description: "The job group."
                          subGroup:
                            type: "string"
                            example: "Administrative Services"
                            description: "The job sub-group."
                          summary:
                            type: "string"
                            example: "Provides administrative support to a department\
                              \ or group of professionals in support of unit goals\
                              \ under direct supervision."
                            description: "Brief statement explaining the primary function\
                              \ of this job."
                          education:
                            type: "string"
                            example: "High School Diploma"
                            description: "Preferred education level for this job."
                          responsibilities:
                            type: "array"
                            items:
                              type: "string"
                            example:
                            - "Schedules logistics and secures resources for meetings,\
                              \ conferences, travel, and work unit operations."
                            - "Sends, receives, copies, and distributes communications\
                              \ to the appropriate entities according to established\
                              \ policies and procedures."
                            - "Serves as first point of contact for individuals and\
                              \ groups providing basic organizational information\
                              \ via phone, in person, and through other communication\
                              \ mediums, routing more complex inquiries to the appropriate\
                              \ entities."
                            - "Tracks, stocks, orders, and inventories office supplies\
                              \ to ensure adequate materials are available for workplace\
                              \ operation."
                            description: "Job responsibilities for this job."
                          fairLaborStandardsActStatus:
                            type: "boolean"
                            example: false
                            description: "The Fair Labor Standards Act status for\
                              \ this job description. If true, positions for this\
                              \ job description are exempt from certain FLSA provisions,\
                              \ namely overtime pay. If false, they are non-exempt.\
                              \ For more information on FLSA exemptions and exemption\
                              \ requirements, see: [Fair Labor Standards Act (FLSA)\
                              \ | Human Resources | UW–Madison](https://hr.wisc.edu/flsa/)\
                              \ and [Wages and the Fair Labor Standards Act | U.S.\
                              \ Department of Labor](https://www.dol.gov/agencies/whd/flsa)"
                          employeeCategory:
                            type: "string"
                            example: "University Staff"
                            description: "The employee category this job falls under."
                      relationships:
                        type: "object"
                        properties:
                          salaryStructures:
                            description: "The salary structures associated with this\
                              \ standard job description."
                            type: "object"
                            properties:
                              data:
                                type: "array"
                                items:
                                  type: "object"
                                  properties:
                                    type:
                                      type: "string"
                                      example: "salaryStructures"
                                    id:
                                      type: "string"
                                      description: "The salary structure ID."
                                      example: "30d6a232973a1001722a090ff0940000"
                              links:
                                type: "object"
                                properties:
                                  related:
                                    type: "string"
                                    description: "Link to the salary structures associated\
                                      \ with this standard job description."
                                    example: "https://api.wisc.edu/hr/standardJobDescriptions/AD001/salaryStructures"
                      links:
                        description: "The link to the supervisory organization."
                        type: "object"
                        properties:
                          self:
                            type: "string"
                            example: "https://api.wisc.edu/hr/supervisoryOrganizations/SO0000123"
                  links:
                    description: "The link to the supervisory organization."
[...]
